section(id='contact').contact.rel
  .container
    .contact__body
      .contact__form._a
        include ../form/form.pug
      .contact__title.title2._b 
        h2 Узнайте сколько вы сможете зарабатывать с нами!
      ul.contact__items._c
        include ../items/items.pug