section(id='contact').contact.rel
  .container
    .contact__body
      .contact__form
        include ../form/form.pug
      .contact__title
        include ../title/title.pug
      ul.contact__items
        include ../items/items.pug