section(id='pres').pres.rel
    .pres__body
      .pres__img1.pres-img
        .imgs
          img(src='../../../../assets/img/kris-1.jpg' alt='img')
      .pres__img2.pres-img
        .imgs
          img(src='../../../../assets/img/kris-2.jpg' alt='img')
      .pres__img3.pres-img
        .imgs
          img(src='../../../../assets/img/kris-3.jpg' alt='img')

