section(id='develop').develop.rel
  .imgs
    img(src='./img/paralax.jpg' alt='img')
  .container
    .develop__body
      .develop__title
        include ../title/title.pug
      .develop__text Наши образовательные проекты – проявление подхода компании к работе и ее ценностей. Первая школа риэлторов одобренная Министерством науки и образования Украины и ежегодная конференция Realty Forum, которую посещают все специалисты по недвижимости — наш весомый вклад в улучшение отрасли.
      .develop__buttons
        include ../buttons/bunner-button.pug
      .develop__img-block
        .develop__img1.rel
          .imgs
            img(src='../../../../assets/img/develop1.png' alt='img')
        .develop__img2.rel
          .imgs
            img(src='../../../../assets/img/develop2.png' alt='img')
        .develop__img3.rel
          .imgs
            img(src='../../../../assets/img/develop3.png' alt='img')


