section(id='develop').develop.rel
  .container
    .develop__body
      .develop__title.title2._a
        h2 15 лет развиваем профессиональное сообщество
      .develop__text._b Наши образовательные проекты – проявление подхода компании к работе и ее ценностей. Первая школа риэлторов одобренная Министерством науки и образования Украины и ежегодная конференция Realty Forum, которую посещают все специалисты по недвижимости — наш весомый вклад в улучшение отрасли.
      .develop__buttons._c
        a.btn.btn--empty.but-wave.popups-init-js(rel='#popup1' href='#!')
          p Школа риелторов
          svg
            use(xlink:href='../../../../assets/img/sprite.svg#Solid')
        a.btn.btn--empty.but-wave.popups-init-js(rel='#popup1' href='#!')
          p  Realty Forum
          svg
            use(xlink:href='../../../../assets/img/sprite.svg#Solid')
      ul.develop__img-block._d
        li.develop__img1.rel._g
          .imgs
            img(src='../../../../assets/img/develop1.png' alt='img')
        li.develop__img2.rel._h
          .imgs
            img(src='../../../../assets/img/develop2.png' alt='img')
        li.develop__img3.rel._j
          .imgs
            img(src='../../../../assets/img/develop3.png' alt='img')


