section(id='index-pronomen').phrasen.rel
    .phrasen__spans
      span derselbe -----тот же
      span solcher -----подобный такой
      span jeder -----каждый
      span jener -----тот

    ul.uber__links.uber-blocks.uber-blocks
      
      include data.pug
      each block in blocks
        li.uber-block.js-cell
          .versteckt=block.text
          .uber-block__card.js-card(draggable='true')
            h4=block.title

    section(id='demo-pronomen').demo-pronomen
          img(src='../assets/img/3.png' alt='img')
          img(src='../assets/img/1.png' alt='img')
          img(src='../assets/img/2.png' alt='img')






