.tab__title--index-pronomen {
  background: rgb(116, 123, 212);
  &._is-active {
    background: rgb(31, 37, 117);
  }
}
#index-pronomen {
  p {
    margin: 5px 0 8px;
    font-size: larger;
    color: rgb(59, 8, 117);
  }
  .uber-blocks {
    grid-template-columns: repeat(3, 1fr);
  }
  .uber-block {
    outline: 2px solid rgb(116, 123, 212);
    &__card {
      background: rgb(99, 105, 182);
    }
  }
  .versteckt {
    width: calc(100%);
    font-size: 16px;
  }
  .demo-pronomen {
    img {
      position: relative;
    }
  }
  .phrasen__spans{
    display: flex;
    column-gap: 10px;
    margin: 0 0 10px 0;
    span{
      border: 1px solid red;
      border-radius: 2px;
      padding: 0 5px 0;
    }

  }
}
