.textarea-field {
  // position: relative;
  // @include transition;
  // width: 100%;
  // max-width: 320px;
  // border: none;
  // &:last-of-type {
  // margin: 0 0 0 0;
  // }
  background: whitesmoke;
  width: 100%;
  position: relative;
  textarea {
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    @include transition;
    display: block;
    padding: 0px 20px 0px;
    border: 1px solid grey;
    cursor: pointer;
    z-index: 5;
    background: transparent;

    &::placeholder {
      opacity: 0;
    }
    & + label {
      position: absolute;
      transform: translateY(0%);
      @include transition;
      padding: 0px 20px 0px;
      top: 0;
      z-index: 2;
    }
    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        transform: translateY(-110%);
      }
    }
  }

  &:hover {
    label {
      color: lighten(green, 25%);
    }
  }
}
