section(id='nark').nark.rel
  .container
    .nark__body
      .nark__title.title
        h2 Наркологическая клиника в Москве: 
          span опытные врачи, хорошие условия и гарантия анонимности

      p.nark__text Алкогольная и наркотическая зависимость – одна из основных возможных причин смерти во всех странах. Чтобы освободиться от проблемы, больной должен получить профессиональную помощь. Наркологическая клиника «Запоям – нет» в Москве работает с пациентами, независимо от степени тяжести их состояния, и разрабатывает индивидуальное эффективное лечение, которое гарантированно избавит от аддиктивного состояния.

      .nark__title1 
        h3 Выбор клиники
      p.nark__text Зависимость – это психическое заболевание, при котором у человека происходит расстройство воли, мешающее справиться с компульсивной тягой к этанолу. Справиться с ним самостоятельно, не обращаясь к наркологу, можно только на первой стадии алкоголизма. Но при развитии абстиненции, когда психологическая тяга осложняется физической, требуется обратиться в центр помощи зависимым.
        <br>Квалифицированные врачи принимают пациентов в крупных и маленьких городах в государственных и платных наркологических клиниках. Если учреждение имеет лицензию, оно обязано опираться при лечебном процессе на клинические рекомендации Минздрава, в которые входит описание всех доказавших действенность и безопасность методов.
      .nark__title2 
        h3 Но в коммерческих центрах терапия проходит:
      .nark__items.items
        -
          var blocks = [
            {text: 'Анонимно'},
            {text: 'C обеспечением высокого уровня комфорта'},
            {text: 'C применением современных методик и хороших препаратов'},
          ];
        each block in blocks
          p.items__item=block.text
      p.nark__text Кроме приемного отделения и стационара, в частных наркологических клиниках есть реабилитационный центр и служба выезда специалистов на дом. Помощь оказывается круглосуточно, при этом пациент может связаться с медиком в любое время суток для получения дополнительной информации о лечении.















