.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  opacity: 0;
  display: none;
  &._is-active {
    animation: openPop 0.3s;
    animation-fill-mode: forwards;
  }
  &._not-active {
    animation: closePop 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes openPop {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes closePop {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.popup__overlay {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.popup__inner {
  position: relative;
  z-index: 1010;
  display: flex;
  border: 10px solid rgb(93, 15, 138);
  border-radius: 10px;
  z-index: 1010;
  width: 60vw;
  margin: 100px 0;
}
.popup__content {
  display: none;
  background: #ffffff;
}

.popup__content--galery {
  min-width: 80vw;
  min-height: 80vh;
}

.popup__content--plyr {
  // max-height: 800px;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  display: none;
  max-width: 68vw;
  max-height: 80vh;
}

.popup__content--Oder {
  width: 1200px;
  max-width: 1200px;
  max-height: 739px;
  background: #ffffff;
  border-radius: 24px;
}

.popup__close {
  height: 40px;
  position: absolute;
  width: 40px;
  opacity: 0.7;
  right: 4px;
  top: 5px;
}

.popup__close svg {
  fill: #7f98ae;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

.popup__close:hover {
  cursor: pointer;
}

.popup__close:hover svg {
  fill: darkgray;
}

@media (max-width: 900px) {
  .popup__inner {
    min-width: 100%;
  }

  .popup-close-js {
    right: 3px;
    top: 6px;
  }
}

.popup__content--Oder {
}

.Oder {
  grid-template-columns: 1fr 500px;
  border-radius: 24px;

  &__left {
    padding: 46px 0 46px 68px;
  }
  &__oder-block {
    h2 {
      line-height: 48px;
      color: #050000;
    }
    span {
      color: #fb1f1d;
    }
    a {
      display: inline-flex;
      width: 42px;
      height: 42px;

      background: radial-gradient(
          92.09% 85.42% at 86.3% 87.5%,
          rgba(0, 0, 0, 0.23) 0%,
          rgba(0, 0, 0, 0) 86.18%
        ),
        radial-gradient(
          65.28% 65.28% at 26.39% 20.83%,
          rgba(255, 255, 255, 0.413) 0%,
          rgba(255, 255, 255, 0) 69.79%,
          rgba(255, 255, 255, 0) 100%
        ),
        #fb1f1d;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
      border-radius: 100px;
      transition: 0.3s all;
      cursor: pointer;
      margin: 0 0 0 5px;
      &:hover {
        box-shadow: 0px 0px 12px #fb211d88;
      }
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__pre-title {
    color: #fb1f1d;
    margin: 34px 0 0;
  }
  &__title {
    color: #050000;
    font-family: "DrukCyr";
    text-transform: uppercase;
    margin: 7px 0 0 0;
    letter-spacing: 0.05em;
  }
  &__line {
    margin: 40px 0 0 0;
    margin: -2px 0 0;
  }
  &__recl {
    color: #050000;
    line-height: 28px;
    margin: 5px 0 0 -106px;
    text-align: center;
  }
  &__right {
    background: #ffffff;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
  }

  .buy__price {
    color: #050000;
    font-size: 30px;
  }
  .buy__disc {
    height: 14px;
    width: 69px;
    margin: 0 14px 1px -7px;
    color: #7f98ae;
    position: relative;
    font-weight: 200;
    font-size: 17px;
    &::after {
      border: 1px solid #7f98ae;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      transform: rotate(-11deg);
      width: 58px;
      top: 9px;
      opacity: 0.7;
    }
  }

  .buy__button-small {
    margin: 0 14px 0px -4px;
    height: 33px !important;
    width: 181px !important;
  }
  .buy-line__button {
    width: 44px;
    height: 44px;
    margin: 0 -5px 0 5px;
  }
  .buy-line__cheap {
    height: 90px;
    width: 90px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  &__img {
    height: 426px;
    width: 463px;
    margin: -32px 0 0 2px;
  }

  .buy-line {
    margin: -139px 0 0 163px;
  }
}

.Oder-form {
  padding: 45px 0 0 0;
}

.Oder-form {
  padding: 53px 0 0;
  display: flex;
  flex-direction: column;
  padding: 53px 58px 0;

  &__title {
    color: #050000;
    position: relative;
    &::after {
      border: 3px solid #fa0029;
      border-radius: 50%;
      content: "";
      height: 14px;
      left: -22px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
    }
  }
  &__post-title {
    letter-spacing: 0.03em;
    color: #050000;
    margin: 14px 0 0 0;
    line-height: 24px;

    color: #050000;
    letter-spacing: 0em;
    line-height: 24px;
    margin: 14px 0 0;
    font-weight: 400;
  }
  &__inputs-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin: 25px 0 0 0;
  }
  &__input {
    width: 387px;
    height: 56px;
    background: rgba(127, 152, 174, 0.08);
    border-radius: 50px;
    padding: 0 0 0 15px;
    &::placeholder {
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: #7f98ae;
      text-align: center;
    }
  }
  &__button {
    width: 387px;
    height: 64px;
    margin: 25px 0 0 0;
    box-shadow: 4px 10px 20px rgba(250, 38, 36, 0.25) !important;
  }

  button.btn--empty {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #020c21;
    background: transparent !important;
    box-shadow: none !important;
  }

  &__politic {
    margin: 23px 0 0;
    text-align: center;
    p {
      color: #000c21;
    }

    a {
      text-align: center;
      display: block;
      color: #009bfc;
      margin: 6px 0 0 0;
    }
  }
}

.Call {
  width: 500px;
  height: 617px;
  background: #ffffff;
  border-radius: 24px;
}

.Call {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 47px 0 0 0;
  }
  &__title {
    line-height: 44px;
    text-align: center;
    color: #050000;
    span {
      color: #fb1f1d;
    }
  }
  &__post-title {
    line-height: 28px;
    text-align: center;
    margin: 11px 0 0 0;
    color: #7f98ae;
  }
  &__button {
    width: 387px;
    height: 73px;
    margin: 28px 0 0;
    box-shadow: 4px 10px 20px rgba(250, 38, 36, 0.25) !important;
    cursor: pointer;
  }
  &__check-block {
    margin: 15px 0 0;
  }
  &__check {
    width: 24px;
    height: 24px;
    position: relative;
  }
  &__span {
    color: #000c21;
  }
  &__link {
    color: #009bfc;
    display: inline-block;
    margin: 0 0 0 23px;
    span {
      color: #000c21;
    }
  }
  .Oder-form__inputs-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px 0 0;
    row-gap: 20px;
  }
  .Oder-form__input {
    background: rgba(127, 152, 174, 0.08);
    border-radius: 50px;
    height: 74px;
    padding: 0 0 0 15px;
    width: 387px;
    &::placeholder {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #7f98ae;
      text-align: center;
    }
  }
}

.Thanks {
  width: 500px;
  height: 617px;
  border-radius: 24px;

  .Call__body {
    padding: 97px 0 0;
  }

  .Call__title {
    margin: -17px 0 0 0;
  }
  .Call__post-title {
  }
  .Call__button {
  }
}

.Age {
  width: 489px;
  height: 276px;
  border-radius: 24px;
  .Call__body {
    padding: 49px 0 0;
    position: relative;
    &::after {
      content: "";
      width: 100px;
      height: 100px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10000;
      border-radius: 24px;
      background: #ffffff;
    }
  }

  .Call__title {
    margin: -17px 0 0 0;
  }
  .Call__post-title {
  }
  .Call__button {
    width: 234px;
    height: 60px;
    margin: 16px 0 0;
  }
}

.Politic {
  border-radius: 30px;
  .Politic__body {
    padding: 35px;
  }
  .Politic__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 0 0 18px 0;
  }
  .Politic__block-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
    padding: 8px 0 0;
  }
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    padding: 8px 0 0;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .Call {
    background: #ffffff;
    border-radius: 22px;
    width: 500px;
    height: 617px;
    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 46px 36px 0;
    }
    &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      span {
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
      }
    }
    &__post-title {
      text-align: center;
      margin: 11px 0 0 0;
      color: #7f98ae;
      margin: 13px 0 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
    }
    &__button {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      border-radius: 100px;
      width: 387px;
      height: 73px;
      margin: 30px 0 0;
    }
    &__check-block {
      margin: 26px 0 0;
    }
    &__check {
      width: 15px;
      height: 15px;
      position: relative;
    }
    &__span {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }
    &__link {
      color: #009bfc;
      display: inline-block;
      margin: 0 0 0 23px;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
      }
    }
    .Oder-form__inputs-area {
      margin: 28px 0 0;
      row-gap: 20px;
      width: 100%;
    }
    .Oder-form__input {
      background: rgba(127, 152, 174, 0.08);
      border-radius: 32px;
      padding: 0 0 0 10px;
      width: 387px;
      height: 74px;
      border-radius: 50px;
      &::placeholder {
        color: #7f98ae;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
      }
    }

    input[type="checkbox"]:checked + label::before,
    input[type="checkbox"]:not(:checked) + label::before,
    input[type="radio"]:checked + label::before,
    input[type="radio"]:not(:checked) + label::before {
      height: 18px !important;
      width: 18px !important;
      top: 4px !important;
      left: -5px !important;
    }

    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label,
    input[type="radio"]:checked + label,
    input[type="radio"]:not(:checked) + label {
      padding-left: 20px !important;
    }

    input[type="checkbox"]:checked + label::after,
    input[type="checkbox"]:not(:checked) + label::after {
      height: 8px;
      left: 0px;
      top: 7px;
      width: 8px;
    }
  }

  // =======================

  .Thanks {
    width: 418px;
    height: 505px;
    .Thanks__img {
      height: 175px;
      width: 175px;
      margin: 20px 0 0 0;
    }
    .Call__body {
      padding: 63px 0 0;
    }

    .Call__title {
      margin: -17px 0 0 0;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      order: -2;
    }
    .Call__post-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      order: -1;
    }
    .Call__button {
      width: 313px;
      height: 76px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin: -10px 0 0;
    }
  }

  //  =======================
  .Age {
    border-radius: 18px;
    width: 489px;
    height: 276px;
    .Call__body {
      padding: 53px 0 0;
    }

    .Call__title {
      margin: -17px 0 0 0;
      font-weight: 700;
      font-size: 46px;
    }
    .Call__post-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin: 20px 0 0;
    }
    .Call__button {
      height: 60px;
      margin: 33px 0 0;
      max-width: 242px;
      width: 233px;
      font-size: 13px;
    }
  }

  .popup__close {
    height: 48px;
    opacity: 0.7;
    position: absolute;
    right: 11px;
    top: 9px;
    width: 51px;
  }
}

@media (min-width: 901px) and (max-width: 1280px) {
  .Oder {
    grid-template-columns: 1fr;
    border-radius: 18px;
    max-width: 662px;

    &__left {
      padding: 24px 0 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 800px;
      margin: 0 auto;
    }
    &__oder-block {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
      }

      span {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
      }

      a {
        display: flex;
        height: 30px;
        margin: 12px 0 0;
        position: absolute;
        right: -41px;
        top: 66%;
        transform: translateY(-50%);
        width: 30px;
      }
      svg {
        width: 15px;
        height: 15px;
        transform: rotate(90deg);
      }
    }
    &__pre-title {
      margin: -2px 0 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 60px;
    }
    &__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 41px;
      margin: -18px 0 0;
    }
    &__line {
      margin: -2px 0 0;
      width: 100%;
    }
    &__recl {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 7px 0 0 0;
    }
    &__right {
      box-shadow: none;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0 0 0;
    }
    .buy__block {
      margin: 12px 0 0 0 !important;
      justify-content: space-between;
    }

    .buy__price {
      color: #050000;
      margin: 6px 0px 10px 9px;
      font-weight: 700;
      font-size: 30px;
      line-height: 24px;
    }
    .buy__disc {
      margin: 0 0 0 0;
      font-weight: 200;
      font-size: 21px;
      line-height: 13px;
      color: #c3cbd2;
      white-space: nowrap;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 75px;
        height: 0px;
        top: 50%;
        transform: rotate(173deg);
        border: 0.95473px solid #c3cbd2;
      }
    }

    .buy__button-small {
      margin: 0 0 0 16px;
      max-width: 165px !important;
      height: 41px !important;
      background: rgba(127, 152, 174, 0.45);
      border-radius: 33px;
    }
    .buy-line__button {
      height: 32px;
      margin: 0 4px 0 -10px;
      width: 32px;
    }
    .buy-line__cheap {
      width: 64px;
      height: 64px;
      img {
        height: 100%;
        width: 100%;
      }
    }

    &__img {
      height: 346px;
      left: -23px;
      margin: 0;
      position: relative;
      position: absolute;
      top: -24px;
      width: 367px;
    }

    .buy-line {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      justify-content: left;
      row-gap: 20px;
      margin: -135px 7px 0 -10px;
    }
  }

  .Oder-form {
    display: flex;
    flex-direction: column;
    padding: 23px 0 47px;
    &__title {
      font-weight: 600;
      font-size: 30px;
      line-height: 44px;
      span {
        color: #fb1f1d;
      }
      &::after {
      }
    }
    &__post-title {
      // color: #7f98ae;
      letter-spacing: 0;
      line-height: 24px;
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      margin: 6px 0 0;
    }
    &__inputs-area {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 16px 0 0;
      row-gap: 20px;
    }
    &__input {
      padding: 0 0 0 15px;
      border-radius: 50px;
      max-width: 387px;
      width: 387px;
      height: 56px;
      &::placeholder {
        color: #7f98ae;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
      }
    }
    &__button {
      margin: 28px 0 0;
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      max-width: 387px;
      height: 64px;
    }

    button.btn--empty {
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      max-width: 387px;
      height: 64px;
      margin: 18px 0 0 0;
    }

    &__politic {
      margin: 23px 0 0;
      text-align: center;
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
      }

      a {
        margin: 6px 0 0 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  // =======================
}

@media (max-width: 900px) {
  .Politic {
    .Politic__body {
      padding: 48px 20px;
    }
  }

  .Oder {
    grid-template-columns: 1fr;
    border-radius: 18px;
    width: 100%;

    &__left {
      padding: 26px 0 0 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 320px;
      margin: 0 auto;
    }
    &__oder-block {
      display: flex;
      align-items: center;
      flex-direction: column;
      br {
        display: none;
      }
      h2 {
        font-weight: 600;
        font-size: 21px;
        line-height: 28px;
      }

      span {
        font-weight: 600;
        font-size: 21px;
        line-height: 28px;
      }

      a {
        display: flex;
        width: 42px;
        height: 42px;
        width: 24px;
        height: 24px;
        margin: 12px 0 0 0;
      }
      svg {
        width: 13px;
        height: 13px;
        transform: rotate(90deg);
      }
    }
    &__pre-title {
      margin: 19px 0 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
    }
    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 41px;
      margin: -3px 0 0;
    }
    &__line {
      margin: 40px 0 0 0;
      margin: -2px 0 0;
    }
    &__recl {
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      margin: 7px 0 0 0;
    }
    &__right {
      box-shadow: none;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0 0 0;
    }
    .buy__block {
      margin: 12px 0 0 0;
    }

    .buy__price {
      color: #050000;
      font-size: 37px;
      // margin: 0 31px 0 0;
      margin: 0 18px 0 0;
    }
    .buy__disc {
      margin: 0 0 0 0;
      font-weight: 200;
      font-size: 21px;
      line-height: 13px;
      color: #c3cbd2;
      white-space: nowrap;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 75px;
        height: 0px;
        top: 50%;
        transform: rotate(173deg);
        border: 0.95473px solid #c3cbd2;
      }
    }

    .buy__button-small {
      margin: 0;
      max-width: 165px !important;
      height: 41px !important;
      background: rgba(127, 152, 174, 0.45);
      border-radius: 33px;
      margin: 17px 0 0 0;
    }
    .buy-line__button {
      width: 24px;
      height: 24px;
      margin: 0 4px 0 -10px;
    }
    .buy-line__cheap {
      width: 61px;
      height: 61px;
      img {
        height: 100%;
        width: 100%;
      }
    }

    &__img {
      height: 292px;
      left: -26px;
      margin: 0;
      position: relative;
      position: absolute;
      top: -14px;
      width: 315px;
    }

    .buy-line {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      justify-content: left;
      row-gap: 20px;
      margin: -108px 7px 0 -12px;
    }
    .buy__button-small::after {
      display: none;
    }
  }

  .Oder-form {
    display: flex;
    flex-direction: column;
    padding: 23px 0 47px;
    &__title {
      font-weight: 600;
      font-size: 21px;
      line-height: 28px;
      span {
        color: #fb1f1d;
      }
      &::after {
        display: none;
      }
    }
    &__post-title {
      color: #7f98ae;
      letter-spacing: 0;
      line-height: 24px;
      margin: 14px 0 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
    &__inputs-area {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 23px 0 0;
      row-gap: 16px;
    }
    &__input {
      padding: 0 0 0 15px;
      max-width: 248px;
      height: 47px;
      background: rgba(127, 152, 174, 0.08);
      border-radius: 32px;
      &::placeholder {
        color: #7f98ae;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
    }
    &__button {
      max-width: 248px;
      margin: 25px 0 0 0;
      height: 47px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }

    button.btn--empty {
      line-height: 20px;
      text-align: center;
      color: #020c21;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      margin: 18px 0 0 0;
    }

    &__politic {
      margin: 23px 0 0;
      text-align: center;
      p {
        color: #000c21;
      }

      a {
        text-align: center;
        display: block;
        color: #009bfc;
        margin: 6px 0 0 0;
      }
    }
  }

  // =======================

  .Call {
    width: 100%;
    max-height: 418px;
    background: #ffffff;
    border-radius: 18px;
    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 26px 36px 0;
    }
    &__title {
      font-size: 21px;
      line-height: 28px;
      span {
        font-size: 21px;
        line-height: 28px;
      }
    }
    &__post-title {
      text-align: center;
      margin: 11px 0 0 0;
      color: #7f98ae;

      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
    &__button {
      width: 100%;
      height: 60px;
      margin: 16px 0 0;
      max-width: 248px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
    &__check-block {
      margin: 15px 0 0;
    }
    &__check {
      width: 15px;
      height: 15px;
      position: relative;
    }
    &__span {
      color: #000c21;
    }
    &__link {
      color: #009bfc;
      display: inline-block;
      margin: -1px 0 0px 12px;
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }
    .Oder-form__inputs-area {
      margin: 16px 0 0;
      row-gap: 16px;
      width: 100%;
    }
    .Oder-form__input {
      background: rgba(127, 152, 174, 0.08);
      border-radius: 32px;
      height: 47px;
      padding: 0 0 0 10px;
      width: 100%;
      &::placeholder {
        color: #7f98ae;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
    }

    input[type="checkbox"]:checked + label::before,
    input[type="checkbox"]:not(:checked) + label::before,
    input[type="radio"]:checked + label::before,
    input[type="radio"]:not(:checked) + label::before {
      height: 12px !important;
      width: 12px !important;
      top: 4px !important;
      left: -5px !important;
    }

    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label,
    input[type="radio"]:checked + label,
    input[type="radio"]:not(:checked) + label {
      padding-left: 11px !important;
    }

    input[type="checkbox"]:checked + label::after,
    input[type="checkbox"]:not(:checked) + label::after {
      height: 4px;
      left: -3px;
      top: 7px;
      width: 7px;
    }
  }

  // =======================

  .Thanks {
    width: 100%;
    height: 395px;
    .Thanks__img {
      height: 118px;
      width: 118px;
    }
    .Call__body {
      padding: 35px 0 0;
    }

    .Call__title {
      margin: -17px 0 0 0;
    }
    .Call__post-title {
    }
    .Call__button {
      max-width: 248px;
      width: 100%;
      height: 60px;
      font-weight: 600;
      font-size: 14px;
      margin: 26px 0 0;
    }
  }

  //  =======================
  .Age {
    width: 100%;
    height: 395px;
    border-radius: 18px;
    .Call__body {
      padding: 86px 0 0;
    }

    .Call__title {
      margin: -17px 0 0 0;
      font-weight: 700;
      font-size: 46px;
    }
    .Call__post-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      max-width: 300px;
      br {
        display: none;
      }
      margin: 45px 0 0;
    }
    .Call__button {
      width: 100%;
      max-width: 248px;
      height: 60px;
      margin: 47px 0 0;
    }
  }

  //  =======================
}
