-
        var blocks = [
        {title: 'я тоже не против',text: 'ich bin auch nicht dagegen'},
        {title: 'я не хочу, чтобы мое хорошее настроение сегодня было испорчено чем-либо еще.',text: 'ich will mich meine gute Laune heute durch nichts mehr verderben lassen.'},
        {title: 'Что это должно означать?',text: 'was soll denn das? '},
        {title: 'все точно так же, как всегда',text: 'alles genau wie immer'},
        {title: 'держись подальше от этого',text: 'lass die finger davon'},
        {title: 'вот что мне приходит в голову',text: 'da fällt mir was ein'},
        {title: 'я также не люблю вставать так рано, что в данный момент я готовлюсь к учебе до позднего вечера.',text: 'ich stehe auch nicht gerne so früh auf, dass ich lerne im Moment bis spät am Abend für mein Studium.'},
        {title: 'сказано сделано',text: 'gesagt getan'},
        {title: 'в конце концов, что мне делать?',text: 'was soll ich denn machen?'},
        {title: 'присмотритесь внимательнее',text: 'passt mal auf '},
        {title: 'это тоже еще не все',text: 'das kommt auch noch dazu'},
        {title: 'разлетелись на куски ',text: 'gingen in Stücke '},
        {title: 'не выходит у меня из головы',text: 'kommt mir nicht aus dem Sinn '},
        {title: 'как это может произойти',text: 'wie es dazu kommen kann'},
        {title: 'не сердись на меня ',text: 'sei mir nicht böse'},
        {title: 'именно тогда я понял твою ошибку ',text: 'da war mir Dein Fehler klar'},
        {title: 'здесь не может быть никакой ошибки. ',text: 'es kamm hier keinen Irrtum geben.'},
        {title: 'только тогда ты поймешь',text: 'erst dann wirst du verstehen '},
        {title: 'сам по себе',text: 'von selbst '},
        {title: 'мне здесь кажется восхитительным',text: 'mir kommt es hier herrlich vor'},
        {title: 'вон там все хорошо',text: 'da drüben hat es gut '},
        {title: 'у меня покраснело в глазах',text: 'mir wurde rot vor augen '},
        
        {title: ' так что, в конце концов, это он',text: 'er ist es also doch'},
        {title: 'полезные фразы',text: 'nützliche Sätze'},
        {title: 'вы когда-нибудь были у нас  в школе?',text: 'waren sie schon einmal bei uns in der Schule?'},
        {title: 'В настоящее время все наши линии заняты',text: 'Momentan sind alle unsere Leitungen belegt'},
        {title: 'вас это устраивает?',text: 'passt es bei Ihnen gut?'},
        {title: 'шаг за шагом',text: 'Schritt für Schritt '},
        {title: 'я хочу пожаловаться',text: 'ich  möchte mich beschweren '},
        {title: 'вы получите от нас купон',text: 'sie erhalten einen Gutschein von uns '},
        {title: 'Бывает ли у вас волнение перед собеседованием?',text: 'habt ihr Bammel vor dem Gespräch? '},
        {title: 'Как вы узнали о нас?',text: 'wie haben Sie von uns erfahren?'},
        {title: 'почему вы хотите работать у нас?',text: 'warum möchten Sie bei uns arbeiten?'},
 
        {title: 'Просто заткнись!',text: 'Halt einfach die Fresse!'},
        {title: 'не могли бы вы назвать мне свое имя?',text: 'verraten Sie mir Ihren Namen?'},
        {title: 'не очень подходит',text: 'es passt grad nicht so gut'},
        {title: 'Что происходит?',text: 'was ist denn los?'},
        {title: 'оставь меня в покое',text: 'lass mich in ruhe'},
        {title: 'я очень рад',text: 'freut mich sehr'},
        {title: 'ты расстраиваешься совершенно напрасно.',text: 'du regst dich völlig umsonst auf.'},
        {title: 'об этом не знаю я даже ничего  ',text: 'davon weiß ich gar nichts'},
        {title: 'если вам это о чем-то говорит',text: 'falls ihnen das was sagt'},
        {title: 'даже когда он был уже очень болен',text: 'selbst als er schon sehr krank war'},
        {title: 'она позволяет тебе участвовать',text: 'sie lässt dich teilhaben'},
        {title: 'я сам разберусь с этим. Я и сам могу найти выход.',text: 'Ich finde alleine raus.'},
        {title: 'о чем ты хотел со мной поговорить?',text: 'worüber wolltest du mit mir reden?'},
        {title: 'это звучит совершенно глупо',text: 'das klingt total bescheuert'},
        {title: 'я снова подумал',text: 'ich hab noch mal nachgedacht'},
        {title: 'как это должно выглядеть?',text: 'wie soll das aussehen?'},
        {title: 'отправляйтесь в путь',text: 'machen sie sich auf den Weg'},
        {title: 'я заберу тебя сегодня вечером',text: 'ich hol dich heute abend ab'},
        {title: 'прекрати это делать',text: 'hör damit auf'},
        {title: 'глядя в глаза',text: 'in die Augen gestarrt'},
        {title: 'Я думал, что это что-то серьезное',text: 'ich dachte schon, es wär was Ernstes'},
        {title: 'теперь не смотри на это так',text: 'jetzt guck da nicht so hin'},
        {title: 'А теперь расслабься на время',text: 'Jetzt mach dich mal locker'},
        {title: 'ты выглядишь потрясающе',text: 'du siest  toll aus'},
        {title: 'потому что сегодня вечером мы празднуем',text: 'denn feiern wir  heut Abend '},
        {title: 'теперь подожди минутку',text: 'jetzt warte doch mal '},
        {title: 'Не трогайте меня',text: 'fass mich nicht an'},
        {title: 'как ты мог(ла) так поступить со мной?',text: 'wie konntest du mir das antun?'},
        {title: 'ты прекрасно знаешь, что это неправда.',text: 'du weißt genau, dass es so nicht wahr.'},
        {title: 'Вы все сумасшедшие',text: 'Ihr spinnt doch alle'},
        {title: 'я вырос',text: 'ich bin erwachsen'},
        {title: 'выпустить пар',text: 'dampf ablassen'},
        {title: 'это же совсем не так!',text: 'das stimmt doch gar nicht!'},
        {title: 'что вы себе позволяете?',text: 'was erlauben sie sich?'},
        {title: 'не обманывай себя в этом',text: 'täusch dich da mal nicht'},
        {title: 'кому вы пытаетесь угодить?',text: 'wem versuchen sie zu gefallen?'},
        {title: 'я всегда любил это',text: 'das hab ich immer so geliebt '},
        {title: 'ты все еще помнишь?',text: 'kannst du dich noch erinnern?'},
        {title: 'мы давно не виделись',text: 'wir haben uns sehr lange nicht gesehen '},
        {title: 'Мика ничего не может поделать',text: 'Mika kann nicht anders'},
        {title: 'вот что я подумал',text: 'das dachte ich mir'},
        {title: 'поприветствуйте этого человека',text: 'begrüssen sie den Mann'},
        {title: 'но теперь с тобой',text: 'jetzt aber ab mit dir'},
        {title: 'Я немного боюсь садиться в машину с незнакомыми людьми',text: 'ich habe etwas Angst mich zu fremden Menschen ins Auto zu setzen'},
        {title: 'что происходит, то происходит',text: 'was ab ist ist ab'},
        {title: 'билет на поезд для вас слишком дорогой',text: 'die Zugfahrkarte ist ihnen zu teuer'},
        {title: 'Лаура и Марко смотрят друг на друга',text: 'Laura und Marco sehen sich an'},

        ];