.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  align-items: center;
  background-color: $bg;
  @include transition;
  * {
    @include transition;
  }
  .container {
    height: 100%;
  }
  .burger {
    display: none;
  }
  &__body {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 185px repeat(4, max-content);
    gap: 0 40px;
    justify-content: space-between;
    padding: 18px 0;
  }
  #languageForm {
    fieldset {
      height: 100%;
    }
  }
  &__search {
    input[type="text"] {
      background: rgba(187, 186, 186, 0.63);
    }
  }

  &__info {
    margin: 0 0 0 0;
  }

  .tab-header.menu__link {
    background: transparent;
  }

  .tab > .tab-content {
    position: absolute;
    margin: 15px 0 0 0;
    border: none;
    z-index: -1;
    min-width: 247px;
    transform: scaleY(0);
    transform-origin: top;
    grid-template-rows: 1fr;
    border: 1px solid rgb(151, 151, 151);
    background: rgb(39, 39, 39);
  }
  .tab._is-active > .tab-content {
    grid-template-rows: 1fr;
    transform: scaleY(1);
    transform-origin: top;
    z-index: 1;

    overflow: visible;
    .tab-wrap {
      border: none;
      a {
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        padding: 9px;
        color: rgb(255, 255, 255);
        &:hover {
          color: $black;
          background: $act;
        }
      }
    }
  }
  .tab .tab .tab-content {
    position: relative;
    grid-template-rows: 0fr;
    border: none;
    margin: 0 0 0 0;
  }

  .tab._is-active > .tab-content {
    grid-template-rows: 1fr;
  }

  .smenu__body {
    width: 100%;
    position: relative;
  }
}

.logo {
  gap: 0 10px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 15px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    border: 2px solid $act;
    border-right: 0px;
    transform: translate(0%, -50%);
    top: 50%;
    width: 40px;
    height: 63px;
    left: 0;
  }
  a {
    svg {
      height: 50px;
      width: 50px;
    }
  }
  p {
    color: rgb(255, 255, 255);
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
  }
  span {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    opacity: 0.6;
    font-family: "Work Sans", sans-serif;
  }
}

/*=====================*/

.menu {
  &__list {
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    gap: 0 20px;
  }
  &__item {
    display: grid;
    place-items: center;
    height: 100%;
  }

  .header * {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 3px 0px 3px 0px;
    text-transform: uppercase;
    color: white;
    font-family: "Gilroy-SemiBold", sans-serif;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    svg {
      width: 10px;
      height: 10px;
    }
    a {
    }
    &:hover {
      color: $act-hover;
    }
    &--active {
      color: $act;
      border-bottom: 2px solid $act;
    }

    &._is-active {
      & ~ .menu-tab {
        background-color: black;
        animation: pul 0.3s linear;
        animation-fill-mode: forwards;
        .smenu__item:hover {
          & > .smenu-title-js {
            svg {
              transform: rotate(90deg);
            }
          }
          & > .smenu__hidden {
            animation: pulse 0.3s linear;
            animation-fill-mode: forwards;
          }
        }
      }
      svg {
        fill: rgb(54, 54, 56);
        transform: rotate(180deg);
      }
    }
  }
}

/*=====================*/
.book-button {
  width: 165px;
  height: 40px;
  white-space: nowrap;
}
/*=====================*/
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  .info__phone {
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    &:hover {
      color: $act-hover;
    }
  }
}
// ==========================================
.responciveHeader {
  position: fixed;
  background: rgba(15, 18, 22, 0.65);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  .header__body {
    padding: 15px 0;
  }
}

.menu__tab {
  transition: all 0.3s;
  overflow: hidden;
  position: absolute;
  width: 247px;
  height: 148px;
  bottom: 0px;
  top: 80px;
  max-height: 0;
  border: solid 1px transparent;
}

// /*===========*/

@media (max-width: 1253px) {
  .header {
    .burger {
      display: inline-block;
      position: relative;
      position: absolute;
      top: 50%;
      width: 20px;
      height: 15px;
      transform: translateY(-50%);
      left: auto;
      right: 0px;
      z-index: 110;
      cursor: pointer;
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 20px;
        height: 1px;
        background: white;
        @include transition;
      }
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        background: white;
        @include transition;
      }
      &::after {
        top: 0;
        left: 0;
      }
      &::before {
        bottom: 0;
        left: 0;
      }
      &:hover {
        span,
        &::after,
        &::before {
          background: $act-hover;
        }
      }
      &._is-active {
        span {
          opacity: 0;
        }
        &::after {
          top: calc(50% - 1px);
          left: 0;
          transform: rotate(45deg);
        }
        &::before {
          bottom: calc(50%);
          left: 0;
          transform: rotate(-45deg);
        }
      }
    }
    &__body {
      grid-template-columns: 170px 1fr repeat(2, max-content);
      justify-content: left;
      padding: 18px 39px 18px 0;
    }
    .logo p {
      font-size: 20px;
      line-height: 25px;
    }
    &__menu {
      width: 100vw;
      min-height: 100vh;
      position: fixed;
      top: 77px;
      left: 0;
      transform: translateX(-100vw);
      padding: 37px 20px 0 20px;
      overflow: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background: $bg;
      // backdrop-filter: blur(15px);
      z-index: 20;
    }

    .menu {
      &__list {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        justify-items: center;
        row-gap: 15px;
        margin: 0 0 30px 0;
      }
    }
  }

  .menu-active {
    transform: translateX(0);
  }

  .info.info-active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px 0;
  }
  .responciveHeader {
    .header__body {
      padding: 15px 39px 15px 0;
    }
  }
}

@media (max-width: 1034px) {
  .info {
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    border-top: 1px solid $act;
    padding: 30px 0 0 0;
    .book-button {
      order: -1;
    }
  }
  .header__search {
    margin: 30px 0 0 0;
  }
  .header__search input[type="text"] {
    min-height: 41px;
  }
  #languageForm {
    margin: 30px 0 0 0;
  }
}
