section#best.best
    .container
      .best__body 
        span  Our expertise
        .best__title
            h2 "The best apartment in Dubai" we will find your dream
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nibh massa, euismod ut libero id, blandit posuere augue. Morbi porta volutpat diam egestas ultrices. Phasellus tempus fringilla neque, nec viverra orci tristique vel. In efficitur vehicula magna, varius pellentesque nisl vehicula vel. Aenean vel sem ac elit commodo finibus in nec massa. Nulla facilisi. Nulla vestibulum venenatis sollicitudin. Etiam auctor mollis justo eu tincidunt. Aliquam varius varius tortor. Cras id venenatis sem. Quisque ut risus ex. Sed et tempor massa. Praesent ac eros hendrerit, congue justo ac, molestie urna. Fusce nec neque vitae dolor dapibus elementum. Maecenas nec orci quis sem condimentum dapibus varius a lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .best__video
        video#player-1.player-1(playsinline='' controls='' data-poster='./assets/img/paralax.jpg')
          source(src='./assets/video/video-1.mp4' type='video/mp4')
          track(kind='captions' label='English captions' src='/path/to/captions.vtt' srclang='en' default='')
