section(id='contacts').contacts.rel
  .contacts__title
    h2 Если Вы хотите получать инфомацию о наших мероприятиях, оставьте пожалуйста свои контакты
  .contacts__body
    .text-field
      input#phone(type="tel" name='phone' value='' placeholder=' Denzel Washington')
      label.text-field__label(for='phone') Телефон
    .text-field
      input#email(type="email" name='Email' value='' placeholder=' Denzel Washington')
      label.text-field__label(for='email') E-mail
    button.btn.btn--empty.submit-button(  type='submit' name='send' ) Отправить
