section#vor.vor
  .container
    .vor__body
      ._a.vor__title.title2 
        h2 Преимущества франшизы от VALION
      ._c.vor__items
        include ../items/items.pug
      .vor__video._b
          video#player-1.player-1(playsinline='' controls='' data-poster='./assets/img/paralax.jpg')
            source(src='./assets/video/video-2.mp4' type='video/mp4')
            track(kind='captions' label='English captions' src='/path/to/captions.vtt' srclang='en' default='')
    ul.vor__chip
        -
          var blocks = [
            {
              title: '20 000',
              text: 'Довольных клиентов компании'
            },
            {
              title: '15 лет',
              text: 'Опыта работы на рынке недвижимости'
            },
            {
              title: '10 000',
              text: 'Успешно проведеных сделок'
            },
          ];
        each block in blocks
          li.vor__item.vor-item 
            span.vor-item__ziel=block.title
            span.vor-item__text=block.text








