section(id='lider').lider.rel
  .container
    .lider__body
      .lider__title._a
        include ../title/title.pug 
      .lider__info._b
        p Лучшая компания в отрасли по версиям: «ХІ Национальный рейтинг» 2008, 2010,  2012, 2013 и 2016 года, «XIII РИЭЛТ-FEST» 2018 год, «Всеукраинская конференция Dom.ria» 2019 год, «Профессиональное признание» 2008 и 2012 года.
        p Лучшая компания в рейтинге Ассоциации специалистов по недвижимости Украины с 2018 по 2022 годы.
      .lider__img.rel._c
        .imgs
          img(src='../../../../assets/img/lider.png' alt='img')

