section(id='side-menu').smenu.rel
  .container
    h2 side-menu
    .smenu__body
      
          .smenu-js 
            .smenu__item.smenu-item-js 
              .smenu__title.smenu-title-js 
                span  title1
                svg
                  use(xlink:href='#chevron-down')
              .smenu__hidden.smenu-hidden-js
                .smenu__wrap 
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, totam enim ut quidem magnam aperiam mollitia praesentium. Obcaecati, delectus quibusdam sunt laborum dolor adipisci ullam. Reprehenderit est reiciendis doloribus deserunt?
            //- .smenu__item.smenu-item-js
              .smenu__title.smenu-title-js 
                span  title2
                svg
                  use(xlink:href='#chevron-down')
              .smenu__hidden.smenu-hidden-js
                .smenu__wrap 
                      .smenu-js 
                        .smenu__item.smenu-item-js 
                          .smenu__title.smenu-title-js 
                            span  title3
                            svg
                              use(xlink:href='#chevron-down')
                          .smenu__hidden.smenu-hidden-js
                            .smenu__wrap 
                              p Lorem ipsum dolor sit amet. 
                        .smenu__item.smenu-item-js
                          .smenu__title.smenu-title-js 
                            span  title3
                            svg
                              use(xlink:href='#chevron-down')
                          .smenu__hidden.smenu-hidden-js
                            .smenu__wrap 
                              p Lorem ipsum dolor sit amet. 

