section(id='side-menu').side-menu.rel
  .container
    .side-menu__title
      h2 .side-menu
    section(id='tabkurz').tabkurz.rel
        .tabkurz__body.tabkurz-body-js
          .kab.kab-js
            .kab__title.kab-title-js
              h4 kab title
              svg
                use(xlink:href='#chevron-down')
            .kab__hidden.kab-hidden-js 
              .kab-wrap-js
                p kab hidden
          .kab.kab-js
            .kab__title.kab-title-js
              h4 kab title
              svg
                use(xlink:href='#chevron-down')
            .kab__hidden.kab-hidden-js 
              .kab-wrap-js
                p hidden
          .kab.kab-js
            .kab__title.kab-title-js
              h4 kab title
              svg
                use(xlink:href='#chevron-down')
            .kab__hidden.kab-hidden-js 
              .kab-wrap-js
                .tabkurz__body.tabkurz-body-js
                  .kab.kab-js
                    .kab__title.kab-title-js
                      h4 kab title
                      svg
                        use(xlink:href='#chevron-down')
                    .kab__hidden.kab-hidden-js 
                      .kab-wrap-js
                        p hidden
                  .kab.kab-js
                    .kab__title.kab-title-js
                      h4 kab title
                      svg
                        use(xlink:href='#chevron-down')
                    .kab__hidden.kab-hidden-js 
                      .kab-wrap-js 
                        p kab hidden

