.smenu {
  z-index: 10;
  position: relative;

  &__body {
    width: 20%;
    position: relative;
  }
  &__hidden {
    position: absolute;
    width: 100%;
    min-width: 100%;
    top: 0;
    left: 100%;
    overflow: hidden;
    transform: translateX(-100%);
    background: rgb(209, 252, 227);
    display: grid;
    grid-template-rows: 0fr;
  }
  &__item {
    position: relative;

    &._is-active {
      & > .smenu-title-js {
        background-color: aqua;
        svg {
          width: 15px;
          height: 15px;
          transform: rotate(90deg);
        }
      }
      & > .smenu__hidden {
        animation: pulse 0.3s linear;
        animation-fill-mode: forwards;
      }
    }
    &._not-active {
      & > .smenu-title-js > svg {
        transform: rotate(-90deg);
        z-index: -1;
      }
      & > .smenu__hidden {
        animation: not-pulse 0.3s linear;
        animation-fill-mode: forwards;
      }
    }
// !!! если нужно открытие пунктов по ховеру а не по клику, то скрипт нужно отключать и добавлять это
    // &:hover {
    //   & > .smenu-title-js {
    //     background: rgb(147, 240, 185);
    //     svg {
    //       transform: rotate(90deg);
    //     }
    //   }
    //   & > .smenu__hidden {
    //     animation: pulse 0.3s linear;
    //     animation-fill-mode: forwards;
    //   }
    // }
  }
  &__title {
    border: 1px solid rgb(2, 138, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 40px;
    background: rgb(65, 241, 139);
    padding: 5px;
    z-index: 10;
    transition: all .3s;
    cursor: pointer;
    &:hover{
      background: rgb(147, 240, 185);
    }
    span {
      font-size: 20px;
    }
    svg {
      width: 15px;
      height: 15px;
      transform: rotate(-90deg);
      transition: all 0.3s;
    }
  }

  &__wrap {
    min-width: 0;
    width: 100%;
    min-height: 40px;
    p {
      padding: 5px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: translateX(-100%);
    width: 100%;
  }
  49% {
    transform: translateX(0%);
    width: 100%;
  }
  50% {
    width: auto;
    transform: translateX(0%);
    grid-template-rows: 0fr;
  }

  99% {
    width: auto;
    transform: translateX(0%);
    grid-template-rows: 1fr;
    overflow: hidden;
  }
  100% {
    width: auto;
    transform: translateX(0%);
    grid-template-rows: 1fr;
    overflow: visible;
  }
}
@keyframes not-pulse {
  0% {
    width: auto;
    transform: translateX(0%);
    grid-template-rows: 1fr;
  }
  19% {
    transform: translateX(0%);
    width: 100%;
  }
  20% {
    width: 100%;
    transform: translateX(0%);
    grid-template-rows: 0fr;
  }

  100% {
    transform: translateX(-100%);
    width: 100%;
    grid-template-rows: 0fr;
    overflow: hidden;
  }
}
