section(id='side-menu').smenu
  .smenu__body
    ._smenu-js.rel 
      .smenu__item._smenu-item-js
        .smenu__title._smenu-title-js 
          a(href="!#") Название-1
          span._smenu-action  развернуть
        .smenu__hidden._smenu-hidden-js
          .smenu__wrap
            ._smenu-js
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка

      .smenu__item._smenu-item-js
        .smenu__title._smenu-title-js 
          a(href="!#")  Название-2
          span._smenu-action  развернуть
        .smenu__hidden._smenu-hidden-js
          .smenu__wrap
            ._smenu-js
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка
                  span._smenu-action  развернуть
                .smenu__hidden._smenu-hidden-js
                  .smenu__wrap
                    ._smenu-js
                      .smenu__item._smenu-item-js 
                        .smenu__title._smenu-title-js 
                          a(href="!#")  ссылка
                          span._smenu-action  развернуть
                        .smenu__hidden._smenu-hidden-js
                          .smenu__wrap
                            ._smenu-js
                              .smenu__item._smenu-item-js 
                                .smenu__title._smenu-title-js 
                                  a(href="!#")  ссылка 
                                  span._smenu-action  развернуть
                                .smenu__hidden._smenu-hidden-js
                                  .smenu__wrap
                                    ._smenu-js
                                      .smenu__item._smenu-item-js 
                                        .smenu__title._smenu-title-js 
                                          a(href="!#")  ссылка 
                                        .smenu__hidden._smenu-hidden-js
                                          .smenu__wrap
      .smenu__item._smenu-item-js
        .smenu__title._smenu-title-js 
          a(href="!#")  Название-3
          span._smenu-action  развернуть
        .smenu__hidden._smenu-hidden-js
          .smenu__wrap
            ._smenu-js
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка
                  span._smenu-action  развернуть
                .smenu__hidden._smenu-hidden-js
                  .smenu__wrap
                    ._smenu-js
                      .smenu__item._smenu-item-js 
                        .smenu__title._smenu-title-js 
                          a(href="!#")  ссылка
                          span._smenu-action  развернуть
                        .smenu__hidden._smenu-hidden-js
                          .smenu__wrap
                            ._smenu-js
                              .smenu__item._smenu-item-js 
                                .smenu__title._smenu-title-js 
                                  a(href="!#")  ссылка
                                  span._smenu-action  развернуть
                                .smenu__hidden._smenu-hidden-js
                                  .smenu__wrap
                                    ._smenu-js
                                      .smenu__item._smenu-item-js 
                                        .smenu__title._smenu-title-js 
                                          a(href="!#")  ссылка
                                        .smenu__hidden._smenu-hidden-js
                                          .smenu__wrap
      .smenu__item._smenu-item-js
        .smenu__title._smenu-title-js 
          a(href="!#")  Название-4
          span._smenu-action  развернуть
        .smenu__hidden._smenu-hidden-js
          .smenu__wrap
            ._smenu-js
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка
                  span._smenu-action  развернуть
                .smenu__hidden._smenu-hidden-js
                  .smenu__wrap
                    ._smenu-js
                      .smenu__item._smenu-item-js 
                        .smenu__title._smenu-title-js 
                          a(href="!#")  ссылка
                          span._smenu-action  развернуть
                        .smenu__hidden._smenu-hidden-js
                          .smenu__wrap
                            ._smenu-js
                              .smenu__item._smenu-item-js 
                                .smenu__title._smenu-title-js 
                                  a(href="!#")  ссылка
                                  span._smenu-action  развернуть
                                .smenu__hidden._smenu-hidden-js
                                  .smenu__wrap
                                    ._smenu-js
                                      .smenu__item._smenu-item-js 
                                        .smenu__title._smenu-title-js 
                                          a(href="!#")  ссылка
                                        .smenu__hidden._smenu-hidden-js
                                          .smenu__wrap
      .smenu__item._smenu-item-js
        .smenu__title._smenu-title-js 
          a(href="!#")  Название-5
          span._smenu-action  развернуть
        .smenu__hidden._smenu-hidden-js
          .smenu__wrap
            ._smenu-js
              .smenu__item._smenu-item-js 
                .smenu__title._smenu-title-js 
                  a(href="!#")  ссылка
                  span._smenu-action  развернуть
                .smenu__hidden._smenu-hidden-js
                  .smenu__wrap
                    ._smenu-js
                      .smenu__item._smenu-item-js 
                        .smenu__title._smenu-title-js 
                          a(href="!#")  ссылка
                          span._smenu-action  развернуть
                        .smenu__hidden._smenu-hidden-js
                          .smenu__wrap
                            ._smenu-js
                              .smenu__item._smenu-item-js 
                                .smenu__title._smenu-title-js 
                                  a(href="!#")  ссылка
                                  span._smenu-action  развернуть
                                .smenu__hidden._smenu-hidden-js
                                  .smenu__wrap
                                    ._smenu-js
                                      .smenu__item._smenu-item-js 
                                        .smenu__title._smenu-title-js 
                                          a(href="!#")  ссылка
                                        .smenu__hidden._smenu-hidden-js
                                          .smenu__wrap

