.smenu {
  z-index: 10;
  position: relative;

  &__body {
    width: 20%;
    position: relative;
  }
  &__hidden {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0;
    left: 100%;
    overflow: hidden;
    transform: translateX(0%);
    transition: all 3s;
    transform: translateX(-100%);
    background: rgb(209, 252, 227);
  }
  &__item {
    position: relative;

    &._is-active {
      & > .smenu-title-js > svg {
        width: 15px;
        height: 15px;
        transform: rotate(90deg);
      }
      & > .smenu__hidden {
        width: auto;
        min-width: 100%;
        transform: translateX(0%);
      }
    }
  }
  &__title {
    outline: 1px solid rgb(2, 138, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 40px;
    background: rgb(65, 241, 139);
    padding: 5px;
    z-index: 10;
    
    cursor: pointer;
    flex-grow: inherit;
    span {
      font-size: 20px;
    }
    svg {
      width: 15px;
      height: 15px;
      transform: rotate(-90deg);
      transition: all 0.3s;
    }
  }

  &__wrap {
    min-width: 0;
    width: 100%;
    height: 100%;
    p {
      padding: 5px;
      width: 100%;
      height: 100%;
    }
  }
}

// #side-menu {
//   .tabkurz {
//     width: 20%;
//     &__body {
//     }
//   }
//   .kab {
//     display: flex;
//     position: relative;
//     min-height: 40px;
//   }

//   .kab__hidden {
//     position: absolute;
//     transform: translateX(0%);
//     top: 0;
//     width: 100%;
//     grid-template-rows: 1fr;
//     z-index: -1;
//     transition: transform 3s;
//   }
//   .kab__title {
//     position: relative;
//     z-index: 201;
//     width: 100%;
//     transition: background-color 3s;
//   }
//   .kab-js {
//     &._is-active {
//       & > .kab-hidden-js {
//         grid-template-rows: 1fr;
//         transform: translateX(100%);
//         z-index: 100;
//       }
//     }
//   }
// }
