.smenu {
  z-index: 10;
  position: relative;

  &__body {
    // width: 20%;
    position: relative;
  }
  &__hidden {
    // position: absolute;
    // width: 100%;
    // min-width: 100%;
    top: 0;
    // left: 100%;
    overflow: hidden;
    // transform: translateY(-100%);
    // background: rgb(209, 252, 227);
    display: grid;
    grid-template-rows: 0fr;
  }
  &__item {
    position: relative;

    // !!! если нужно открытие пунктов по ховеру а не по клику, то скрипт нужно отключать и добавлять это
    // &:hover {
    //   & > .smenu-title-js {
    //     background: rgb(147, 240, 185);
    //     svg {
    //       transform: rotate(90deg);
    //     }
    //   }
    //   & > .smenu__hidden {
    //     animation: pulse 0.3s linear;
    //     animation-fill-mode: forwards;
    //   }
    // }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 20px;
    padding: 5px;
    z-index: 10;
    transition: all 0.2s;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: rgba(128, 128, 128, 0.2);
    }
    span {
      font-size: 15px;
    }
  }

  &__wrap {
    min-width: 0;
    width: 100%;
    min-height: 0px;
    p {
      padding: 5px;
    }
  }
}

._smenu-item-js {
  &._is-active {
    & > ._smenu-title-js {
      background-color: rgba(128, 128, 128, 0.6);
      color: white;
    }
    & > ._smenu-hidden-js {
      animation: pulse 0.2s linear;
      animation-fill-mode: forwards;
    }
  }
  &._not-active {
    & > ._smenu-hidden-js {
      animation: not-pulse 0.2s linear;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes pulse {
  0% {
    overflow: hidden;
    grid-template-rows: 0fr;
  }

  99% {
    overflow: hidden;
  }
  100% {
    grid-template-rows: 1fr;
    overflow: visible;
  }
}
@keyframes not-pulse {
  0% {
    grid-template-rows: 1fr;
    overflow: hidden;
  }
  100% {
    grid-template-rows: 0fr;
    overflow: hidden;
  }
}
