section(id='side-menu').smenu
    .smenu__body
      ._smenu-js.rel 
        .smenu__item._smenu-item-js 
          .smenu__title._smenu-title-js 
            span  title1
            svg
              use(xlink:href='#chevron-down')
          .smenu__hidden._smenu-hidden-js
            .smenu__wrap
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, totam enim ut quidem magnam aperiam mollitia praesentium. Obcaecati, delectus quibusdam sunt laborum dolor adipisci ullam. Reprehenderit est reiciendis doloribus deserunt?
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, totam enim ut quidem magnam aperiam mollitia praesentium.
        .smenu__item._smenu-item-js
          .smenu__title._smenu-title-js 
            span  title2
            svg
              use(xlink:href='#chevron-down')
          .smenu__hidden._smenu-hidden-js
            .smenu__wrap
              ._smenu-js
                .smenu__item._smenu-item-js 
                  .smenu__title._smenu-title-js 
                    span  title3
                    svg
                      use(xlink:href='#chevron-down')
                  .smenu__hidden._smenu-hidden-js
                    .smenu__wrap
                      p Lorem ipsum dolor sit amet. 
                .smenu__item._smenu-item-js 
                  .smenu__title._smenu-title-js 
                    span  title3
                    svg
                      use(xlink:href='#chevron-down')
                  .smenu__hidden._smenu-hidden-js
                    .smenu__wrap
                      p Lorem ipsum dolor sit amet. 
                .smenu__item._smenu-item-js 
                  .smenu__title._smenu-title-js 
                    span  title3
                    svg
                      use(xlink:href='#chevron-down')
                  .smenu__hidden._smenu-hidden-js
                    .smenu__wrap
                      p Lorem ipsum dolor sit amet. 
                .smenu__item._smenu-item-js 
                  .smenu__title._smenu-title-js 
                    span  title3
                    svg
                      use(xlink:href='#chevron-down')
                  .smenu__hidden._smenu-hidden-js
                    .smenu__wrap
                      ._smenu-js
                        .smenu__item._smenu-item-js 
                          .smenu__title._smenu-title-js 
                            span  title3
                            svg
                              use(xlink:href='#chevron-down')
                          .smenu__hidden._smenu-hidden-js
                            .smenu__wrap
                              p Lorem ipsum dolor sit amet. 
                        .smenu__item._smenu-item-js 
                          .smenu__title._smenu-title-js 
                            span  title3
                            svg
                              use(xlink:href='#chevron-down')
                          .smenu__hidden._smenu-hidden-js
                            .smenu__wrap
                              p Lorem ipsum dolor sit amet. 
        
