-
        var blocks = [

            {title: 'осторожность',text: 'obacht '},
            {title: 'Наверное, она еще не знала.',text: 'Sie wusste es wohl noch nicht.'},
            {title: 'благо',text: 'Wohl'},
            {title: 'сказка',text: 'Märchen'},
            {title: 'идиот',text: 'Trottel'},
            {title: 'Мне нужно ваше послушание.',text: 'Ich brauche Ihren Gehorsam.'},
            {title: 'Враг моего врага',text: 'Der Feind meines Feindes.'},
            {title: 'Честь Семьи поставлена на карту.',text: 'Die Ehre des Hauses stand auf dem Spiel.'},
            {title: 'Неужели все это было напрасно?',text: 'Hat es alles umsonst gewesen?'},
            {title: 'даже',text: 'sogar'},
            {title: 'конченый',text: 'erledigt'},
            {title: 'Коридор',text: 'Gang'},
            {title: 'И не слишком приятная.',text: 'Und sie ist nicht gerade angenehm.'},
            {title: 'Урожай',text: 'Ernte'},
            {title: 'то же самое',text: 'genauso'},
            {title: 'куча детей',text: 'eine Haufen Kinder'},
            {title: 'наконец',text: 'schließlich'},
            {title: 'беззаботный',text: 'unbeschwert'},
            {title: 'между тем',text: 'mittlerweile'},
            {title: 'только',text: 'lediglich'},
            {title: 'Это звучит довольно неудобно.',text: 'Das klingt recht umständlich.'},
            {title: 'Странно',text: 'seltsam'},
            {title: 'в беспорядке',text: 'durcheinander'},
            {title: 'Большое количество',text: 'Menge'},
            {title: 'тенистый',text: 'schattige'},
            {title: 'Табурет',text: 'Hocker'},
            {title: 'Усилие',text: 'Mühe'},
            {title: 'Ты взволнован не больше, чем я.',text: 'Du bist nicht mehr aufgeregt, als ich bin.'},
            {title: 'Они молоды и энергичны.',text: 'Sie sind jung und lebhaft.'},
            {title: 'вчерашний',text: 'gestrige'},
            {title: 'то, что у него есть в запасе.',text: 'was er vorrätig hat.'},
            
            {title: 'однако',text: 'allerdings, jedoch'},
            {title: 'зарплата',text: 'Gehalt'},
            {title: 'по меньшей мере',text: 'wenigstens'},
            {title: 'Думаю, я слишком торопился.',text: 'Ich glaube, ich war zu hektisch.'},
            {title: 'при случае',text: 'gelegentlich'},
            {title: 'друг от друга',text: 'voneinander'},
            {title: 'острый',text: 'akut '},
            {title: 'терпение',text: 'die Geduld'},
            {title: 'знаменитый',text: 'berühmt '},
            {title: 'кнопка',text: 'Taste '},
            {title: 'Эта комната занята.',text: 'Dieser Raum ist belegt. '},
            {title: 'количество',text: 'Anzahl '},
            {title: 'Выражение',text: 'Redewendung'},
            {title: 'Встреча',text: 'Begegnung'},
            {title: 'Правда',text: 'Wahrheit'},
            {title: 'ревнивый',text: 'neidisch'},
            {title: 'восхищенное',text: 'bewundert'},
            {title: 'полностью',text: 'völlig'},
            {title: 'Некоторые платят намного больше, чем это.',text: 'Einige zahlen viel mehr als das. '},
            {title: 'Закат',text: 'Sonnenuntergang'},
            {title: 'бесконечно',text: 'unendlich'},
            {title: 'Зависть',text: 'Neid'},
            {title: 'След',text: 'Spur'},
            {title: 'что-то',text: 'irgendetwas'},
            {title: 'Холм',text: 'Hügel'},
            {title: 'Я немного сбит с толку.',text: 'Ich bin ein bisschen verwirrt.'},
            {title: 'Адвокат',text: 'Rechtsanwalt'},
            {title: 'Полезное',text: 'Sinnvolles'},
            {title: 'тем самым',text: 'hiermit'},
            {title: 'результат',text: 'Ergebnis'},
            {title: 'радость',text: 'Freude'},
            {title: 'пила',text: 'Säge'},
            
            {title: 'побег',text: 'die Flucht'},
            {title: 'венок',text: 'Kranz'},
            {title: 'размещение',text: 'unterkunft '},
            {title: 'Герой',text: 'Held'},
            {title: 'доказательство',text: 'Beweis'},
            {title: 'управляющий',text: 'Verwalter'},
            {title: 'грубый',text: 'rau '},
            {title: 'невероятный',text: 'unglaublich '},
            {title: 'потомство',text: 'Nachwelt '},
            {title: 'отсрочка',text: 'Aufschub '},
            {title: 'безупречный',text: 'tadelosse'},
            {title: 'неудачник',text: 'Pechvogel'},
            {title: 'большой',text: 'großartig '},
            {title: 'Очень приятно',text: 'sehr angenehm'},


            
            {title: 'поспешно',text: 'eilig'},
            {title: 'а именно',text: 'nämlich'},
            {title: 'обдуманный',text: 'überlegt'},
            {title: 'Торможение',text: 'Bremsung'},
            {title: 'Миска',text: 'Schüssel'},
            {title: 'дрожащий',text: 'zitternd'},
            {title: 'зло',text: 'Übel'},
            {title: 'чужие',text: 'fremden'},
            {title: 'неподходящий',text: 'unpassend'},
            {title: 'кстати',text: 'übrigens'},
            {title: 'также',text: 'ebenfalls'},
            {title: 'больше не',text: 'nicht mehr'},
            {title: 'Я поражен, что ты еще жив.',text: 'Ich bin erstaunt, dass Sie noch leben.'},
            {title: 'туда',text: 'hin'},
            {title: 'сюда',text: 'her'},
            {title: 'скрытый от',text: 'versteckt vor'},
            {title: 'тихо',text: 'leise'},
            {title: 'Вы сегодня выглядите немного одинокой.',text: 'Ihr seht heute etwas einsam aus.'},
            {title: 'не любой ценой',text: 'nicht um jeden Preis'},
            {title: 'возможность',text: 'Gelegenheit'},
            {title: 'маршрут',text: 'Strecke'},
            {title: 'доверчивый',text: 'zutraulich'},
            {title: 'Документы',text: 'Unterlagen'},
            {title: 'решенный',text: 'abgemacht'},
            {title: 'удобный',text: 'bequem'},
            {title: 'очень вкусный',text: 'köstlich'},
            {title: 'серьезный',text: 'ernsthaft'},
            {title: 'Извини, не хотел тебя обидеть.',text: 'Tut mir leid, wollte Sie nicht beleidigen.'},
            

        ];