-
        var blocks = [
            {title: 'написание',text: 'schreibweise'},
            {title: 'ровный',text: 'glatten '},
            {title: 'Стихи',text: 'Verse '},
            {title: 'Рухлядь',text: 'Gerümpel'},
            {title: 'позор ',text: 'Schande'},
            {title: 'Железные перила',text: 'Eisengeländer'},
            {title: 'Фамильная усыпальница',text: 'Erbbegräbnis '},
            {title: 'безвкусный',text: 'geschmacklos'},
            {title: 'юноша',text: 'Knabe '},
            {title: 'водосточный желоб',text: 'Dachrinne'},
            {title: 'в промежутках',text: 'zwischendurch '},
            {title: 'оловянный солдатик',text: 'Zinnsoldat'},
            {title: 'довольный',text: 'vergnügt'},
            {title: 'посыльный ',text: 'Bote '},
            {title: 'запрос',text: 'Anfrage'},
            {title: 'трещинa',text: 'Riß '},
            {title: 'горшок',text: 'Topf '},
            {title: 'вымытый',text: 'wuschsen '},
            {title: 'резной',text: 'geschnitzt'},
            {title: 'низкий',text: 'niedrig '},
            {title: 'Комната',text: 'Stube '},
            {title: 'тотчас',text: 'sogleich '},
            {title: 'Флаг',text: 'Fahne '},
            {title: 'сапоги',text: 'Stiefel '},
            {title: 'орешки',text: 'Nusse '},
            {title: 'ужасный',text: 'furchtbar,grausig'},
            {title: 'плита ',text: 'Herd'},
            {title: 'порошок',text: 'Pulver'},
            {title: 'бледный',text: 'blaß '},
            {title: 'испуганный',text: 'entsetzt '},
            {title: 'Реальность',text: 'Wirklichkeit '},
            {title: 'вина',text: 'Schuld'},
            {title: 'таинственный',text: 'geheimnisvoll'},
            {title: 'поверхность',text: 'Oberfläche '},
            {title: 'Ужас',text: 'Entsetzen '},
            {title: 'вечный',text: 'ewig '},
            {title: 'тезка',text: 'Namensvetter'},
            {title: 'стройный',text: 'schlank '},
            {title: 'чем',text: 'je '},
            {title: 'дальний',text: 'entfernt'},
            {title: 'родственники',text: 'Verwandten'},
            {title: 'Образ',text: 'Gestalt '},
            {title: 'Осанка',text: 'Körperhaltung'},
            {title: 'речь',text: 'Rede'},
            {title: 'некоторые',text: 'einige '},
            {title: 'телескоп',text: 'Fernrohr '},
            {title: 'как только',text: 'sobald'},
            {title: 'Бинокль',text: 'Fernglas '},
            {title: 'Кустарник',text: 'Gebüsch '},
            {title: 'зачарованный',text: 'verzaubert '},
            {title: 'удивление',text: 'Erstaunen '},
            {title: 'некоторое время',text: 'einige Zeit '},
            {title: 'взволнованный',text: 'aufgeregt '},
            {title: 'следующий',text: 'folgende '},
            {title: 'щедрый',text: 'großzügig'},
            {title: 'тесный',text: 'eng'},
            {title: 'Отношение',text: 'Verhältnis'},
            {title: 'Безумие',text: 'Wahnsinn'},
            {title: 'чистый',text: 'rein'},
            {title: 'Отъезд',text: 'Abreise '},
            {title: 'тень',text: 'der Schatten'},
            {title: 'странные',text: 'sonderbaren'},

            {title: 'великолепный',text: 'prachtvoll '},
            {title: 'домой',text: 'heim '},
            {title: 'волосатые',text: 'haarigen'},
            {title: 'осторожность',text: 'Vorsicht'},
            {title: 'вероятно, она еще не знала.',text: 'Sie wusste es wohl noch nicht.'},
            {title: 'благо',text: 'Wohl'},
            {title: 'сказка',text: 'Märchen'},
            {title: 'идиот',text: 'Trottel'},
            {title: 'Мне нужно ваше послушание.',text: 'Ich brauche Ihren Gehorsam.'},
            {title: 'Враг моего врага',text: 'Der Feind meines Feindes.'},
            {title: 'Честь Семьи поставлена на карту.',text: 'Die Ehre des Hauses stand auf dem Spiel.'},
            {title: 'Неужели все это было напрасно?',text: 'Hat es alles umsonst gewesen?'},
            {title: 'даже',text: 'sogar'},
            {title: 'конченый',text: 'erledigt'},
            {title: 'Коридор',text: 'Gang'},
            {title: 'И не слишком приятная.',text: 'Und sie ist nicht gerade angenehm.'},
            {title: 'Урожай',text: 'Ernte'},
            {title: 'то же самое',text: 'genauso'},
            {title: 'куча детей',text: 'eine Haufen Kinder'},
            {title: 'наконец',text: 'schließlich'},
            {title: 'беззаботный',text: 'unbeschwert'},
            {title: 'между тем',text: 'mittlerweile'},
            {title: 'только',text: 'lediglich'},
            {title: 'Это звучит довольно неудобно.',text: 'Das klingt recht umständlich.'},
            {title: 'Странно',text: 'seltsam'},
            {title: 'в беспорядке',text: 'durcheinander'},
            {title: 'Большое количество',text: 'Menge'},
            {title: 'тенистый',text: 'schattige'},
            {title: 'Табурет',text: 'Hocker'},
            {title: 'Усилие',text: 'Mühe'},
            {title: 'Ты взволнован не больше, чем я.',text: 'Du bist nicht mehr aufgeregt, als ich bin.'},
            {title: 'Они молоды и энергичны.',text: 'Sie sind jung und lebhaft.'},
            {title: 'вчерашний',text: 'gestrige'},
            {title: 'то, что у него есть в запасе.',text: 'was er vorrätig hat.'},
            
            {title: 'однако',text: 'allerdings, jedoch'},
            {title: 'зарплата',text: 'Gehalt'},
            {title: 'по меньшей мере',text: 'wenigstens'},
            {title: 'Думаю, я слишком торопился.',text: 'Ich glaube, ich war zu hektisch.'},
            {title: 'при случае',text: 'gelegentlich'},
            {title: 'друг от друга',text: 'voneinander'},
            {title: 'острый',text: 'akut '},
            {title: 'терпение',text: 'die Geduld'},
            {title: 'знаменитый',text: 'berühmt '},
            {title: 'кнопка',text: 'Taste '},
            {title: 'Эта комната занята.',text: 'Dieser Raum ist belegt. '},
            {title: 'количество',text: 'Anzahl '},
            {title: 'Выражение',text: 'Redewendung'},
            {title: 'Встреча',text: 'Begegnung'},
            {title: 'Правда',text: 'Wahrheit'},
            {title: 'ревнивый',text: 'neidisch'},
            {title: 'событие ',text: 'Ereignis'},
            {title: 'Допуск',text: 'Zugang '},
            {title: 'исключение',text: 'Ausnahme'},
            {title: 'так называемые',text: 'sogenanten '},
            {title: 'род',text: ' Geschlecht '},
            {title: 'восхищенное',text: 'bewundert'},
            {title: 'полностью',text: 'völlig'},
            {title: 'Некоторые платят намного больше, чем это.',text: 'Einige zahlen viel mehr als das. '},
            {title: 'Закат',text: 'Sonnenuntergang'},
            {title: 'клетка ',text: 'Zelle'},
            {title: 'Ювелир',text: 'Goldschmied'},
            {title: 'плотный',text: 'dicht'},
            {title: 'Настроение',text: 'Laune '},
            {title: 'пытки',text: 'Foltern '},
            {title: 'бесконечно',text: 'unendlich'},
            {title: 'Заблуждение',text: 'Irrtum'},
            {title: 'Бред',text: 'Unsinn'},
            {title: 'Зависть',text: 'Neid'},
            {title: 'След',text: 'Spur'},
            {title: 'что-то',text: 'irgendetwas'},
            {title: 'Холм',text: 'Hügel'},
            {title: 'Я немного сбит с толку.',text: 'Ich bin ein bisschen verwirrt.'},
            {title: 'Адвокат',text: 'Rechtsanwalt'},
            {title: 'Полезное',text: 'Sinnvolles'},
            {title: 'тем самым',text: 'hiermit'},
            {title: 'результат',text: 'Ergebnis'},
            {title: 'радость',text: 'Freude'},
            {title: 'пила',text: 'Säge'},
            
            {title: 'побег',text: 'die Flucht'},
            {title: 'венок',text: 'Kranz'},
            {title: 'размещение',text: 'unterkunft '},
            {title: 'Герой',text: 'Held'},
            {title: 'доказательство',text: 'Beweis'},
            {title: 'управляющий',text: 'Verwalter'},
            {title: 'грубый',text: 'rau '},
            {title: 'невероятный',text: 'unglaublich '},
            {title: 'потомство',text: 'Nachwelt '},
            {title: 'отсрочка',text: 'Aufschub '},
            {title: 'безупречный',text: 'tadelosse'},
            {title: 'неудачник',text: 'Pechvogel'},
            {title: 'большой',text: 'großartig '},
            {title: 'Очень приятно',text: 'sehr angenehm'},


            
            {title: 'поспешно',text: 'eilig'},
            {title: 'а именно',text: 'nämlich'},
            {title: 'обдуманный',text: 'überlegt'},
            {title: 'Торможение',text: 'Bremsung'},
            {title: 'Миска',text: 'Schüssel'},
            {title: 'дрожащий',text: 'zitternd'},
            {title: 'зло',text: 'Übel'},
            {title: 'чужие',text: 'fremden'},
            {title: 'неподходящий',text: 'unpassend'},
            {title: 'кстати',text: 'übrigens'},
            {title: 'также',text: 'ebenfalls'},
            {title: 'больше не',text: 'nicht mehr'},
            {title: 'Я поражен, что ты еще жив.',text: 'Ich bin erstaunt, dass Sie noch leben.'},
            {title: 'туда',text: 'hin'},
            {title: 'сюда',text: 'her'},
            {title: 'скрытый от',text: 'versteckt vor'},
            {title: 'тихо',text: 'leise'},
            {title: 'Вы сегодня выглядите немного одинокой.',text: 'Ihr seht heute etwas einsam aus.'},
            {title: 'не любой ценой',text: 'nicht um jeden Preis'},
            {title: 'возможность',text: 'Gelegenheit'},
            {title: 'маршрут',text: 'Strecke'},
            {title: 'доверчивый',text: 'zutraulich'},
            {title: 'Документы',text: 'Unterlagen'},
            {title: 'решенный',text: 'abgemacht'},
            {title: 'удобный',text: 'bequem'},
            {title: 'очень вкусный',text: 'köstlich'},
            {title: 'серьезный',text: 'ernsthaft'},
            {title: 'Извини, не хотел тебя обидеть.',text: 'Tut mir leid, wollte Sie nicht beleidigen.'},
            {title: 'внутрь',text: 'hinein'},
            {title: 'на ту сторону',text: 'hinüber'},
            {title: 'вокруг',text: 'herum'},
            {title: 'вниз',text: 'hinab'},
            {title: 'наверх',text: 'hinauf'},
            {title: 'наружу',text: 'heraus'},
            {title: 'оттуда, на той стороне',text: 'drüben'},
                        {title: 'прежде',text: 'zuvor'},
            {title: 'в то же время',text: 'zugleich'},

        ];