section(id="best").rel.form
  .form__img
    .imgs
      img(src = "assets/img/form.png" alt = "img")

  .form__body
    p.form__text Do you have any questions?
    .form__title
      h2 Contact us


    form#send-form(action="#" method="post" name="send-form").send
      .send__linia.input-field.text-field 
        input#email(type='email' name='email' value='' placeholder='Denzel Washington')
        label.text-field__label(for='email') *Please enter your email address.
      p.but-wave
        button.btn.btn-success(type='submit' ) Send
    #success Your E-mail has been sent successfully.

