.form {
  &__body {
    position: relative;
    z-index: 5;
    padding: 85px 0 85px;
  }
  &__title {
    text-align: center;
    margin: 15px 0 0 0;
    h2 {
      color: rgb(39, 39, 39);
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 120px;
      font-weight: 700;
      line-height: 69px;
      letter-spacing: 0px;
    }
  }
  &__text {
    color: rgb(39, 39, 39);
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
  }
}
#success,
#successheader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0;
  transition: all 0.3s;
  transform: scale(0);
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
  color: $white;
  font-size: 30px;
  &._is-active {
    transform: scale(1);
    z-index: 10000;
    opacity: 1;
  }
}
.send {
  margin: 54px auto 0;
  max-width: 472px;
  background: $white;
  display: grid;
  grid-template-columns: 1fr 165px;

  .send__linia._check_invalid {
    border: 1px solid red;
    color: red;
  }
  .input-field {
    position: relative;
    min-height: 60px;
    span {
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      height: auto;
      color: red;
      display: none;
    }
  }
  .input-field input[type="email"] + label {
    color: rgb(39, 39, 39);
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    opacity: 0.5;
  }
  p.but-wave {
    button {
      width: 100%;
      height: 100%;
      min-width: 165px;
      background: rgb(39, 39, 39);
      min-height: 40px;
      color: rgb(255, 255, 255);
      font-family: "Work Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0px;
    }
  }

  .input-field input[type="email"] {
    border: none;
  }

  .text-field input[type="email"] {
    padding: 15px 15px 0px 15px;
  }

  .input-field._check_invalid {
    border: 1px solid red;

    input[type="email"] + label {
      color: red;
    }
    span {
      display: block;
    }
  }
  .text-field label {
    left: 10px;
  }
}
