.send {
  padding: 0 20px;
  &__linia {
    margin: 0 0 20px 0;
  }
  .send__linia._check_invalid {
    border: 1px solid red;
    color: red;
  }
  .input-field {
    border: 4px solid gray;
    position: relative;
    span {
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      height: auto;
      color: red;
      display: none;
    }
  }
  p.but-wave {
    button {
      width: 100%;
      height: 100%;
    }
  }
  .input-field input[type="text"],
  .input-field input[type="email"],
  .input-field input[type="tel"] {
    border: none;
  }
  .input-field._check_invalid {
    border: 1px solid red;
    input[type="text"] + label,
    input[type="email"] + label,
    input[type="tel"] + label,
    textarea + label {
      color: red;
    }
    span {
      display: block;
    }
  }
  .textarea-field {
    border: 4px solid gray;
  }
  .textarea-field._check_invalid {
    border: 1px solid red;
    textarea + label {
      color: red;
    }
  }
}
