h2 form

form#send-form(action="#" method="post" name="send-form").send.send-form
  .send__linia.input-field
    input#firstname(type='text' name='name' value='' placeholder='Denzel Washington')
    label.text-field__label(for='name') *инпут name
    span *поле обязательное для заполнения
  .send__linia.input-field
    input#email(type='email' name='email' value='' placeholder='Denzel Washington')
    label.text-field__label(for='email') *инпут email
    span *поле обязательное для заполнения
  .send__linia.input-field
    input#tel(type='tel' name='tel' value='' placeholder='Denzel Washington')
    label.text-field__label(for='tel') *инпут tel
    span *поле обязательное для заполнения
  .send__linia.textarea-field
    textarea#textarea4(name="textarea4" row='20' placeholder="Введите текст" )
    label(for='textarea4') *textarea
  .send__linia
    p Оценка:
    fildset.fildset-rating
      .fildset-rating__items
        input(type="radio" id="ratingForm5" name='ratingForm' value='5' )
        label(for="ratingForm5")
          svg
            use(xlink:href='#Star')  
        input(type="radio" id="ratingForm4" name='ratingForm' value='4' )
        label(for="ratingForm4")
          svg
            use(xlink:href='#Star') 
        input(type="radio" id="ratingForm3" name='ratingForm' value='3' )
        label(for="ratingForm3") 
          svg
            use(xlink:href='#Star') 
        input(type="radio" id="ratingForm2" name='ratingForm' value='2' )
        label(for="ratingForm2") 
          svg
            use(xlink:href='#Star') 
        input(type="radio" id="ratingForm1" name='ratingForm' value='1' )
        label(for="ratingForm1") 
          svg
            use(xlink:href='#Star')
  .send__linia.select-custom.select#wal
    button.dropdown-button
      span custom
      svg.icon
        use(xlink:href='#chevron-down')
    ul.dropdown-list
      li.dropdown-list__item(data-value='Notes') Notes
      li.dropdown-list__item(data-value='Photo') Photo
      li.dropdown-list__item(data-value='Dictionary') Dictionary
  .fildset-checkbox
    .form-check
      input#agree(type='checkbox' name="agree")
      label(for='agree') Согласен с правилами публикации отзывов
  p.but-wave
    button.btn.btn-success(type='submit' ) Sent




//- form#send-form(action="#" method="post" name="send-form").send.send-form
//-   .send__linia.input-field
//-     input#firstname(type='text' name='name' value='' placeholder=' Denzel Washington')
//-     label.text-field__label(for='name') *обычный инпут text
//-     span *поле обязательное для заполнения
//-   .send__linia.input-field
//-     input#email(type='email' name='email' value='' placeholder=' Denzel Washington')
//-     label.text-field__label(for='email') *обычный инпут email
//-     span *поле обязательное для заполнения
//-   .send__linia.input-field
//-     input#tel(type='tel' name='tel' value='' placeholder=' Denzel Washington')
//-     label.text-field__label(for='tel') *обычный инпут tel
//-     span *поле обязательное для заполнения
//-   .send__linia
//-     p Оценка:
//-     fildset.fildset-rating
//-       .fildset-rating__items
//-         input(type="radio" id="ratingForm5" name='ratingForm' value='5' )
//-         label(for="ratingForm5")
//-           svg
//-             use(xlink:href='#Star')  
//-         input(type="radio" id="ratingForm4" name='ratingForm' value='4' )
//-         label(for="ratingForm4")
//-           svg
//-             use(xlink:href='#Star') 
//-         input(type="radio" id="ratingForm3" name='ratingForm' value='3' )
//-         label(for="ratingForm3") 
//-           svg
//-             use(xlink:href='#Star') 
//-         input(type="radio" id="ratingForm2" name='ratingForm' value='2' )
//-         label(for="ratingForm2") 
//-           svg
//-             use(xlink:href='#Star') 
//-         input(type="radio" id="ratingForm1" name='ratingForm' value='1' )
//-         label(for="ratingForm1") 
//-           svg
//-             use(xlink:href='#Star')
//- .send__linia.textarea-field
//-   textarea#textarea4(name="textarea4" row='20' placeholder="Введите текст" )
//-   label(for='textarea4') textarea

//- .send__linia.select
//-   input(type="hidden" name="formtown")
//-   button(type="button").dropdown-button
//-     span Москва
//-     svg.icon
//-       use(xlink:href='#chevron-down')


//-       input(name='example_color' type='color' value='#55cc77')
//-       input(name='example_date' type='date')
//-       input(name='example_datetime-local' type='datetime-local')
//-       input(name='example_email' type='email')
//-       input(name='example_file' type='file')
//-       input(name='example_hidden' type='hidden' value='48784')
//-       input(name='example_image' type='image' src='/images/button_image.png' width='130' height='42')
//-       input(name='example_month' type='month')
//-       input(name='example_number' type='number')
//-       input(name='example_password' type='password')
//-       input(name='example_reset' type='reset' value='Очистить поля')
//-       input(name='example_tel' type='tel')
//-       input(name='example_time' type='time')
//-       input(name='example_url' type='url')
//-       input(name='example_week' type='week')

