.look {
  margin: 50px 0;
  .title-Second {
    margin: 0 0 10px 0;
  }
  &__video {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px $black;
    // div {
    //   overflow: hidden;
    //   border-radius: 80px !important;
    // }
    .plyr {
      display: block;
      height: auto;
      width: auto;
      height: 100%;

      &.plyr--stopped {
        & > .plyr__controls {
           display: none;
        }
      }
      &.plyr--playing {
        & > .plyr__controls {
          display: flex;
        }
      }
     
    }
  }
}
