-
        var blocks = [
        {title: 'Несмотря на непогоду, мы отправились на экскурсию.',text: 'Trotz des schlechten Wetters haben wir einen Ausflug gemacht.'},
        {title: 'Несмотря на жару, я хорошо спал.',text: 'Trotz der Hitze habe ich gut geschlafen.'},
        {title: 'Несмотря на задержку, мы все же успели на поезд.',text: 'Trotz der Verspätung haben wir den Zug noch erwischt.'},
        {title: 'Несмотря на стресс, я сдал экзамен.',text: 'Trotz des Stresses habe ich meine Prüfung bestanden.'},
        {title: 'Несмотря на плотный трафик, мы прибыли вовремя.',text: 'Trotz des starken Verkehrs sind wir pünktlich angekommen.'},
        {title: 'Несмотря на всю работу, у меня остается время на хобби.',text: 'Trotz der vielen Arbeit habe ich noch Zeit für meine Hobbys.'},
        {title: 'Несмотря на долгое ожидание, еда в ресторане была превосходной.',text: 'Trotz der langen Wartezeit war das Essen im Restaurant ausgezeichnet.'},
        {title: 'Несмотря на травму, он продолжает заниматься спортом.',text: 'Trotz der Verletzung hat er weiterhin Sport getrieben.'},
        {title: 'Несмотря на отсутствие опыта, она устроилась на работу.',text: 'Trotz der mangelnden Erfahrung hat sie den Job bekommen.'},
        {title: 'Чем больше вы тренируетесь, тем лучше становитесь.',text: 'Je mehr du übst, desto besser wirst du.'},
        {title: 'Чем раньше мы отправимся, тем быстрее приедем.',text: 'Je früher wir losfahren, desto püntlicher kommen wir an.'},
        {title: 'Чем больше риск, тем выше потенциальное вознаграждение.',text: 'Je größer das Risiko, desto höher die potenzielle Belohnung.'},
        {title: 'Чем больше вы читаете, тем больше увеличивается ваш словарный запас.',text: 'Je mehr du liest, desto größer wird dein Wortschatz.'},
        {title: 'Чем дольше вы ждете, тем сложнее становится найти решение.',text: 'Je länger du wartest, desto schwieriger wird es, eine Lösung zu finden.'},
        {title: 'Чем сильнее ветер, тем более диким становится море.',text: 'Je stärker der Wind, desto wilder wird das Meer.'},
        {title: 'Чем больше времени вы потратите, тем большего успеха добьетесь.',text: 'Je mehr Zeit du investierst, desto mehr Erfolg wirst du haben.'},
        {title: 'Чем больше вы прилагаете усилий, тем больше у вас шансов на успех.',text: 'Je mehr du dich bemühst, desto größer wird deine Chance auf Erfolg.'},
        {title: 'Чем больше вы откладываете, тем больше у вас будет денег на будущие расходы.',text: 'Je mehr du sparst, desto mehr Geld hast du für zukünftige Ausgaben.'},
        {title: 'Чем меньше вы едите, тем быстрее вы похудеете.',text: 'Je weniger du isst, desto schneller wirst du abnehmen.'},
        {title: 'Чем новее мотоцикл, тем красивее он выглядит.',text: 'Je neuer das Mottorad ist, desto schöner siet er aus.'},
        {title: 'Чем холоднее погода, тем больше людей остаются дома.',text: 'Je kälter das Wetter ist, umso mehr bleiben die Leute zu Hause.'},
        {title: 'Чем хуже я пишу текст, тем меньше читатели его понимают.',text: 'Je schlechter ich den Text schreibe, umso weniger verstehen die Leser ihn.'},
        {title: 'Чем дешевле он покупает компьютер, тем больше денег экономит.',text: 'Je billiger er den Computer kauft, umso mechr Geld spart er.'},
        {title: 'Чем дешевле я покупаю продукты, тем больше денег я экономлю.',text: 'Je billiger ich die Lebensmittel kaufe, umso mehr Geld spare ich.'},
        {title: 'Если будет хорошая погода, мы прогуляемся по парку.',text: 'Sofern das Wetter schön ist, werden wir einen Spaziergang im Park machen.'},
        {title: 'Я буду сопровождать тебя, если ты своевременно сообщишь мне об этом.',text: 'Ich werde dich begleiten, sofern du mich rechtzeitig darüber informierest.'},
        {title: 'Если ты придешь вовремя, мы сможем вместе пойти на концерт.',text: 'Sofern du pünktlich bist, können wir zusammen zum Konzert gehen.'},
        {title: 'Ты можешь воспользоваться машиной , если вернешь ее вовремя.',text: 'Du kannst das Auto benutzen , sofern du es rechtzeitig zurückbringst.'},
        {title: 'При условии, что ты соблюдаешь правила проживания, тебе будет разрешено остаться у нас.',text: 'Sofern du die Hausregeln respektierst, darfst du gerne bei uns übernachten.'},
        {title: 'Я рассмотрю отчет, если он будет подан вовремя.',text: 'Ich werde den Bericht überprüfen, sofern er rechtzeitig eingereicht wird.'},
        {title: 'Ты можешь принять участие, если предварительно зарегистрируешься.',text: 'Du kannst gerne teilnehmen, sofern du dich vorher anmeldetest.'},
        {title: 'При условии, что ты обладаешь необходимой квалификацией, ты можешь подать заявку на эту работу.',text: 'Sofern du die erforderlichen Qualifikationen mitbringst, kannst du dich für den Job bewerben.'},
        {title: 'Тебе позволено играть в игру при условии, что ты выполнишь домашнее задание.',text: 'Du darfst das Spiel spielen, sofern du deine Hausaufgaben erledigt hast.'},
        {title: 'При условии, что ты будешь соблюдать правила игры, мы можем сыграть один раунд.',text: 'Sofern du dich an die Spielregeln hältst, können wir eine Runde spielen.'},
        ];