-
        var blocks = [
        {title: 'Несмотря на непогоду, мы отправились на экскурсию.',text: 'Trotz des schlechten Watters haben wir einen Ausflug gemacht.'},
        {title: 'Несмотря на жару, я хорошо спал.',text: 'Trotz der Hitze habe ich gut geschlafen.'},
        {title: 'Несмотря на задержку, мы все же успели на поезд.',text: 'Trotz der Verspätung haben wir den Zug noch erwischt.'},
        {title: 'Несмотря на стресс, я сдал экзамен.',text: 'Trotz des Stresses habe ich meine Prüfung bestanden.'},
        {title: 'Несмотря на плотный трафик, мы прибыли вовремя.',text: 'Trotz des starken Verkehrs sind wir pünktlich angekommen.'},
        {title: 'Несмотря на всю работу, у меня остается время на хобби.',text: 'Trotz der vielen Arbeit habe ich noch Zeit für meine Hobbys.'},
        {title: 'Несмотря на долгое ожидание, еда в ресторане была превосходной.',text: 'Trotz der langen Wartezeit war das Essen im Restaurant ausgezeichnet.'},
        {title: 'Несмотря на травму, он продолжает заниматься спортом.',text: 'Trotz der Verletetzung hat er weiterhin Sport getrieben.'},
        {title: 'Несмотря на отсутствие опыта, она устроилась на работу.',text: 'Trotz der mangelnden Erfahrung hat sie den Job bekommen.'},

        ];