// :root {
//   --txt: #252d34;
//   --white: #fff;
//   --blue: #1e82bf;
//   --blue-2: #00ae9a;
//   --blue-3: #0e940e;
//   --yellow: #eff1cc;
//   --red: #eb5858;
//   --orange: #fea623;
//   --green: #cad41a;
//   --blue-3: #00ae9a;
//   --txt-2: #48545e;
//   --white: #fff;
//   --white: #fff;
//   --white: #fff;
//   --white: #fff;
//   --txt: #252d34;
//   --white: #fff;
//   --txt-gray: #818a92;
//   --white: #fff;
//   --black: #000;
//   --light-teal: #98e3db;
//   --light-sage: #daf1cc;
//   --pale-grey: #f2f4f7;
//   --perrywinkle: #85a6dc;
//   --dark-cream: #ffe59d;
// }

$background-0: #f2f5f6;
$background-1: #ffffff;
$background-3: #d9d9d9;
$background-4: #f7f9fc;
$background-5: #a0a0a0;
$background-6: #3a539b;
$background-8: #edf0f6;
$text-2: #252525;
$text-7: #185ecb;