:root {
  --txt: #252d34;
  --white: #fff;
  --blue: #1e82bf;
  --blue-2: #00ae9a;
  --blue-3: #0e940e;
  --yellow: #eff1cc;
  --red: #eb5858;
  --orange: #fea623;
  --green: #cad41a;
  --blue-3: #00ae9a;
  --txt-2: #48545e;
  --white: #fff;
  --white: #fff;
  --white: #fff;
  --white: #fff;
  --txt: #252d34;
  --white: #fff;
  --txt-gray: #818a92;
  --white: #fff;
  --black: #000;
  --light-teal: #98e3db;
  --light-sage: #daf1cc;
  --pale-grey: #f2f4f7;
  --perrywinkle: #85a6dc;
  --dark-cream: #ffe59d;
}

$txt: #252d34;
$white: #fff;
$blue: #1e82bf;
$blue1: #451adf;
$blue-2: #00ae9a;
$blue-3: #0e940e;
$yellow: #eff1cc;
$red: #eb5858;
$orange: #fea623;
$green: #cad41a;
$blue-3: #00ae9a;
$txt-2: #48545e;
$white: #fff;

$txt: #252d34;
$white: #fff;
$txt-gray: #818a92;
$white: #fff;
$black: #000;
$light-teal: #98e3db;
$light-sage: #daf1cc;
$pale-grey: #f2f4f7;
$perrywinkle: #85a6dc;
$dark-cream: #ffe59d;


$act: #eb423f;
$hover: #92c2f7;
$a: #626262;
$a1: #454545;
$a2: #8c8c8c;
$a3: #bfbebe;
$b: #090909;
$b1: #171717;
$btn: #ff4141;
$bg: #252525;
$w: #e3e3e3;

$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$primary: #007bff;
$secondary: #6c757d;
$dark: #343a40;
$light: #f8f9fa;
$deep-blue: #033362;

$blue1: #2D394B;
$blue2: #000036;
$blue3: #101046;
$blue4: #242471;
$blue5: #5A609D;
$blue7: #4500F0;

$blue6: #4934D3;
$blue6a: #a092fd;

$blue8: #9269fa;
$blue8a: #d1c2fc;
$blue8b: #ac98e2;

$blue9: #ece7fa;