:root {
  --txt: #252d34;
  --white: #fff;
  --blue: #1e82bf;
  --blue-2: #00ae9a;
  --blue-3: #0e940e;
  --yellow: #eff1cc;
  --red: #eb5858;
  --orange: #fea623;
  --green: #cad41a;
  --blue-3: #00ae9a;
  --txt-2: #48545e;
  --white: #fff;
  --white: #fff;
  --white: #fff;
  --white: #fff;
  --txt: #252d34;
  --white: #fff;
  --txt-gray: #818a92;
  --white: #fff;
  --black: #000;
  --light-teal: #98e3db;
  --light-sage: #daf1cc;
  --pale-grey: #f2f4f7;
  --perrywinkle: #85a6dc;
  --dark-cream: #ffe59d;
}

$txt: #252d34;
$white: #fff;
$blue: #1e82bf;
$blue1: #451adf;
$blue-2: #00ae9a;
$blue-3: #0e940e;
$yellow: #eff1cc;
$red: #eb5858;
$orange: #fea623;
$green: #cad41a;
$blue-3: #00ae9a;
$txt-2: #48545e;
$white: #fff;

$txt: #252d34;
$white: #fff;
$txt-gray: #818a92;
$white: #fff;
$black: #000;
$light-teal: #98e3db;
$light-sage: #daf1cc;
$pale-grey: #f2f4f7;
$perrywinkle: #85a6dc;
$dark-cream: #ffe59d;