// @import url('https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800');

@font-face {
  font-family: "PTSerif-Bold";
  src: url("../assets/fonts/PTSerif-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "DrukCyr-Bold";
  src: url("../assets/fonts/DrukCyr-Bold.eot");
  src: url("../assets/fonts/DrukCyr-Bold.woff2");
  src: url("../assets/fonts/DrukCyr-Bold.woff");
  src: url("../assets/fonts/DrukCyr-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Serif:wght@700&family=PT+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&family=Roboto+Slab:wght@700&display=swap");

// font-family: 'DrukCyr', sans-serif;
// font-family: 'DrukCyr-Bold', sans-serif;
// font-family: 'Arial-Bold', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Noto Serif', serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Roboto Flex', sans-serif;
// font-family: 'Roboto Slab', serif;
