@import "../utils/colors.scss";


// @import url('https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800');

// @font-face {
//   font-family: "DrukCyr";
//   src: url("../assets/fonts/DrukCyr-Medium.eot");
//   src: url("../assets/fonts/DrukCyr-Medium.otf");
//   src: url("../assets/fonts/DrukCyr-Medium.woff");
//   src: url("../assets/fonts/DrukCyr-Medium.ttf");
//   font-weight: 500;
//   font-style: normal;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "DrukCyr-Bold";
//   src: url("../assets/fonts/DrukCyr-Bold.eot");
//   src: url("../assets/fonts/DrukCyr-Bold.woff2");
//   src: url("../assets/fonts/DrukCyr-Bold.woff");
//   src: url("../assets/fonts/DrukCyr-Bold.ttf");
//   font-weight: 700;
//   font-style: normal;
//   font-stretch: normal;
// }

// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Serif:wght@700&family=PT+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&family=Roboto+Slab:wght@700&display=swap");

// font-family: 'DrukCyr', sans-serif;
// font-family: 'DrukCyr-Bold', sans-serif;
// font-family: 'Arial-Bold', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Noto Serif', serif;
// font-family: 'PT Sans',sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Roboto Flex', sans-serif;
// font-family: 'Roboto Slab', serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font-montserrat-0 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 27px;
  color: $text-2;
}

.font-montserrat-1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $text-2;
}

.font-montserrat-2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: $text-2;
}

.font-montserrat-3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.7000000000000001px;
  color: $text-2;
}

.font-montserrat-4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: $background-1;
}

.font-montserrat-5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $text-2;
}

.font-montserrat-6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $background-1;
}

.font-montserrat-7 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 96px;
  color: $text-7;
}

.font-montserrat-8 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: $text-2;
}

.font-montserrat-9 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: $text-2;
}

.font-montserrat-10 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: $text-2;
}

.font-montserrat-11 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: $text-2;
}

.font-montserrat-12 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: $background-1;
}

.font-montserrat-13 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $background-1;
}

.font-montserrat-14 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: $background-1;
}

.font-montserrat-15 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $background-1;
}

.font-montserrat-16 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: $text-2;
}

.font-montserrat-17 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $text-2;
}

.font-montserrat-18 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: $text-2;
}

.font-montserrat-19 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: $background-1;
}