.cssblock1 {
  background: rgb(220, 230, 220);
  padding: 2px 4px;
  border: 1px solid #adadad;
}

.cssblock2 {
  background: dodgerblue;
  padding: 2px 4px;
  border: 1px solid #adadad;
}

.cssblock3 {
  background: rgb(226, 232, 240);
  padding: 2px 4px;
  border: 1px solid #adadad;
}

.cssblock4 {
  background: #f97316;
  padding: 2px 4px;
  border: 1px solid #adadad;
}

.cssblock5 {
  background: #3b82f6;
  padding: 2px 4px;
  border: 1px solid #adadad;
}

.cssblock6 {
  background: #0ea5e9;
  padding: 2px 4px;
  border: 1px solid #adadad;
}