section(id='artikles').artikles.gal
  .container
    .artikles__title
      h2
    .artikles__body
      ul._plasa-js._galery-body-js.Gal#GAL
        -
          var blocks = [
            {src: './assets/img/img-3.png',data: 'red',},
            {src: './assets/img/paralax.jpg',data: 'blue',},
            {src: './assets/img/img-1.png',data: 'green',},
            {src: './assets/img/img-2.png',data: 'green',},
            {src: './assets/img/img-2.png',data: 'coral',},
            {src: './assets/img/paralax.jpg',data: 'blue',},
            {src: './assets/img/img-3.png',data: 'green',},
            {src: './assets/img/img-3.png',data: 'red',},
            {src: './assets/img/paralax.jpg',data: 'green',},
            {src: './assets/img/img-3.png',data: 'red',},
            {src: './assets/img/paralax.jpg', data: 'blue',},
            {src: './assets/img/img-2.png', data: 'coral',},
          ];
        each block in blocks
          li._galery-item-js.rel.center.Gal__item.center.GAL-item-js
            .imgs
              img(data=block.src alt='img')
            .cases__info
              h3 ${StoreElement.title} 
              p ${StoreElement.content}
              a.btn.btn--empty(href='!#')
                | See project
                svg
                use(xlink:href='#Arrow')

      button.gal__link.btn.btn--success 
        span View all articles
        svg
          use(xlink:href='#load')