.btn-blue {
  background-color: #8edbfa;
  border: solid 1px #056f99;
  &:hover {
    color: lighten(green, 25%);
    background-color: rgb(8, 101, 163);
    border: solid 1px lighten(#8edbfa, 25%);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 1);
  }
}
