.btn-empty {
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  background-color: transparent;
  transition: all 0.2s;
  display: inline-block;
  width: max-content;
  position: relative;
  svg {
    width: 11px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: -20px;
    stroke: $white;
    transition: all 0.2s;
  }
  &:hover {
    color: $act-hover;
    svg {
      stroke: $act-hover;
    }
  }
}

@media (min-width: 1035px) and (max-width: 1253px) {
  .btn-empty {
    font-size: 16px;
  }
  .btn-empty svg {
    width: 10px;
    height: 15px;
  }
}
