.btn-success {
  background: $act;
  color: rgb(0, 0, 0);
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 2px 14px;
  &:hover {
    background: $act-hover;
    border: solid 1px $act;
    box-shadow: inset 0 0 15px $act-hover;
  }
}
