h2(style='margin: 10px 0;')  buttons

a.btn.btn-success.but-wave.popups-init-js(rel='#popup1' href='javascript:void(0);') success

button.btn.btn-success.but-wave(type='submit') submit

button(type='button' ).btn.btn-success.but-wave success
a(href="javascript:void(0);").btn.btn-success.but-wave success

button.btn.btn-empty(  type='button' name='empty' ) empty
a.btn.btn-empty( href='javascript:void(0);') empty

button(type='button').btn.btn-blue blue
a(href="javascript:void(0);").btn.btn-blue blue