.look {
  padding: 0 0 115px 0;

  &__body {
    max-width: 730px;
    margin: 0 auto;
  }
  &__content {
    margin: 33px 0 0 0;
    color: rgb(232, 232, 232);
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
  }
  &__text {
    color: $act;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
  }
  &__title {
    margin: 40px 0 0 0;
  }

  &__video {
    margin: 90px 0 0 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 920px;
    .plyr {
      display: block;
      height: auto;
      width: auto;
      height: 100%;

      &.plyr--stopped {
        & > .plyr__controls {
          display: none;
        }
      }
      &.plyr--playing {
        & > .plyr__controls {
          display: flex;
        }
      }
    }
  }
  .plyr__poster {
    background-size: cover;
  }
  .plyr__control--overlaid {
    width: 122px;
    height: 122px;
    flex-grow: 0;
    border-radius: 100px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: $act;
    svg {
      display: none;
    }
    transition: all 1s;
    &:hover {
      background-color: $act-hover;
      transform: translate(-50%, -50%) rotate(720deg);
    }
    &::after {
      content: "";
      background-image: url(../img/load.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // background-color: $black;
    }
  }
}
.look__info {
  p.look__bage {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 160%;
    margin: 115px auto 0;
    border: 1px solid $act;
    width: 1110px;
    padding: 70px 97px;
    text-align: center;
    span {
      color: $act;
    }
  }
  ul.look__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 23px;
    max-width: 1110px;
    margin: 64px auto 0;
    li {
      p {
        color: rgb(232, 232, 232);
        font-family: "Work Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;
        margin: 70px 0 0 0;
      }
      .look__img {
        height: 312px;
        position: relative;
      }
    }
  }
}
@media (min-width: 1035px) and (max-width: 1253px) {
  .look__body {
    max-width: 100%;
    margin: 0 auto;
  }
  .look__text {
    font-size: 16px;
  }
  .look__title {
    margin: 14px 0 0 0;
  }
  .look__content {
    margin: 23px 0 0 0;
    font-size: 14px;
    color: rgb(232, 232, 232);
  }
  .look__video {
    margin: 70px 0 0 0;
    max-height: 394px;
    height: 394px;
  }
  .look .plyr__control--overlaid {
    width: 52px;
    height: 52px;
  }
  .look .plyr__control--overlaid::after {
    width: 20px;
    height: 20px;
  }
  .look__info p.look__bage {
    margin: 70px auto 0;
    padding: 37px 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
    display: block;
  }
  .look__info ul.look__blocks {
    column-gap: 30px;
    max-width: 686px;
    margin: 64px auto 0;
  }
  .look__info ul.look__blocks li .look__img {
    height: 194px;
  }
  .look__info ul.look__blocks li p {
    margin: 30px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
  .look {
    padding: 0 0 70px 0;
  }
}
@media (max-width: 1034px) {
  .look__body {
    max-width: 100%;
    margin: 0 auto;
  }
  .look__text {
    font-size: 14px;
  }
  .look__title {
    margin: 10px 0 0 0;
  }
  .look__content {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: rgb(232, 232, 232);
  }
  .look__video {
    margin: 40px 0 0 0;
    max-height: 185px;
    height: 185px;
  }
  .look .plyr__control--overlaid {
    width: 24px;
    height: 24px;
  }
  .look .plyr__control--overlaid::after {
    width: 13px;
    height: 13px;
  }
  .look__info p.look__bage {
    margin: 70px auto 0;
    padding: 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
    display: block;
  }
  .look__info ul.look__blocks {
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 20px;
    max-width: 340px;
    margin: 64px auto 0;
  }
  .look__info ul.look__blocks li .look__img {
    height: 194px;
  }
  .look__info ul.look__blocks li p {
    margin: 30px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
}
