.look {
  padding: 0 0 115px 0;

  &__body {
    max-width: 730px;
    margin: 0 auto;
  }
  &__content {
    margin: 33px 0 0 0;
  }
  &__text {
    color: $act;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
  }
  &__title {
    margin: 40px 0 0 0;
  }

  &__video {
    margin: 90px 0 0 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 920px;
    .plyr {
      display: block;
      height: auto;
      width: auto;
      height: 100%;

      &.plyr--stopped {
        & > .plyr__controls {
          display: none;
        }
      }
      &.plyr--playing {
        & > .plyr__controls {
          display: flex;
        }
      }
    }
  }
  .plyr__poster {
    background-size: cover;
  }
  .plyr__control--overlaid {
    width: 122px;
    height: 122px;
    flex-grow: 0;
    border-radius: 100px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: $act;
    svg {
      display: none;
    }
    transition: all 1s;
    &:hover {
      background-color: $act-hover;
      transform: translate(-50%, -50%) rotate(720deg);
    }
    &::after {
      content: "";
      background-image: url(assets/svg/load.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // background-color: $black;
    }
  }
}
.look__info {
  p.look__bage {
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 160%;
    margin: 115px auto 0;
    border: 1px solid $act;
    width: 1110px;
    padding: 70px 97px;
    text-align: center;
    span {
      color: $act;
    }
  }
  ul.look__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 23px;
    max-width: 1110px;
    margin: 64px auto 0;
    li {
      p {
        color: rgb(232, 232, 232);
        font-family: "Work Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;
        margin: 70px 0 0 0;
      }
      .look__img {
        height: 312px;
        position: relative;
      }
    }
  }
}
