section#look.look
  .container
    .look__video
      video#player-1.player-1(playsinline='' controls='' data-poster='assets/img/paralax.jpg')
        source(src='assets/video/video-1.mp4' type='video/mp4')

