.tab__title {
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  padding: 14px;
  background-color: rgb(60, 168, 218);
  border: 1px solid red;
  span {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
  }
  span.icon {
    position: relative;
    width: 12px;
    height: 12px;
    &::before,
    &::after {
      content: "";
      background-color: rgb(60, 168, 218);
      position: absolute;
      width: 12px;
      height: 2px;
      top: 50%;
      left: 50%;
      transition: all 0.3s;
    }
    &::before {
      transform: translate(-50%, -50%);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  svg {
    width: 10px;
    height: 10px;
    transition: all 0.3s ease-in-out;
  }
}

.tabs ul > li {
  position: relative;
  border: 1px solid rgb(170, 194, 37);
  display: flex;
  flex-direction: column;
}
.tabs ul > li > ul li {
  margin: 0 0 0 0;
}
.tabs__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tabs .hidden {
  height: 0;
  overflow: hidden;
  border: 1px solid red;
  background-color: blue;
  transition: all 1s;
  &._is-active {
    height: auto;
  }
  p {
    color: aliceblue;
  }
}

.tab__title._is-active {
  background-color: chartreuse;
  svg,
  span {
  }
  svg {
    transform: rotate(180deg);
  }
  span.icon {
    position: relative;
    &::after {
      transform: translate(-50%, -50%);
    }
  }
}

