if patern.one 
  -
    var blocks = [
      {text: '14 офисов в восьми городах Украины'},
      {text: 'Развиваемся всегда. Даже в кризис и трудные времена'},
      {text: 'Самые доступные условия приобретения франшизы для новых партнеров'},
    ];

if patern.vor
  -
    var blocks = [
      {text: 'Работа c поддержкой надежного бренда'},
      {text: 'Вся необходимая брендированная продукция: брендбук, презентации и т. д.'},
      {text: 'Эффективный, функциональный и стильный сайт для работы'},
      {text: 'Повышение квалификации и обучение: семинары, бизнес-тренинги, мастер-классы'},
      {text: 'Лояльная цена на франшизу для наших новых партнеров'},
    ];