if patern.one 
  -
    var blocks = [
      {text: '14 офисов в восьми городах Украины'},
      {text: 'Развиваемся всегда. Даже в кризис и трудные времена'},
      {text: 'Самые доступные условия приобретения франшизы для новых партнеров'},
    ];
  each block in blocks
    .item
      svg.item__icon 
        use(xlink:href='../../../../assets/img/sprite.svg#round')
      p.item__text=block.text
if patern.get 
  ul.get__body
    -
      var blocks = [
        {
          src: '../../../../assets/img/sprite.svg#get5',
          title: 'Сила Бренда ',
          text: 'Узнаваемый бренд компании значитель ускорит достижение ваших бизнес-целей и увеличит доход'
        },
        {
          src: '../../../../assets/img/sprite.svg#get4',
          title: 'HR экосистема',
          text: 'Поможем с подбором кадров, построением процесса привлечения агентов и руководителей'
        },
        {
          src: '../../../../assets/img/sprite.svg#get6',
          title: 'Национальный лидер',
          text: 'Мы уже представлены в восьми городах Украины и планируем расширять сеть и далее'
        },
        {
          src: '../../../../assets/img/sprite.svg#get3',
          title: 'Обучающая система',
          text: 'Предоставим вам одну из лучших обучающих систем для агентов в стране на базе дейстующих проектов'
        },
        {
          src: '../../../../assets/img/sprite.svg#get2',
          title: 'IT-поддержка',
          text: 'Поможем с полным обеспечением вашего бизнеса IT-технологиями: начиная от CRM и заканчивая сайтом'
        },
        {
          src: '../../../../assets/img/sprite.svg#get1',
          title: 'Маркетинг и Реклама',
          text: 'Предоставим бренд-бук для разработки необходимых материалов и поможем в продвижении бизнеса'
        },
       
      ];
    each block in blocks
      section.card
        svg.card__img
              use(xlink:href=block.src)
        .card__title
          h4=block.title
        p.card__text=block.text

if patern.vor
  -
    var blocks = [
      {text: 'Работа c поддержкой надежного бренда'},
      {text: 'Вся необходимая брендированная продукция: брендбук,презентации и т. д.'},
      {text: 'Эффективный, функциональный и стильный сайт для работы'},
      {text: 'Повышение квалификации и обучение: семинары,бизнес-тренинги,мастер-классы'},
      {text: 'Лояльная цена на франшизу для наших новых партнеров'},
    ];
  each block in blocks
    .item
      svg.item__icon 
        use(xlink:href='../../../../assets/img/sprite.svg#round')
      p.item__text=block.text












