section(id='serv').serv.rel
  .container
    .serv__title.title
      h2 Наши услуги по покраске стен красками разных брендов, в том числе декоративными
    .serv__body
      include ../slider-double/sdouble.pug
