.serv-top__slide.serv-top-slide
  .serv-top-slide__img.rel 
    .imgs
      img(src='./assets/img/serv/i-4.jpg' alt='img')
    a.tta.center.serv-top-slide__cheap.uk-margin-remove-top.uk-button.uk-button-large.uk-button-default(target='_blank' class='uk-width-auto@s' style='z-index:999;')
      | OT 45 UAH | M
      <sup>2</sup>
  .serv-top-slide__body
    .serv-top-slide__title 
      h3 Покраска обоев
    p Типы обоев, используемых под покраску
    ul 
      li   Самыми популярными типами материалов для недорогой отделки стен являются обои под покраску из полотна на флизелиновой основе или винила.
      li   Флизелиновые обои легко наклеиваются и подходят для всех жилых помещений, они безопасны по экологическим нормам и сглаживают неровности финишной отделки стен. Покраска флизелиновых обоев широко применяется при косметическом ремонте квартир и офисов.
      li   Виниловые обои обычно используются для помещений с повышенной влажностью или в проходных зонах. Покраска виниловых обоев предпочтительна в коридоре, для санузла или на кухне. Этот материал легко моется и долговечен, а в случае, если виниловый слой наносится на бумажную основу, его можно применять для наклеивания на потолок и вскрытия водоэмульсионной краской.
      li   Также существует особый тип обоев, произведенных из стекловолокнистых нитей. Этот прочный материал используется под покраску. Если вам надо покрасить стеклообои, то мы сделаем эту работу, воспользовавшись водоэмульсионной или акриловой краской.

    .serv-top-slide__button
      include ../buttons/main-button.pug





