-
        var blocks = [
        {title: 'после того, как я съел свой ужин, я расслабился на диване',text: 'nachdem ich meine Abendessen gegessen hate, entspannte ich mich auf dem Sofa'},
        {title: 'я люблю гулять, особенно после дождя и свежего воздуха.',text: 'ich gehe gerne spazieren, besonders nachdem es geregnet hat und die Luft frisch ist.'},
        {title: 'Выпив кофе, я принялся за работу.',text: 'nachdem ich meine kaffe getrunken hatte, begann ich mit meiner Arbeit.'},
        {title: 'Я с нетерпением жду выходных после напряженной недели в офисе.',text: 'Ich freue mich auf das Wochenende, nachdem ich eine stressige Woche im Büro hatte.'},
        {title: 'Оплатив счет, мы вышли из ресторана.',text: 'Nachdem wir die Rechnung bezahlt hatten, verließen  wir das Restaurant.'},
        {title: 'я пошел в спортзал после того, как вылечился от простуды.',text: 'ich ging ins Fitnessstudio, nachdem ich mich von meiner Erkältung erholt hatte.'},
        {title: 'После ответов на электронные письма у меня появилось время поработать над книгой.',text: 'Nachdem ich meine E-Mails beantwortet hatte, hatte ich Zeit , um an meinem Buch zu arbeiten'},
        {title: 'Я чувствую себя намного лучше после приема обезболивающего.',text: 'ich fülte mich viel besser, nachdem ich eine Schmerztablette genommen hatte.'},
        {title: 'После того, как я получил водительские права, я купил машину.',text: 'Nachdem ich meine Führerschein gemacht hatte, kaufte ich mir ein Auto.'},
        {title: 'Я читал книгу, сидя в поезде.',text: 'ich lese ein Buch, während ich im Zug sitze.'},
        {title: 'Я часто слушаю аудиокниги, когда стою в пробке.',text: 'Während ich im Stau stehe, höre ich oft Hörbücher.'},
        {title: 'Я люблю смотреть телевизор, пока готовлю',text: 'Ich gucke gerne Fernsehen, während ich koche'},
        {title: 'Я люблю писать, сидя в кафе.',text: 'Ich schreibe gerne, während ich im Cafe sitze.'},
        {title: 'Я учу немецкий, пока еду в метро.',text: 'ich lerne Deutsch, während ich der U-Bahn fahre'},
        {title: 'пока я принимаю душ, я люблю слушать музыку',text: 'während ich dusche, höre ich gerne Musik'},
        {title: 'я обычно ем фрукты, пока работаю.',text: 'ich esse normalerweise Obst, während ich arbeite.'},
        {title: 'пока я жду автобуса, я отвечаю на электронные письма на своем мобильном телефоне.',text: 'während ich auf den Bus warte, beantworte ich E-Mails auf meinem Handy.'},
        {title: 'Я уберу это, пока разговариваю по телефону с мужем.',text: 'Ich räume das auf, während ich mit meinem Mann telefoniere.'},
        {title: 'Я слушаю подкасты во время стирки.',text: 'während ich Wäsche wasche, höre ich Podcasts.'},
       

        ];