section.galery.gal
  .container
    .galery__title.title.t-25
      h2 Фото galery
    ul._plasa-js._galery-body-js.Gal#GAL
        -
          var blocks = [
            {src: './assets/img/img-3.png',data: 'red',},
            {src: './assets/img/paralax.jpg',data: 'blue',},
            {src: './assets/img/img-1.png',data: 'green',},
            {src: './assets/img/img-2.png',data: 'green',},
            {src: './assets/img/img-2.png',data: 'coral',},
            {src: './assets/img/paralax.jpg',data: 'blue',},
            {src: './assets/img/img-3.png',data: 'green',},
            {src: './assets/img/img-3.png',data: 'red',},
            {src: './assets/img/paralax.jpg',data: 'green',},
            {src: './assets/img/img-3.png',data: 'red',},
            {src: './assets/img/paralax.jpg', data: 'blue',},
            {src: './assets/img/img-2.png', data: 'coral',},
          ];
        each block in blocks
          li._galery-item-js.rel.center.Gal__item.center.GAL-item-js
            .imgs
                img(data=block.src alt='img')
            a(href="!#" rel='#popupGalery').galery__img.but-wave.popups-init-js.common__link.center 
                svg
                      use(xlink:href='#licens-link')

    button.gal__link.btn.btn--success 
        span Загрузить еще
        svg
          use(xlink:href='#load')