.accord--galery {
  li ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 37px 36px;
  }

  .galery__item {
    cursor: pointer;
    width: 200px;
    height: 300px;
    margin: 10px 0;
    display: block;
    .galery__img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

// #popupGalery {
//   width: 100%;
//   height: 100%;

//   .slider__item {
//     min-height: 90vh;
//   }

//   .slider-arrow-next {
//     right: 55px;
//   }
//   .slider-arrow-prev {
//     left: 55px;
//   }
// }
