section(id='tab').tab.rel._tabs-container-js
  .container
    .tab__title
      h2 tab
    .tab__body._tab-body-js
      .kab._kab-js
        .kab__title._kab-title-js
          h4 kab title1
          svg
            use(xlink:href='#chevron-down')
        .kab__hidden._kab-hidden-js 
          ._kab-wrap-js
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .kab._kab-js
        .kab__title._kab-title-js
          h4 kab title2
          svg
            use(xlink:href='#chevron-down')
        .kab__hidden._kab-hidden-js 
          ._kab-wrap-js
            .tab__body._tab-body-js
              .kab._kab-js(style='width: 50%')
                .kab__title._kab-title-js
                  h4 kab title3
                  svg
                    use(xlink:href='#chevron-down')
                .kab__hidden._kab-hidden-js 
                  ._kab-wrap-js
                    p Lorem ipsum dolor sit amet.
              .kab._kab-js(style='width: 50%')
                .kab__title._kab-title-js
                  h4 kab title4
                  svg
                    use(xlink:href='#chevron-down')
                .kab__hidden._kab-hidden-js 
                  ._kab-wrap-js 
                    .tab__body._tab-body-js
                      .kab._kab-js(style='width: 50%')
                        .kab__title._kab-title-js
                          h4 kab title3
                          svg
                            use(xlink:href='#chevron-down')
                        .kab__hidden._kab-hidden-js 
                          ._kab-wrap-js
                            p Lorem ipsum dolor sit amet.
                      .kab._kab-js(style='width: 50%')
                        .kab__title._kab-title-js
                          h4 kab title4
                          svg
                            use(xlink:href='#chevron-down')
                        .kab__hidden._kab-hidden-js 
                          ._kab-wrap-js 
                            p Lorem ipsum dolor sit amet.