.tabs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.tab {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

  &-header {
    padding: 10px 30px 10px 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
    position: relative;
    white-space: nowrap;
    &:hover {
      background-color: #e1e1e1;
    }
    svg {
      transition: all 0.2s;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      right: 10px;
    }
  }

  &-content {
    overflow: hidden;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.2s;
  }
  &-wrap {
    transition: all 0.2s;
    min-height: 0;
    padding: 0 10px;
  }
  &._is-active > .tab-header {
    background-color: #a7a5a5;
  }
  &._is-active > .tab-content {
    grid-template-rows: 1fr;

    & > .tab-wrap {
      padding: 10px;
    }
  }
  &._is-active > .tab-header svg {
    transform: translate(0%, -50%) rotate(180deg);
  }
}
