h2 tab
.tabs-container
  .tab
    .tab-header Item 1
      svg
        use(xlink:href='#chevron-down')
    .tab-content
      .tab-wrap
        p Content for Item 1
        .tab
          .tab-header Item 2
            svg
              use(xlink:href='#chevron-down')
          .tab-content
            .tab-wrap
              p Content for Item 2
              .tab
                .tab-header Item 2
                  svg
                    use(xlink:href='#chevron-down')
                .tab-content
                  .tab-wrap
                    p Content for Item 2
                    .tab
                      .tab-header Item 2
                        svg
                          use(xlink:href='#chevron-down')
                      .tab-content
                        .tab-wrap
                          p Content for Item 2
                          .tab
                            .tab-header Item 2
                              svg
                                use(xlink:href='#chevron-down')
                            .tab-content
                              .tab-wrap
                                p Content for Item 2
        .tab
          .tab-header Item 2
            svg
              use(xlink:href='#chevron-down')
          .tab-content
            .tab-wrap
              p Content for Item 2
  .tab
    .tab-header Item 1
      svg
        use(xlink:href='#chevron-down')
    .tab-content
      .tab-wrap
        p Content for Item 1
        .tab
          .tab-header Item 2
            svg
              use(xlink:href='#chevron-down')
          .tab-content
            .tab-wrap
              p Content for Item 2
              .tab
                .tab-header Item 2
                  svg
                    use(xlink:href='#chevron-down')
                .tab-content
                  .tab-wrap
                    p Content for Item 2
