footer#footer.footer
  .container
    .footer__body
      .footer__col
        .logo
          a(href='#!').logo__link
            img(src='./assets/img/logo.svg' alt='img')
        a(href="#!").footer__phone 8 (800) 123-45-67
        .footer__item 
          svg
            use(xlink:href='#loc')
          span Адрес
          p г. Богучар, ул. Мжд Киевское 17-й км
        .footer__item
          svg
            use(xlink:href='#loc')
          span Email
          a(href="#!") 
            span example@example.ru
        include ../common/soc.pug
      .footer__col
        include ../form/form.pug

      .footer__col.footer__col--menu
        h3 Полезные ссылки
        include ../tabs/tabs.pug

      
