footer#footer.footer
    .footer__body
      .footer__logo.logo
        a(href='#!').logo__link
         img(src='./assets/img/logo.svg' alt='img')
      nav.footer__col
        a(href='#!' ).footer__link О нас
        a(href='#!' ).footer__link Вакансии
        a(href='#!' ).footer__link Обучение
        a(href='#!' ).footer__link Франшиза
        a(href='#!' ).footer__link Realty Forum
        a(href='#!' ).footer__link Отзывы
        a(href='#!' ).footer__link Контакты
       
      .footer__col.footer__col--info.info
        a(href='#!' ).info__adress
          svg
            use(xlink:href='../../../../assets/img/sprite.svg#location') 
          span Киев, ул. Богдана Хмельницкого, 17/52 БЦ "Леонардо"
        a(href='#!' ).info__phone 
          svg
            use(xlink:href='../../../../assets/img/sprite.svg#location') 
          span +7(000) 123 45 65 67 
        a(href='#!' ).info__email  
          svg
            use(xlink:href='../../../../assets/img/sprite.svg#location') 
          span info@valion.ua
    .footer__low
      p.footer__pol 2020. Все права защищены. Наши партнеры:
