.footer {
  position: relative;
  margin: auto 0 0 0;

  flex-grow: 0;

  background-color: $greyish-brown;
}

.footer__body {
  padding: 0 30px 0 30px;
  display: grid;
  height: 83px;
  grid-template-columns: 96px 460px 1fr;
  column-gap: 40px;
  align-items: center;
}

.footer__col {
  display: flex;
  align-items: center;
}

nav {
  column-gap: 10px;
  .footer__link {
    font-size: 13px;
    color: $white;
    cursor: pointer;
    &:hover{
      color: lighten($blood-orange, 20%)
    }
  }
}



.footer__col--info {
  a{
  &:hover{
     span{
color: lighten($blood-orange, 20%)
     } 
     svg{
      fill:lighten($blood-orange, 20%)
     }
    }
  }
    
  display: flex;
  column-gap: 40px;
  margin: 0 0 0 auto;
  svg {
    height: 13px;
    width: 8px;
    margin: 0 6px 0 0;
    transition: all .2s;
    fill:$white;
  }
  span {
    font-size: 13px;
    color: $white;
    transition: all .2s;
  }
}

.footer__low {
  text-align: center;
  height: 64px;
  background-color: $black;
}
.footer__pol{
  color: $white;font-size: 12px; height: 64px;
  display: flex;
  align-items: center;
  text-align: start;
  padding: 0 30px  ;
}

@media (min-width: 901px) and (max-width: 1024px) {
  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 999px) {
  .footer {
    padding: 20px 0;
  }

  .footer__body {
    grid-template-columns: 1fr;
    column-gap: 0px;
    align-items: center;
    justify-items: center;
  }

  .footer__cheap {
    justify-self: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
  }

  .footer__col--info {
    display: flex !important;
    margin: 20px 0 0 0;
  }

  .info__search--footer {
    margin: 0;
  }
}
