.footer {
  position: relative;
  margin: auto 0 0 0;
  flex-grow: 0;
  background-color: $greyish-brown;
}

.footer__body {
  padding: 0 30px 0 30px;
  display: grid;
  height: 83px;
  grid-template-columns: 96px 460px 1fr;
  column-gap: 40px;
  align-items: center;
}

.footer__col {
  display: flex;
  align-items: center;
}

nav {
  column-gap: 10px;
  .footer__link {
    font-size: 13px;
    color: $white;
    cursor: pointer;
    &:hover {
      color: lighten($blood-orange, 20%);
    }
  }
}

.footer__col--info {
  a {
    &:hover {
      span {
        color: lighten($blood-orange, 20%);
      }
      svg {
        fill: lighten($blood-orange, 20%);
      }
    }
  }

  display: flex;
  column-gap: 40px;
  margin: 0 0 0 auto;
  svg {
    height: 13px;
    width: 8px;
    margin: 0 6px 0 0;
    transition: all 0.2s;
    fill: $white;
  }
  span {
    font-size: 13px;
    color: $white;
    transition: all 0.2s;
  }
}

.footer__low {
  text-align: center;
  height: 64px;
  background-color: $black;
}
.footer__pol {
  color: $white;
  font-size: 12px;
  height: 64px;
  display: flex;
  align-items: center;
  text-align: start;
  padding: 0 30px;
}



@media (max-width: 1199px) {
  .footer {
    margin: auto 0 0 0;
    background-color: $greyish-brown;
    height: auto;
  }

  .footer__body {
    padding: 20px 10px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    column-gap: 0px;
    justify-items: center;
  }

  .footer__col {
    display: flex;
    align-items: center;
  }

  nav {
    column-gap: 0px;
    flex-direction: column;
    margin: 20px 0 0 0;
  }

  .footer__col--info {
    display: grid;
    column-gap: 0px;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 20px 0 0 0;
    width: 100%;
    a {
      display: grid;
      column-gap: 10px;
      grid-template-columns: 8px 1fr;
    }
    svg {
      height: 13px;
      width: 8px;
      margin: 6px 0 0 0;
    }
    span {
      font-size: 13px;
      color: $white;
      text-align: center;
    }
  }

  .footer__low {
    height: auto;
  }
  .footer__pol {
    height: auto;
    display: flex;
    text-align: center;
    padding: 10px 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px)
{
  .footer__body {
    grid-template-columns: 96px 1fr ;
    column-gap: 20px;
  }
 nav {
    column-gap: 20px;
    flex-direction: row;
align-items: center;
    margin: 0px 0 0 0;
  }
  .footer__col--info{
    grid-column: 1/3;
  }

}


