#gross{
  padding: 213px 0 0 0;
}
.versteckt__wrapper_deutsch {
  background: rgb(252, 226, 198);
  border: none;
  padding: 3px;
  p {
    font-size: 20px;
  }
}

.tab__title_deutsch {
  padding: 5px;
  background-color: rgb(231, 144, 44);

  span {
    font-size: 20px;
  }
  &._is-active {
    background: rgb(160, 89, 8);
    span {
      color: black;
    }
  }
  span {
    color: rgb(3, 3, 3);
  }
}


.tab-werb {
  .tab__title_deutsch {
    background-color: rgb(160, 206, 160);
    &._is-active {
      background: rgb(98, 150, 98);
    }
  }
  .versteckt__wrapper_deutsch {
    background: rgb(230, 245, 225);
  }
}

.tab-zaten{
   .tab__title_deutsch {
    background-color: rgb(181, 192, 252);
    &._is-active {
      background: rgb(128, 139, 196);
    }
  }
  .versteckt__wrapper_deutsch {
    background: rgb(230, 233, 252);
  }
}
