section.tabs#tabs_deutsch
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab__title_deutsch.tab-title-js
            span tab3
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper.hidden__wrapper_deutsch
              p hidden3
             
