section.tabs(id='gross')
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span phrasen
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              include ../deutsch/phrasen/phrasen.pug
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js.tab__title--worte
            span worte
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              include ../deutsch/worte/worte.pug
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js.tab__title--verben
            span verben
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              include ../deutsch/verben/verben.pug
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js.tab__title--index-pronomen
            span index-pronomen
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              include ../deutsch/index-pronomen/index-pronomen.pug
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js.tab__title--komplexe
            span komplexe
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              include ../deutsch/komplexe/komplexe.pug
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js.tab__title--passiv
            span passiv
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              include ../deutsch/passiv/passiv.pug
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js.tab__title--nachdem
            span nachdem während
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              include ../deutsch/nachdem/nachdem.pug


