.tab {
  position: relative;
}




.tab__title {
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .3s ease-in-out;
  padding: 10px 40px;
  background-color: rgb(218, 167, 100);

}

.tab__title svg {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
}

.tab__title span {
  transition: all 0.3s ease-in-out;
}

.tabs ul > li {
  position: relative;
  margin:  5px ;
  background-color: antiquewhite;
}
.tabs ul > li > ul li {
  margin: 0 0 0 0;
  
}
.tabs-container-js .tabs-container-js{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tabs ul > li > ul li{
  display: inline-table;
  width: 33.33333%;
}

.tabs .hidden {
  // background: rgb(85, 40, 143);
  transition: all 1s ;
  transform: scaleY(0);
  transform-origin: top;
  max-height: 0;
  overflow: hidden;
}

.hidden__wrapper{
border: 1px solid red;
background-color: rgb(138, 79, 214);
}


.tab-title-js._is-active {
  svg,
  span {
 
  }
  svg {
    transform: rotate(180deg);
  }
}

.tabs .hidden._is-active {
 animation: pulse 1s ;
 animation-fill-mode: forwards;
}

.tabs .hidden._not-active {
 animation: notPulse 1s ;
 animation-fill-mode: forwards;
}




@keyframes pulse {
0% {
transform: scaleY(0);
}
100% {
transform: scaleY(1);
}
}

@keyframes notPulse {
0% {
transform: scaleY(1);
}
100% {
transform: scaleY(0);
}
}


// .tabs .hidden._is-active li {
//   margin: 0 0 0 0;
// }
