
if section.header || section.footer
  section.tabs.tabs--common
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Наркомания
            //- svg
            //-   use(xlink:href='#chevron-down')
            span.icon 
          .hidden.tab-hidden-js
              .hidden__wrapper
                a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания1
                a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания2
                a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания3
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Наркомания
            //- svg
            //-   use(xlink:href='#chevron-down')
            span.icon 
          .hidden.tab-hidden-js
              .hidden__wrapper
                a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания1
                a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания2
                a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания3
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Наркомания
            //- svg
            //-   use(xlink:href='#chevron-down')
            span.icon 
          .hidden.tab-hidden-js
              .hidden__wrapper
                a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания1
                a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания2
                a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания3
            

else if section.tabs
  section.tabs
    .container
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span tab2
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            //- .hidden__wrapper
            p hidden2
            p hidden2
            p hidden2
            //- 
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Наркологическая клиника
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            ul.tabs__body.tabs-container-js
              li.tabs__tab.tab.tab-js
                p.tab__title.tab-title-js
                  span tab2
                  svg
                    use(xlink:href='#chevron-down')
                .hidden.tab-hidden-js
                  //- .hidden__wrapper
                  p hidden2
                  p hidden2
                  p hidden2
              li.tabs__tab.tab.tab-js
                p.tab__title.tab-title-js
                  span tab2
                  svg
                    use(xlink:href='#chevron-down')
                .hidden.tab-hidden-js
                  ul.tabs__body.tabs-container-js
                    li.tabs__tab.tab.tab-js
                      p.tab__title.tab-title-js
                        span tab2
                        svg
                          use(xlink:href='#chevron-down')
                      .hidden.tab-hidden-js
                        //- .hidden__wrapper
                        p hidden2
                        p hidden2
                        p hidden2
                    li.tabs__tab.tab.tab-js
                      p.tab__title.tab-title-js
                        span tab2
                        svg
                          use(xlink:href='#chevron-down')
                      .hidden.tab-hidden-js
                        //- .hidden__wrapper
                        p hidden2
                        p hidden2
                        p hidden2
                        p hidden2
                        p hidden2
                        p hidden2
               










            
