
if section.header || section.footer
  section#tabs--common.tabs
    ul.tabs__body.tabs-container-js
      li.tabs__tab.tab.tab-js
        p.tab__title.tab-title-js
          span Наркомания
          span.icon 
        ul.hidden.tab-hidden-js
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания1
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания2
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания3
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания1
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания2
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания3
      li.tabs__tab.tab.tab-js
        p.tab__title.tab-title-js
          span Алкоголизм
          span.icon 
        ul.hidden.tab-hidden-js
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания1
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания2
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания3
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания1
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания2
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания3
      li.tabs__tab.tab.tab-js
        p.tab__title.tab-title-js
          span Реабилитация
          span.icon 
        ul.hidden.tab-hidden-js
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания1
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания2
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания3
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания1
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания2
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания3

      li.tabs__tab.tab.tab-js
        p.tab__title.tab-title-js
          span Кодирование
          span.icon 
        ul.hidden.tab-hidden-js
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания1
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания2
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания3
      li.tabs__tab.tab.tab-js
        p.tab__title.tab-title-js
          span Цены
        .hidden.tab-hidden-js

      li.tabs__tab.tab.tab-js
        p.tab__title.tab-title-js
          span О клинике
          span.icon 
        ul.hidden.tab-hidden-js
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания1
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания2
          li
            a.menu__link(href='#!' rel='#bunner') Наркомания3
      li.tabs__tab.tab.tab-js
        p.tab__title.tab-title-js
          span Контакты
        .hidden.tab-hidden-js



else 
  section.tabs
    .container
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span tab2
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
              .hidden__body
                p hidden2
                p hidden2
                p hidden2
                p hidden2
                p hidden2
                p hidden2
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Наркологическая клиника
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            ul.tabs__body.tabs-container-js
              li.tabs__tab.tab.tab-js
                p.tab__title.tab-title-js
                  span tab2
                  svg
                    use(xlink:href='#chevron-down')
                .hidden.tab-hidden-js
                      p hidden2
                      p hidden2
                      p hidden2
              li.tabs__tab.tab.tab-js
                p.tab__title.tab-title-js
                  span tab2
                  svg
                    use(xlink:href='#chevron-down')
                .hidden.tab-hidden-js
                  ul.tabs__body.tabs-container-js
                    li.tabs__tab.tab.tab-js
                      p.tab__title.tab-title-js
                        span tab2
                        svg
                          use(xlink:href='#chevron-down')
                      .hidden.tab-hidden-js
                            p hidden2
                            p hidden2
                            p hidden2
                    li.tabs__tab.tab.tab-js
                      p.tab__title.tab-title-js
                        span tab2
                        svg
                          use(xlink:href='#chevron-down')
                      .hidden.tab-hidden-js
                            p hidden2
                            p hidden2
                            p hidden2
                            p hidden2
                            p hidden2
                            p hidden2












