
if section.header || section.footer
  section.tabs.tabs--common
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Наркомания
            //- svg
            //-   use(xlink:href='#chevron-down')
            span.icon 
          .hidden.tab-hidden-js
            .hidden__wrapper
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания1
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания2
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Наркомания3
            
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Алкоголизм
            span.icon
          .hidden.tab-hidden-js
            .hidden__wrapper
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Алкоголизм1
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Алкоголизм2
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Алкоголизм3
            
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Реабилитация
            span.icon
          .hidden.tab-hidden-js
            .hidden__wrapper
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Реабия1
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Реабия2
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Реабиия3
            
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Кодирование
            span.icon
          .hidden.tab-hidden-js
            .hidden__wrapper
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Реабция1
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Реабиия2
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Реабия3
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Цены
          .hidden.tab-hidden-js
      
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span О клинике
            span.icon
          .hidden.tab-hidden-js
            .hidden__wrapper
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Lorem 
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Lorem 
              a.menu__link.menu__link--active(href='#!' rel='#bunner') Реабилитация3
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Контакты
          .hidden.tab-hidden-js
else 
   section.tabs
    .container
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span tab1
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              ul.tabs__body.tabs-container-js
                li.tabs__tab.tab.tab-js
                  p.tab__title.tab-title-js
                    span title1
                    svg
                      use(xlink:href='#chevron-down')
                  .hidden.tab-hidden-js
                    .hidden__wrapper
                      ul.tabs__body.tabs-container-js
                        li.tabs__tab.tab.tab-js
                          p.tab__title.tab-title-js
                            span title1
                            svg
                              use(xlink:href='#chevron-down')
                          .hidden.tab-hidden-js
                            .hidden__wrapper
                              p hidden11
                              p hidden11
                              p hidden11
      
                        li.tabs__tab.tab.tab-js
                          p.tab__title.tab-title-js
                            span title2
                            svg
                              use(xlink:href='#chevron-down')
                          .hidden.tab-hidden-js
                            .hidden__wrapper
                              p hidden22
                              p hidden22
                              p hidden22
                li.tabs__tab.tab.tab-js
                          p.tab__title.tab-title-js
                            span title2
                            svg
                              use(xlink:href='#chevron-down')
                          .hidden.tab-hidden-js
                            .hidden__wrapper
                              p hidden22
                              p hidden22
                              p hidden22
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span tab2
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              p hidden2
              p hidden2
              p hidden2
            //- 
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span tab3
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              p hidden3
              p hidden3
              p hidden3