section.tabs
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Как купить квартиру в Печерском районе на сайте Valion
            svg
              use(xlink:href='../../../../assets/img/sprite.svg#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              p Стоимость покупки квартиры в выбранной вами локации – от 7,6 млн до 45,9 млн руб.,
              p площадь – от 30 до 109 кв. м.,
              p площадь – от 30 до 109 кв. м.,
              p цена квадратного метра – от 196 059 до 498 154 руб.,
              p в среднем она составляет 286 814 руб.
            
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure vitae accusantium maxime in quis quasi eius porro quam harum libero. Alias assumenda veritatis, reprehenderit voluptatem voluptas nobis explicabo quas dolorem.
            svg
              use(xlink:href='../../../../assets/img/sprite.svg#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              p Стоимость покупки квартиры в выбранной вами локации – от 7,6 млн до 45,9 млн руб.,
              p площадь – от 30 до 109 кв. м.,
              p площадь – от 30 до 109 кв. м.,
              p цена квадратного метра – от 196 059 до 498 154 руб.,
              p в среднем она составляет 286 814 руб.
            
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Как купить квартиру в Печерском районе на сайте Valion
            svg
              use(xlink:href='../../../../assets/img/sprite.svg#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              p Стоимость покупки квартиры в выбранной вами локации – от 7,6 млн до 45,9 млн руб.,
              p площадь – от 30 до 109 кв. м.,
              p площадь – от 30 до 109 кв. м.,
              p цена квадратного метра – от 196 059 до 498 154 руб.,
              p в среднем она составляет 286 814 руб.
            

