section.tabs
    .container
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span tab2
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
              .hidden__body
                p hidden2
                p hidden2
                p hidden2
                p hidden2
                p hidden2
                p hidden2
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Наркологическая клиника
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            ul.tabs__body.tabs-container-js
              li.tabs__tab.tab.tab-js
                p.tab__title.tab-title-js
                  span tab2
                  svg
                    use(xlink:href='#chevron-down')
                .hidden.tab-hidden-js
                      p hidden2
                      p hidden2
                      p hidden2
              li.tabs__tab.tab.tab-js
                p.tab__title.tab-title-js
                  span tab2
                  svg
                    use(xlink:href='#chevron-down')
                .hidden.tab-hidden-js
                  ul.tabs__body.tabs-container-js
                    li.tabs__tab.tab.tab-js
                      p.tab__title.tab-title-js
                        span tab2
                        svg
                          use(xlink:href='#chevron-down')
                      .hidden.tab-hidden-js
                            p hidden2
                            p hidden2
                            p hidden2
                    li.tabs__tab.tab.tab-js
                      p.tab__title.tab-title-js
                        span tab2
                        svg
                          use(xlink:href='#chevron-down')
                      .hidden.tab-hidden-js
                            p hidden2
                            p hidden2
                            p hidden2
                            p hidden2
                            p hidden2
                            p hidden2
