section.tabs
    .container
      ul.tabs__body.tabs-container-js
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Как купить квартиру в Печерском районе на сайте Valion
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              p Стоимость покупки квартиры в выбранной вами локации – от 7,6 млн до 45,9 млн руб.,
              p площадь – от 30 до 109 кв. м.,
              p площадь – от 30 до 109 кв. м.,
              p цена квадратного метра – от 196 059 до 498 154 руб.,
              p в среднем она составляет 286 814 руб.
            
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Сколько стоит квартира на Печерске
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              p hidden3
              p hidden3
              p hidden3
        li.tabs__tab.tab.tab-js
          p.tab__title.tab-title-js
            span Сколько стоит размещение объявления на сайте Valion
            svg
              use(xlink:href='#chevron-down')
          .hidden.tab-hidden-js
            .hidden__wrapper
              p hidden3
              p hidden3
              p hidden3
