section(id='get').get.rel
  .container
    .get__body
      .get__title
        include ../title/title.pug
      .get__items
        include ../items/items.pug
      .get__button 
        include ../buttons/bunner-button.pug


