section(id='get').get.rel
  .container
    .get__body
      .get__title.title2
        h2 Что вы получите по франшизе?
      .get__items
        include ../items/items.pug
      .get__button 
        include ../buttons/main-button.pug


