//- скрипт отлавливает содержимое li и выводит в слайдер. важно чтобы содержимое было разбито на блоки ---div.card

section.galSlider.accord.accord--galery
  .container
    h2 galSlider
    .accord__body._accord-js._accord-galery-js
      nav.accord__nav._accord-nav-js
        button(type='button')._is-active blue
        button(type='button')  green
        button(type='button')  coral
        button(type='button')  red
        button(type='button')  all

      .accord__hidden._accord-hidden-js
        ul._accord-hidden-wrap
          li
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
              .card__body 
                .card__title 
                  h3 appartments1
                .card__body
                  h4 total 1

            div.card
              .imgs
                img(src="assets/img/img-1.png" alt="alt")
              .card__body 
                .card__title 
                  h3 appartments1
                .card__body
                  h4 total 1
            div.card
              .imgs
                img(src="assets/img/img-3.png" alt="alt")
              .card__body 
                .card__title 
                  h3 appartments1
                .card__body
                  h4 total 1
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
              .card__body 
                .card__title 
                  h3 appartments1
                .card__body
                  h4 total 1
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
              .card__body 
                .card__title 
                  h3 appartments1
                .card__body
                  h4 total 1

          li
            div.card
              .imgs
                img(src="assets/img/paralax.jpg" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/paralax.jpg" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/paralax.jpg" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
          li
            div.card
              .imgs
                img(src="assets/img/img-1.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/paralax.jpg" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-3.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/paralax.jpg" alt="alt")
          li
            div.card
              .imgs
                img(src="assets/img/paralax.jpg" alt="alt")
            div.card
              .imgs
                img(src="assets/img/paralax.jpg" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/img-2.png" alt="alt")
            div.card
              .imgs
                img(src="assets/img/paralax.jpg" alt="alt")
            div.card
              .imgs
                img(src="assets/img/paralax.jpg" alt="alt")

          li._allBlocks


.swiper-gal
  .swiper-gal__body
    .slider-arrow.arrow-next-1
      svg
        use(xlink:href='#chevron-left') 
    .slider-arrow.arrow-prev-1 
      svg
        use(xlink:href='#chevron-right')
    .swiper.swiper-container
      .swiper-wrapper
      .swiper-pagination-1

