-
        var blocks = [
        {title: 'Если бы у меня была машина, я бы поехал в отпуск.',text: 'Wenn ich ein Auto hätte, würde ich in den Urlaub fahren.'},
        {title: 'Если бы я зарабатывал достаточно денег, то купил бы себе новый мобильный телефон.',text: 'Wenn ich genug Geld verdienen würde, dann würde ich mir ein neues Handy kaufen.'},
        {title: 'Если бы я испекла торт, я бы взяла его с собой на вечеринку.',text: 'Wenn ich einen Kuchen backen würde, würde ich ihn zur Party mitbringen.'},
        {title: 'Если бы шел дождь, я бы взял с собой зонтик.',text: 'Wenn es regnen würde, würde ich meinen Regenschirm mitnehmen.'},
        {title: 'Если бы у меня был вопрос, я бы задал его своему учителю.',text: 'Wenn ich eine Frage hätte, würde ich meinen Lehrer fragen.'},
        {title: 'Если бы я был голоден, я бы приготовил себе что-нибудь поесть.',text: 'Wenn ich hungrig wäre, würde ich mir etwas zu essen machen.'},
        {title: 'Если бы я опоздал на автобус, я бы побежал в школу.',text: 'Wenn ich den Bus verpassen würde, würde ich zur Schule laufen.'},
        {title: 'Если бы у меня было много денег, я бы много путешествовал',text: 'Hätte ich viel Geld, würde ich viel reisen'},
        {title: 'Был бы я сейчас в США!',text: 'Wäre ich jetzt in den USA!'},
        {title: 'Была бы она певицей!',text: 'Wäre sie Sängerin!'},
        {title: 'Был бы у нас шанс!',text: 'Hätten wir eine Chance!'},
        {title: 'У меня было бы невероятное приключение!',text: 'Hätte ich ein unglaubliches Abenteuer!'},
        {title: 'На твоем месте я бы сохранил важные сообщения.',text: 'An deiner Stelle würde ich wichtige Nachrichten speichern.'},
        {title: 'Тебе следует больше заниматься спортом.',text: 'Du solltest mehr Sport machen.'},
        {title: 'Ты мог бы работать неполный рабочий день.',text: 'Du könntest Teilzeit arbeiten.'},
        {title: 'Тебе следует меньше курить.',text: 'Du solltest weniger rauchen.'},
        {title: 'Если бы ты лучше подготовился к экзамену, ты бы получил хорошую оценку.',text: 'Wenn du dich besser auf die Prüfung vorbereitet hättest, hättest du eine gute Note bekommen.'},
        {title: 'Если бы ты вчера остался дома, ты бы больше расслабился.',text: 'Wenn du gestern zu Hause geblieben wärest, hättest du dich mehr entspannt. '},
        {title: 'Если бы он чаще выходил на прогулки, он бы чувствовал себя лучше.',text: 'Wenn er öfter spazieren gegangen wäre, hätte er sich besser gefühlt.'},
        {title: 'Если бы он спланировал свой распорядок дня, у него бы все получилось.',text: 'Wenn er seinen Tagesablauf geplant hätte, wäre es ihm alles gelungen. '},
        {title: 'Если бы она прочитала эту книгу, она бы легко пересказала содержание.',text: 'Wenn sie dieses Buch gelesen hätte, hätte sie leicht den Inhalt nacherzählt.'},
        {title: 'Если бы она поддержала его мнение, они бы не поссорились.',text: 'Wenn sie seine Meinung unterstützt hätte, hätten sie sich nicht gestritten.'},
        {title: 'Если бы она испекла торт, она бы пригласила гостей.',text: 'Wenn sie den Kuchen gebacken hätte, hätte sie Gäste eingeladen.'},
        {title: 'Если бы она поехала домой, она бы написала нам об этом.',text: 'Wenn sie nach Hause gefahren wäre, hätte sie uns darüber geschrieben.'},
        {title: 'Если бы она встретила его вчера, он бы рассказал ей эту историю.',text: 'Wenn sie ihn gestern getroffen hätte, hätte er ihr diese Geschichte erzählt.'},
        {title: 'Если бы ты выучил правила, ты бы лучше написал классную работу.',text: 'Wenn du die Regeln gelernt hättest, hättest du besser die Klassenarbeit geschrieben.'},
        {title: 'Если бы вы использовали этот рецепт, вы бы приготовили вкусный суп на обед.',text: 'Wenn du dieses Rezept verwendet hättest, hättest du leckere Suppe zum Mittagessen gekocht.'},
        {title: 'Если бы вы записались на прием, вы могли бы обратиться к врачу в начале месяца.',text: 'Wenn du einen Termin abmachen würdest, könntest du am Anfang des Monates zum Arzt gehen.'},
        {title: 'Если бы она регулярно занималась спортом, она могла бы улучшить свое здоровье.',text: 'Wenn sie regelmäßig Sport treiben würde, könnte sie ihre Gesundheit verbessern.'},
        {title: 'Если бы надежда не покидала его, то у него была бы лучшая работа.',text: 'Wenn die Hoffnung ihn nicht verlassen würde, dann hätte er einen besseren Job.'},
        {title: 'Если бы мы выбрали для нее другой подарок на день рождения, она была бы разочарована.',text: 'Wenn wir für sie das andere Geschenk zum Geburtstag aussuchen würden, wäre sie enttäuscht.'},
        {title: 'Если бы он переводил больше текстов, у него было бы больше опыта.',text: 'Wenn er mehr Texte übersetzen würde, dann hätte er mehr mehr Erfahrung.'},
        {title: 'Если бы она написала мне свой адрес, я мог бы отправить ей посылку.',text: 'Wenn sie mir ihre Adresse geschrieben hätte, könnte ich ihr eine Packung schicken.'},
        {title: 'Если бы он собирался похудеть, ему пришлось бы покупать одежду меньшего размера.',text: 'Wenn er abnehmen würde, müsste er Kleidung in einer kleineren Größe kaufen.'},
        {title: 'Если у него болит голова, ему следует принять таблетки.',text: 'Wenn er Kopfschmerzen hätte, sollte er Tabletten nehmen.'},
        {title: 'Если бы она знала дорогу, то смогла бы быстро добраться до города.',text: 'Wenn sie den Weg kennen würde, könnte sie schnell die Stadt erreichen.'},
        {title: 'Если бы он больше думал об этой проблеме, ему было бы легче ее решить.',text: 'Wenn er mehr über dieses Problem nachdenken würde, könnte er es leichter lösen.'},
        {title: 'Если бы ему не хватало слов на английском, он бы чаще пользовался словарем.',text: 'Wenn ihm Wörter auf Englisch fehlen würden, dann würde er öfter ein Wörterbuch benutzen.'},
        {title: 'Если бы поезд был свободен, полицейский мог бы задержать вора.',text: 'Wenn die Bahn frei wäre, könnte der Polizist den Dieb festnehmen.'},
        {title: 'Было бы лучше, если бы ты доехал до вокзала на автобусе.',text: 'Es wäre besser, wenn du zum Bahnhof mit dem Bus fahren würdest. '},
        {title: 'Если бы я вчера заболел, я бы не пошел на работу.',text: 'Wenn ich gestern krank gewesen wäre, wäre ich nicht zur Arbeit gegangen.'},
        {title: 'Если бы я нашел книгу, я бы ее прочитал.',text: 'Wenn ich das Buch gefunden hätte, hätte ich es gelesen.'},
        {title: 'Если бы погода была хорошей , мы бы отправились в путешествие.',text: 'Wenn das Wetter schön gewesen wäre , hätten wir einen Ausflug gemacht.'},
        {title: 'Если бы ему пришлось делать домашнее задание, он бы остался дома.',text: 'Wenn er seine Hausaufgaben hätte machen müssen, wäre er zu Hause geblieben.'},
        {title: 'Если бы я был болен, я бы не пошел на работу.',text: 'Wenn ich krank gewesen wäre, wäre ich nicht zur Arbeit gegangen.'},
        {title: 'Если бы она опоздала на поезд, она бы позвонила.',text: 'Wenn sie den Zug verpasst hätte, hätte sie angerufen.'},
        {title: 'Если бы я умел плавать, я бы пошел в открытый бассейн.',text: 'Wenn ich hätte schwimmen können, wäre ich ins Freibad gegangen.'},
        {title: 'Если бы у него было время, он бы с радостью пришел.',text: 'Wenn er Zeit gehabt hätte, wäre er gerne gekommen.'},
        {title: 'Если бы мне разрешили работать в ресторане, я бы зарабатывал деньги.',text: 'Wenn ich im Restaurant hätte arbeiten dürfen, hätte ich Geld verdient.'},
        ];