.accord {
  border: 1px solid #7ab764;
  &__nav {
    display: grid;
    grid-auto-flow: column;
    button {
      border: 1px solid #120a81;
      background: #7268fa;
      transition: all 0.2s ease-in-out;
      padding: 10px;
      &:hover {
        background: #a09af7;
      }
      &._is-active {
        background: #550a81;
      }
    }
  }
  &__hidden {
    background: rgb(134, 231, 125);
  }
}

._accord-hidden-js {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all 1s;

  &._is-open {
    animation: open 1s ease-in-out;
    grid-template-rows: 1fr;
  }
  &._is-closed {
    animation: closed 1s ease-in-out;
    grid-template-rows: 0fr;
  }
  li {
    display: none;
    &._is-active {
      display: block;
    }
  }
}

._accord-hidden-wrap {
  min-height: 0;
  transition: all 1s;
}

@keyframes open {
  0% {
    grid-template-rows: 0fr;
  }
  100% {
    grid-template-rows: 1fr;
  }
}

@keyframes closed {
  0% {
    grid-template-rows: 1fr;
  }
  100% {
    grid-template-rows: 0fr;
  }
}
//   display: grid;
//   grid-template-rows: 0fr;
//   overflow: hidden;
//   transition: all 0.2s;

//   &._is-active {
//     grid-template-rows: 1fr;
//   }
// }
// ._accord-hidden-wrap-js {
//   min-height: 0;
//   min-width: 0;
// }
