.accord {
  &__nav {
    display: grid;
    grid-auto-flow: column;
    button {
      transition: all 0.2s ease-in-out;
      padding: 10px;
      &:hover {
      }
      &._is-active {
      }
    }
  }
}

._accord-hidden-js {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;

  li {
    display: none;
    &._is-active {
      display: block;
    }
  }
}

._accord-hidden-wrap {
  min-height: 0;
}
