.accord {
  &__body {
    border: 1px solid #7ab764;
  }
  &__nav {
    display: grid;
    grid-auto-flow: column;
    button {
      border: 1px solid #120a81;
      background: #7268fa;
      transition: all 0.2s ease-in-out;
      padding: 10px;
      &:hover {
        background: #a09af7;
      }
      &._is-active {
        background: #550a81;
      }
    }
  }
  &__hidden {
    background: rgb(134, 231, 125);
  }
  &__content {
    height: 0;
    overflow: hidden;
    &._is-active {
      height: auto;
    }
  }
}

._accord-hidden-js {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: all .2s;
  
  &._is-active {
    grid-template-rows: 1fr;
  }
}
._accord-hidden-wrap-js {
  min-height: 0;
  min-width: 0;
}
