style(style='display: block;white-space: pre' contenteditable='')  
  |.realll{width: 165px;height: 40px;}
a(href='#!' rel='#popup1').popups-init-js.but-wave.btn.btn--success.realll popup 
//- ==========================
section.accord#accord1
    .container
        h2 accord
        .accord__body._accord-js
            nav.accord__nav._accord-nav-js
                button(type='button')  1
                button(type='button')  2
                button(type='button')  3

            .accord__hidden._accord-hidden-js
                .accord-hidden__wrap._accord-hidden-wrap-js
                    .accord__content._accord-content-js
                        p 11111111
                        p 11111111
                        include ../tab/tab.pug
                    .accord__content._accord-content-js
                        p 22222
                        p 22222222222 
                        p 22222222222 
                        p 22222222222 
                    .accord__content._accord-content-js
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333

section.accord#accord2
    .container
        .accord__body._accord-js
            nav.accord__nav._accord-nav-js
                button(type='button')  1
                button(type='button')  2
                button(type='button')  3

            .accord__hidden._accord-hidden-js
                .accord-hidden__wrap._accord-hidden-wrap-js
                    .accord__content._accord-content-js
                        p 11111111
                        p 11111111
                        include ../tab/tab.pug
                    .accord__content._accord-content-js
                        p 22222
                        p 22222222222 
                        p 22222222222 
                        p 22222222222 
                    .accord__content._accord-content-js
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
section.accord#accord2
    .container
        .accord__body._accord-js
            nav.accord__nav._accord-nav-js
                button(type='button')  1
                button(type='button')  2
                button(type='button')  3

            .accord__hidden._accord-hidden-js
                .accord-hidden__wrap._accord-hidden-wrap-js
                    .accord__content._accord-content-js._accord-default-js
                        p 11111111
                        p 11111111
                        include ../tab/tab.pug
                    .accord__content._accord-content-js
                        p 22222
                        p 22222222222 
                        p 22222222222 
                        p 22222222222 
                    .accord__content._accord-content-js
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333
                        p 3333333333


