section(id='sand').phrasen.rel
     
    ul.uber__links.uber-blocks
      -
        var blocks = [
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          [],
        ];
      each block in blocks
        li.uber-block.js-cell-Sand.rel
          .uber-block__card.js-Sand(draggable='true') 
       
    .uber__enter.rel
      button.btn.btn-primary(type='text')#clear-blocks x
      button.btn.btn-primary(type='text')#clear x
      input(type="text" placeholder='')#enter