section(id='sand').phrasen.rel
    ul.uber__links.uber-blocks.uber-blocks

        li.uber-block.js-cell
          .versteckt 1
          .uber-block__card.js-card(draggable='true')
            h4 1
        li.uber-block.js-cell
          .versteckt 2
          .uber-block__card.js-card(draggable='true')
            h4 2
        li.uber-block.js-cell
          .versteckt 3
          .uber-block__card.js-card(draggable='true')
            h4 3
        li.uber-block.js-cell
          .versteckt 4
          .uber-block__card.js-card(draggable='true')
            h4 4
    