section(id='kons').kons.rel.center
  .imgs
    img(src='../../../../assets/img/kons.png' alt='img')
  .kons__img1.rel 
    .imgs
      img(src='../../../../assets/img/kons.svg' alt='img')
  .kons__img2.rel 
    .imgs
      img(src='../../../../assets/img/kons.svg' alt='img')
  include ../form/form.pug
