h2(style="margin: 40px 0 0 0;") swiper-full+ pagination+plyr
#slider-full.slider-full.swiper-container
  button.slider-arrow.full-prev.js-full-prev(type='button')
    svg
          use(xlink:href='#chevron-left')
  button.slider-arrow.full-next.js-full-next(type='button')
    svg
          use(xlink:href='#chevron-right')
  .swiper-wrapper
    -
      var blocks = [
        {
          rel: '#popupPlyr1',
          src: './assets/img/bg.png',
          srcPlyr: './assets/img/paralax.jpg',
        },
        {
          rel: '#popupPlyr2',
          src: './assets/img/img-1.png',
          srcPlyr: './assets/img/paralax.jpg',
        },
        {
          rel: '#popupPlyr1',
          src: './assets/img/img-2.png',
          srcPlyr: './assets/img/paralax.jpg',
        },
        {
          rel: '#popupPlyr2',
          src: './assets/img/img-3.png',
          srcPlyr: './assets/img/paralax.jpg',
        },
        {
          rel: '#popupPlyr1',
          src: './assets/img/bg.png',
          srcPlyr: './assets/img/paralax.jpg',
        },
        {
          rel: '#popupPlyr2',
          src: './assets/img/bg.png',
          srcPlyr: './assets/img/paralax.jpg',
        },
       
      ];
    each block in blocks
      .slider__item.swiper-slide
        .imgs
          img(src=block.src)
        a.popups-init-js.slider__control.controls(href='#!' rel=block.rel)
          .imgs
            img(src=block.srcPlyr alt='img')

.swiper-pagination-full