h2.t-25(style="margin: 40px 0 0 0;") swiper-full+ pagination+plyr
#slider-full.slider-full.swiper-container
  button.slider-arrow.full-prev.js-full-prev(type='button')
    svg
          use(xlink:href='#chevron-left')
  button.slider-arrow.full-next.js-full-next(type='button')
    svg
          use(xlink:href='#chevron-right')
  .swiper-wrapper
    .slider__item.swiper-slide
      .imgs
        img(src='./assets/img/paralax.jpg')
      a.popups-init-js.slider__control.controls(href='#!' rel='#popupPlyr1')
        .imgs
          img(src='./assets/img/paralax.jpg' alt='')
    .slider__item.swiper-slide
      .imgs
        img(src='./assets/img/paralax.jpg ')
      a.popups-init-js.slider__control.controls(href='#!' rel='#popupPlyr2')
        .imgs
          img(src='./assets/img/paralax.jpg' alt='')
    .slider__item.swiper-slide
      .imgs
        img(src='./assets/img/paralax.jpg')
      a.popups-init-js.slider__control.controls(href='#!' rel='#popupPlyr3')
        .imgs
          img(src='./assets/img/paralax.jpg' alt='')
    .slider__item.swiper-slide
      .imgs
        img(src='./assets/img/paralax.jpg ')
      a.popups-init-js.slider__control.controls(href='#!' rel='#popupPlyr4')
        .imgs
          img(src='./assets/img/paralax.jpg' alt='')
    .slider__item.swiper-slide
      .imgs
        img(src='./assets/img/paralax.jpg ')
      a.popups-init-js.slider__control.controls(href='#!' rel='#popupPlyr5')
        .imgs
          img(src='./assets/img/paralax.jpg' alt='')
.swiper-pagination-full