section#serv.look.serv
  .container
    .look__pan.look__container
      a(href="#!") Main
      svg
        use(xlink: href = "#chevron-right")
      a(href="#!") Services
      svg
        use(xlink: href = "#chevron-right")
      a(href="#!") Rent
      svg
        use(xlink: href = "#chevron-right")
      a(href="#!") Furnished Apartments in Dubai
    .look__body
      .look__title--met
        h2 Real estate investment in Dubai, UAE

      p.look__content.look__content--met.look__container--small This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words, what keeps us safe can go too far, and keep us too safe. In fact it can trigger self-censoring.

      p.look__content.look__content--met One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: 

      p.look__content.look__content--met This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words, what keeps us safe can go too far, and keep us too safe. In fact it can trigger self-censoring.

      p.look__content.look__content--met One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: 

    .look__container
      .look__img--met
        .imgs
          img(src = "assets/img/met.png" alt = "img")
    .look__body--met.look__container--small
      .look__title 
        h2 Methods for Everyone
      p.look__content.look__content--met Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.

      p.look__content.look__content--met One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.
    .look__info
      p.look__bage.look__bage--met.look__container--small “Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time. emotional sensation of stress from our firs”
        span Paul
        svg
          use(xlink:href='#c')
    .look__gal.look__container 
      .look__dec1.rel._a
        .imgs
          img(src = "assets/img/i-met-1.png" alt = "img")
      .look__dec2.rel._b
        .imgs
          img(src = "assets/img/i-met-2.png" alt = "img")
      .look__dec3.rel._c
        .imgs
          img(src = "assets/img/i-met-3.png" alt = "img")
    .look__blocks.look__blocks--met.look__container--small
      div
        span 20
        p YEARS <br>WORKING
      div
        span 7
        p TALANTED<br>MANAGERS
      div
        span 100
        p COMPLITLY<br>PROJECTS
    .look__info--met.look__container--small
      .look__title 
        h2 Challenge
      p.look__content.look__content--met To and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.'
      h3 Everything along the way
      p.look__content.look__content--met One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.
    ul.look__items.look__container--small
      li Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. 
      li Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.
      li One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule.
      li We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.










