.title1 {
  h1 {
    font-family: 'DrukCyr-Bold', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
  }
}


.title2 {
  h2 {
    color: rgb(255, 255, 255);
    font-family: 'DrukCyr-Bold', sans-serif;
    font-size: 20.83px;
    font-weight: 700;
    line-height: 25px;
  }
}

.bunner {
  position: relative;

  &__body {
    min-height: 100vh;
  }

  &__text {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__text1 {
    color: rgb(203, 226, 255);
    line-height: 1.5;
  }
}