section#cases.galery.cases
  .container

    .galery__body.galery-body._galery-body-js
 
      .galery__nav.galery-nav-js
        .galery__title.title
          h2 Latest projects
        button.galery__nav-item._galery-nav-item-js(type='button' data='blue') All
        button.galery__nav-item._galery-nav-item-js(type='button' data='green') Building
        //- button.galery__nav-item._galery-nav-item-js(type='button' data='coral') Interior
        button.galery__nav-item._galery-nav-item-js._is-active(type='button' data='all' disabled) View all projects
      ul.galery__items._plasa-js
              li(data='blue')._galery-item-js
                h4 title blue11 
                p Lorem ipsum blue11
                span #footer
                b ./assets/img/bg.png
              li(data='blue')._galery-item-js
                h4 title blue12 
                p Lorem ipsum blue12
                span #footer
                b ./assets/img/img-1.png
              li(data='blue')._galery-item-js
                h4 title blue13 
                p Lorem ipsum blue13
                span #footer
                b ./assets/img/img-2.png
              li(data='blue')._galery-item-js
                h4 title blue14 
                p Lorem ipsum blue14
                span '#footer'
                b ./assets/img/img-3.png
              li(data='blue')._galery-item-js
                h4 title blue15 
                p Lorem ipsum blue15
                span #footer
                b ./assets/img/bg.png
              li(data='green')._galery-item-js
                h4 title green11 
                p Lorem ipsum green11
                span #footer
                b ./assets/img/img-1.png
              li(data='green')._galery-item-js
                h4 title green12 
                p Lorem ipsum green12
                span #footer
                b ./assets/img/img-2.png
              li(data='green')._galery-item-js
                h4 title green13 
                p Lorem ipsum green13
                span #footer
                b ./assets/img/img-3.png
              li(data='green')._galery-item-js
                h4 title green14 
                p Lorem ipsum green14
                span #footer
                b ./assets/img/bg.png
              li(data='green')._galery-item-js
                h4 title green15 
                p Lorem ipsum green15
                span #footer
                b ./assets/img/paralax.jpg

      include ./slider.pug
    
    //- #slider-cases.slider-cases.swiper-container
    //-       .swiper-wrapper
    //-         -
    //-           var blocks = [
    //-             {
    //-               src: './assets/img/bg.png',
    //-             },
    //-             {
    //-               src: './assets/img/img-1.png',
    //-             },
    //-             {
    //-               src: './assets/img/img-2.png',
    //-             },
    //-             {
    //-               src: './assets/img/img-3.png',
    //-             },
    //-             {
    //-               src: './assets/img/bg.png',
    //-             },
    //-             {
    //-               src: './assets/img/bg.png',
    //-             },
  
    //-           ];
    //-         each block in blocks
    //-           .slider__item.swiper-slide
    //-             .imgs
    //-               img(src=block.src)
    //-             .cases__info
    //-               h3 Lorem 
    //-               p ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatibus eaque necessitatibus deleniti quasi suscipit eum saepe, minus tempore maxime nihil temporibus, enim perspiciatis, harum facilis! Commodi nam velit alias.
    //-               a.btn.btn--empty(href='#!') See project
    //-                 svg
    //-                   use(xlink:href='#Arrow')

    //-       .swiper-pagination-cases
  
 


