a.btn.btn--success.but-wave.bunner-button.popups-init-js.t-2.tta(rel='#popup1' href='#!')
    p.bunner-button__text
        | Bring Your Project to Life
    .typed-strings
      p
        | Bring Your Project to Life
    span.typed

