a.btn.btn--empty.but-wave.popups-init-js(rel='#popup1' href='#!').bunner__button
    p
        | Оставить заявку
if patern.develop
    a.btn.btn--success.but-wave.popups-init-js(rel='#popup1' href='#!')
        p.ttu
            | Школа риелторов
    a.btn.btn--success.but-wave.popups-init-js(rel='#popup1' href='#!')
        p.ttu
            | Realty Forum