section(id='but-deutsch').but--deutsch
   .but-deutsch__body
      a#but-deutsch.btn.btn--success.but-wave.but-deutsch
          svg
              use(xlink:href='#start')
      a#but-deutsch-stop.btn.btn--success.but-wave.but-deutsch
          svg
              use(xlink:href='#stop')