
if patern.develop
    a.btn.btn--success.but-wave.popups-init-js(rel='#popup1' href='#!')
        p.ttu
            | Школа риелторов
    a.btn.btn--success.but-wave.popups-init-js(rel='#popup1' href='#!')
        p.ttu
            | Realty Forum