section#bunner.bunner
  .bunner__bg.imgs
    picture
      source(srcset='./assets/img/bunner.png, ' type='image/jpg' media='(min-width: 1200px)')
      source(srcset='./assets/img/bunner-sm.png' type='image/gif' media='(max-width: 1199px)')
      img(src='./assets/img/bunner.png' alt='img')
  .container
    .bunner__body._sm-568._md-900
      .bunner__title
        h1 Франшиза для агентств недвижимости
      .bunner__text
        p._s-17 Раскройте свой потенциал и откройте агентство недвижимости по эффективной бизнес-модели c поддержкой надежного бренда.
      a.bunner__button.btn.btn--empty.but-wave.popups-init-js(rel='#popup1' href='#!')
          p Оставить заявку
