section#bunner.bunner
  .bunner__bg.imgs
    picture
      //- source(srcset='./assets/img/bunner-lg.pug, ' type='image/jpg' media='(min-width: 1200px)')
      //- source(srcset='./assets/img/bunner-lg.pug' type='image/png' media='(min-width: 1000px) and (max-width: 1199px)')
      //- source(srcset='./assets/img/bunner-lg.pug' type='image/gif' media='(max-width: 999px)')
      img(src='./assets/img/bunner-lg.png' alt='img')
  .container
    .bunner__body
      img.img-test(src="./../../../../assets/img/curcor.svg", alt="alt")
      .bunner-title.t-4.tta#bunner-title
          span c
          span u
          span t
          span t
          span i
          span n
          span g &nbsp;
          span e
          span d
          span g
          span e
      .bunner-title.t-4.tta#bunner-title
          span s
          span o
          span f
          span t
          span w
          span a
          span r
          span e &nbsp;
          span a
          span r
          span t,
      .bunner-title.t-4.tta#bunner-title
          span a
          span n
          span d &nbsp;
          span g
          span a
          span m
          span e
          span s
      .bunner__text
        p.t 
          |Our award-winning team offers full-cycle
          br
          |creative and digital production services
          br
          |built on game engines.
        p.t 
          |If it’s never been done before,
          br
          |then it’s our type of project.
         
      include ../buttons/bunner-button.pug
