section#bunner.bunner
  .bunner__bg.imgs
    picture
      source(srcset='./assets/img/paralax.jpg, ' type='image/jpg' media='(min-width: 1200px)')
      source(srcset='./assets/img/paralax.jpg' type='image/png' media='(min-width: 1000px) and (max-width: 1199px)')
      source(srcset='./assets/img/paralax.jpg' type='image/gif' media='(max-width: 999px)')
      img(data='./assets/img/paralax.jpg' alt='img')
  .container
    .bunner__body
      .bunner__title.t-31
        h1 Lorem ipsum dolor sit amet.
      .bunner__text.t-6
        p Lorem ipsum .
      .bunner__button
        a.btn.btn--success.but-wave.popups-init-js(rel='#popupPlyr1' href='#!')
          p.t-42.ttu
            | video1
