section#bunner-slider.bunner-slider
  .swiper-pagination
  .slider-bunner.slider-bunner-js.swiper-container
    ul.bunner-slider__body.swiper-wrapper
      -
        var bunerFaq = [
          {
            src: './assets/img/paralax.jpg',
            title: "Title slide 1. ",
            title1: "Molestias, provident.",
          },

          {
            src: './assets/img/img-2.png',
            title: "Title slide 2.  ",
            title1: 'Lorem ipsum dolor.'
          },
          {
            src: './assets/img/img-1.png',
            title: "Title slide 3.  ",
            title1: 'Lorem ipsum dolor.'
          },

        ];
      
      each entry in bunerFaq
          li.slider__item.slider-card.swiper-slide
            .slider-card__img.imgs
              img(src=entry.src alt='img')
            .container
              .slider-card__body
                include ../title/title.pug
                include ../buttons/bunner-button.pug
  form.bunner-slider__search.bunner-search
    input(type='text' placeholder='Leškoti...')
    button(type='submit')
      svg.icon
        use(xlink:href='#search')