.bunner {
  min-height: 654px;
  position: relative;
}

.bunner .container {
  z-index: 2;
  position: relative;
}

.bunner__body {
  display: flex;
  flex-direction: column;
  padding: 180px 0px 0 0px;
}
.bunner__title {
  padding: 0 660px 0 0;
  h1 {
    font-family: "Stolzl";
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
}

.bunner__text {
  margin: 43px 0 0 0;
  padding: 0 671px 0 0;
  font-size: 17px;
  color: $white;
}

.bunner__text p {
  font-size: 17px;
}
.bunner__button {
  width: 265px;
  height: 47px;
  margin: 43px 0 0 0;
}
