section#bunner-slider.bunner-slider
  .container
    ul.bunner-slider__soc.soc
      li.soc__item
        a(href="#!")
          svg
            use(xlink:href='#fb')
      li.soc__item
        a(href="#!")
          svg
            use(xlink:href='#tv')
      li.soc__item
        a(href="#!")
          svg
            use(xlink:href='#youtube')
      li.soc__item
        a(href="#!")
          svg
            use(xlink:href='#instagram')
      li.soc__item
        a(href="#!")
          svg
            use(xlink:href='#icd')
 



  .container
    .swiper-pagination
    #swiper-pagination-js
          span 
            b 01
            p Lorem ipsum <br> dolor, sit 
          span 
            b 02
            p Lorem ipsum <br> dolor, sit
          span 
            b 03
            p Lorem ipsum <br> dolor, sit 
    .bunner-slider__arrows
      .bunner-slider__arrow.bunner-slider__arrow--prev prev
      .bunner-slider__arrow.bunner-slider__arrow--next next
  
    .slider-bunner.slider-bunner-js.swiper-container
        ul.bunner-slider__body.swiper-wrapper
          li.slider__item.swiper-slide.slider-card

              .slider-card__body.rel
                .slider-card__img.imgs
                  img(src='./assets/img/bunner/i-1.png' alt='img')
                .slider-card__content
                  p logisch deutsch
                  h1 Welcome Home <span>To</span> Luxury
                  a.btn.btn--empty.popups-init-js(rel='#popup1' href='#!') Book a consultation
                    svg
                      use(xlink:href='#Arrow')
          li.slider__item.swiper-slide.slider-card

              .slider-card__body.rel
                .slider-card__img.imgs
                  img(src='./assets/img/bunner/i-2.png' alt='img')
                .slider-card__content
                  p deutsch
                  h1 <span>To</span> Luxury
                  a.btn.btn--empty.popups-init-js(rel='#popup1' href='#!') Book a consultation
                    svg
                      use(xlink:href='#Arrow')
          li.slider__item.swiper-slide.slider-card

              .slider-card__body.rel
                .slider-card__img.imgs
                  img(src='./assets/img/bunner/i-2.png' alt='img')
                .slider-card__content
                  p deutsch
                  h1 <span>To</span> Luxury
                  a.btn.btn--empty.popups-init-js(rel='#popup1' href='#!') Book a consultation
                    svg
                      use(xlink:href='#Arrow')

