.container
  .select-custom.select
    button.dropdown-button
      span custom select
      svg.icon
        use(xlink:href='#chevron-down')
    ul.dropdown-list
      li.dropdown-list__item(data-value='Notes') Notes
      li.dropdown-list__item(data-value='Photo') Photo
      li.dropdown-list__item(data-value='Dictionary') Dictionary
    //- input.drop__input(type='text' value='')