-
        var blocks = [
        {title: 'хотя на улице холодно, но я все равно пойду прогуляюсь.',text: 'Zwar ist es kalt draußen, aber ich gehe trotzdem spazieren.'},
        {title: 'хотя он обещал приехать, но я ему не верю.',text: 'Er hat zwar verschprochen zu kommen, aber ich glaube ihm nicht.'},
        {title: 'хотя она прочитала книгу, но на самом деле не поняла ее.',text: 'Zwar hat sie das Buch gelesen, aber sie hat es nicht wirklich verstanden.'},
        {title: 'хотя у него много денег, но он недоволен.',text: 'Zwar hat er viel Geld, aber er ist nicht glücklich.'},
        {title: 'хотя она совершила ошибку, но она извлекла из нее пользу.',text: 'Zwar hat sie den Fehler gemacht, aber sie hat daraus gelent.'},
        {title: 'хотя он был голоден, но у него не было денег на еду.',text: 'Zwar hatte er Hunger, aber er hatte kein Geld für Essen.'},
        {title: 'хотя он умен, он также ленив.',text: 'Zwar ist er schlau, aber er ist auch faul.'},
        {title: 'хотя она достигла цели, она не была довольна результатом.',text: 'Sie hatte zwar das Ziel erreicht, aber sie war nicht zufrieden mit dem Ergebnis.'},
        {title: 'хотя у него было много работы, но он все равно сумел закончить ее вовремя.',text: 'Zwar hatte er viel Arbeit, aber er hat es trotzdem geschafft, pünktlich fertig zu werden.'},
        {title: 'Он предпочел остаться дома, а не идти на вечеринку.',text: 'Er entschied sich dafür, zu Hause zu bleiben, anstatt zur Party zu gehen.'},
        {title: 'Вместо того, чтобы игнорировать проблему, мы должны искать решение.',text: 'Anstatt das Problem zu ignorieren, sollten wir nach einer Lösung suchen.'},
        {title: 'Она читала книгу вместо того, чтобы смотреть телевизор.',text: 'Sie las ein Buch anstatt fernzusehen.'},
        {title: 'Вместо того, чтобы ехать на автобусе, он пошел на работу пешком.',text: 'Anstatt mit dem Bus zu fahreen, ging er zu Fuß zur Arbeit.'},
        {title: 'Вместо того, чтобы идти по легкому пути, он решил принять вызов.',text: 'Anstatt den einfachen Weg zu nehmen, entschied er sich für die Herausforderung.'},
        {title: 'Вместо того, чтобы жаловаться , мы должны искать способы улучшить ситуацию.',text: 'Anstatt zu klagen , sollten wir nach Möglichkeiten zur Verbesserung suchen.'},
        {title: 'Он выбрал более длинный маршрут, вместо того чтобы застрять в пробке..',text: 'Er nahm den längeren Weg, anstatt im Stau festzustecken..'},
        {title: 'Вместо того, чтобы жаловаться, мы должны вносить конструктивные предложения.',text: 'Anstatt sich zu beschweren, sollten wir konstruktive Vorschläge machen.'},
        {title: 'Вместо того чтобы тратить деньги, он откладывал их на будущие расходы.',text: 'Statt das Geld auszugeben, sparte er es für zukünftege Ausgaben.'},
        {title: '',text: ''},
       
        ];