$green: #31bf25;
$white: #fff;
$black: #333;
$blood-orange: #fc4c02;
$white-two: #ddd;
$white-three: #eaeaea;
$black-25: rgba(0, 0, 0, 0.25);
$secondary-txt: #6b6b6b;
$white-four: #e9e9e9;
$warm-grey: #898989;
$warm-grey-two: #757575;
$greyish-brown: #454545;
$greyish: #acacac;