$ice-blue: #f1f5ff;
$azul: #2770f1;
$duck-egg-blue: #d6eafa;
$dark-slate-blue: #162c5b;
$dark-slate-blue-two: #1b315f;
$denim-blue: #3f578b;
$greenblue: #1ebb92;
$dark-slate-blue-three: #163063;
$white: #fff;
$light-periwinkle: #c0d3fb;
$dark-slate-blue-four: #152f60;
$dark-slate-blue-five: #162d5f;
$light-sky-blue: #d7e2ff;
$hover: lighten($azul,20%);