:root {
   --black: #272727;
  --light-gold: #fcd54c;
  --black-40: rgba(0, 0, 0, 0.4);
  --white: #fff;
  --warm-grey: #979797;
  --warm-grey-two: #929292;
  --white-two: #e8e8e8;
}

$black: #272727;
$light-gold: #fcd54c;
$light-gold-hover: #faefcd;
$black-40: rgba(0, 0, 0, 0.4);
$white: #fff;
$warm-grey: #979797;
$warm-grey-two: #929292;
$white-two: #e8e8e8;