
* {
  //  outline: 1px solid green;
  box-sizing: border-box;
}

body {
  // font-family: "Manrope", sans-serif;
  // font-family: 'Manrope', sans-serif;

font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: $txt;
background: $white;
}
.wrapper {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  .imgs {
    // z-index: +1;
  }
}

.container {
  // outline: 1px solid #4164ff;
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.inner {
  position: relative;
}

a {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: rgb(72, 89, 245);
}

.imgs {
  overflow: hidden;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}

.rel {
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg.hidden {
  display: none;
}
.tta{
  text-transform: uppercase;
}

/* +++++++++++++++++++++++++++++++++++++ */

.d-flex {
  display: flex;
}
.jucc {
  justify-content: center;
}
.alic {
  align-items: center;
}
.fdc {
  flex-direction: column;
}
/* +++++++++++++++++++++++++++++++++++++ */
 @media (prefers-reduced-motion: no-preference) {

.top-animation {
  animation: wipe-enter 1.5s 
}
@keyframes wipe-enter {
  0% {
    transform: translate(0,-100px);
    opacity: 0
  }
  100% {
    transform: translate(0,0);
    opacity: 1
  }
}


.left-animation {
  animation: left-enter 1.5s 
}
@keyframes left-enter {
  0% {
    transform: translate(-200px,0);
    opacity: 0
  }
  100% {
    transform: translate(0,0);
    opacity: 1
  }
}

.right-animation {
  animation: right-enter 1.5s 
}
@keyframes right-enter {
  0% {
    transform: translate(200px,0);
    opacity: 0
  }
  100% {
    transform: translate(0,0);
    opacity: 1
  }
}

}
/* +++++++++++++++++++++++++++++++++++++ */

.lock {
  overflow: hidden;
}
.ttu{
  text-transform: uppercase;
}

@media (min-width: 901px) and (max-width: 1259px) {
  .container {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}


@media (max-width: 900px) {
  .container {
    margin: 0 10px;
    max-width: calc(100% - 20px);
  }
}
