// @import url('https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800');

// @font-face {
//   font-family: 'DrukCyr';
//   src: url('../assets/fonts/DrukCyr-Medium.eot');
//   src: url('../assets/fonts/DrukCyr-Medium.otf');
//   src: url('../assets/fonts/DrukCyr-Medium.woff');
//   src: url('../assets/fonts/DrukCyr-Medium.ttf');
//   font-weight: 500;
//   font-style: normal;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: 'DrukCyr';
//   src: url('../fonts/DrukCyr-Bold.eot');
//   src: url('../fonts/DrukCyr-Bold.woff2');
//   src: url('../fonts/DrukCyr-Bold.woff');
//   src: url('../fonts/DrukCyr-Bold.ttf');
//   font-weight: 700;
//   font-style: normal;
//   font-stretch: normal;
// }

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@300;400;700&display=swap");

._s-18 {
  font-size: 18px;
  font-weight: 600;
}
._s-24{
  font-size: 24px;
  font-weight: 800;
  line-height: 1.33;
  color: $dark-slate-blue;
}

