


// @import url('https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800');






// @font-face {
//   font-family: 'DrukCyr';
//   src: url('../assets/fonts/DrukCyr-Medium.eot');
//   src: url('../assets/fonts/DrukCyr-Medium.otf');
//   src: url('../assets/fonts/DrukCyr-Medium.woff');
//   src: url('../assets/fonts/DrukCyr-Medium.ttf');
//   font-weight: 500;
//   font-style: normal;
//   font-stretch: normal;
// }
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Stolzl';
  src: url('../../../assets/fonts/stolzl_bold.otf');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Stolzl';
  src: url('../../../assets/fonts/stolzl_medium.oft');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Stolzl';
  src: url('../../../assets/fonts/stolzl_regular.oft');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

// font-family: 'Roboto', sans-serif;


