.title2 h2 {
  font-family: "Stolzl";
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}
@media (min-width: 768px) and (max-width: 1199px) {
      .title2 h2 {
  font-size: 30px;
  line-height: 28px;
}
}
@media (max-width: 767px) {
  .title2 h2 {
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
  }
  .card__title h4 {
    line-height: 1;
  }
}

// .patern {
//   &__title {
//     h2 {
//       font-size: larger;
//       text-transform: uppercase;
//       color: var(--txt-gray);
//       text-align: center;
//       padding: 10px 0;
//     }
//   }
// }
// .title-do h2 {
//   font-size: 50px;
//   font-weight: bold;
//   color: var(--white);
// }

// .title-Second {
//   h2 {
//     font-size: 20px;
//     text-transform: uppercase;
//     color: coral;
//     font-weight: 700;
//   }
// }
