section(id='paint').paint.rel
  .container
    .paint__title
      h1
        | ПОКРАСКА СТЕН 
        br
        |  БЕЗ ПОЛОС ПЯТЕН И РАЗВОДОВ
    .paint__body
      ul.paint__links.paint-links
        li.paint-links__item._is-active
          a(href="#!").paint__link  цены
        li.paint-links__item
          a(href="#!").paint__link  преимущества
        li.paint-links__item
          a(href="#!").paint__link  фото
        li.paint-links__item
          a(href="#!").paint__link  порядок работы
        li.paint-links__item
          a(href="#!").paint__link  отзывы
      .paint__akkord.paint-akkord
      include ../accord/accord-paint.pug

