@font-face {
  font-family: 'Formular';
  src: url('./../fonts/Formular-Light.woff');
  src: url('./../fonts/Formular-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Formular';
  src: url('./../fonts/Formular-Medium.woff');
  src: url('./../fonts/Formular-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Formular';
  src: url('./../fonts/Formular.woff');
  src: url('./../fonts/Formular.ttf');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
