.popup.popup-js
  .popup__overlay.popup-overlay-js
    .popup__inner.popup-inner-js
      #popup1.popup__content
        include ../form/form.pug
    i.popup__close.popup-close-js
      svg
        use(xlink:href='#close')
