section(id='book').book.rel
  .container
    .book__title
      h2 vue component book

    div.book-section
      form#book-form.book-section-form(method='GET' action='/check' )
        .text-block
          .form-field
            .check-in-vue#check-in-book
          .form-field
            .check-out-vue#check-out-book
        button.btn.btn-success.submit-button#book-submit.but-wave( type='submit' name='send' ) Send




