.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 Reasons for choosing a club
  .field--body
      .book-section-form-column
        .fildset-checkbox
            .form-check
              input#cb1(type='checkbox' name="cb1")
              label(for='cb1') Favorite place
            .form-check
              input#cb2(type='checkbox' name="cb2")
              label(for='cb2') Location
            .form-check
              input#cb3(type='checkbox' name="cb3")
              label(for='cb3') Guest of a gala event
            .form-check
              input#cb4(type='checkbox' name="cb4")
              label(for='cb4') Corporate events
            .form-check
              input#cb5(type='checkbox' name="cb5")
              label(for='cb5') SPA complex
            .form-check
              input#cb6(type='checkbox' name="cb6")
              label(for='cb6') Equestrian club
            .form-check
              input#cb7(type='checkbox' name="cb7")
              label(for='cb7') Service
            .form-check
              input#cb8(type='checkbox' name="cb8")
              label(for='cb8') Restaurant
        .book-section-form-line.book-section-form-line--text
          p Other
          textarea#form-line-4(name="form-line-4" placeholder="Your suggestions/wishes")
      
      .book-section-form-column
        .form-column-title 
          h3 Please indicate your age
        fildset.fildset-radio.fildset-radio--age
            .form-check
              input(type="radio" id="age1" name='age' value='16-25' checked)
              label(for="age1")  from 16-25
            .form-check
              input(type="radio" id="age2" name='age' value='26-35')
              label(for="age2")  from 26-35
            .form-check
              input(type="radio" id="age3" name='age' value='36-45')
              label(for="age3")  36-45
            .form-check
              input(type="radio" id="age4" name='age' value='55')
              label(for="age4")  45 and older
        .form-column-title 
          h3 Your gender
        fildset.fildset-radio.fildset-radio--sex
            .form-check
              input(type="radio" id="man" name='sex' value='man')
              label(for="man") Man
                svg
                  use(xlink:href='#Union')
            .form-check
              input(type="radio" id="frau" name='sex' value='frau')
              label(for="frau")  Woman
                svg
                  use(xlink:href='#Union')
       

