.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 Hotel complex
  .book-section-form-line
    p Politeness and correctness of the staff?
    ul.vidjets
      +rating("rating1")
  .book-section-form-line
    p Speed and quality of settlement, calculation, eviction?
    ul.vidjets
      +rating("rating2")
  .book-section-form-line
    p Is the room clean?
    ul.vidjets
      +rating("rating3")
  .book-section-form-line
    p What is the appearance of the hotel staff?
    ul.vidjets
      +rating("rating4")
  .book-section-form-line.book-section-form-line--tiers
    p Is it important for you to be able to visit the club with your pets?
    fildset.fildset-radio.fildset-radio--tiers
      input(type="radio" id="tieresyes" name='tieres' value='yes' checked)
      label(for="tieresyes")  Yes
      span /
      input(type="radio" id="tieresnot" name='tieres' value='not')
      label(for="tieresnot")  No
  .book-section-form-line.book-section-form-line--text
    p Your suggestions /wishes
    textarea#form-line-1(name="form-line-1" row='20' placeholder="Enter text")

//- ===========================

.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 SPA complex
  .book-section-form-line
    p Range of services at the spa complex
    ul.vidjets
      +rating("rating5")
  .book-section-form-line
    p Quality of spa complex services
    ul.vidjets
      +rating("rating6")
  .book-section-form-line
    p Politeness and correctness of the administrator
    ul.vidjets
      +rating("rating7")
  .book-section-form-line.book-section-form-line--text
    p Your suggestions /wishes
    textarea#form-line-2(name="form-line-2" placeholder="Enter text")
//- ===========================

.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 Restaurant
  .book-section-form-line
    p Quality of service
    ul.vidjets
      +rating("rating8")
  .book-section-form-line
    p Quality of dishes
    ul.vidjets
      +rating("rating9")
  .book-section-form-line
    p Price/quality ratio
    ul.vidjets
      +rating("rating10")
  .book-section-form-line.book-section-form-line--text
    p Your suggestions /wishes
    textarea#form-line-3(name="form-line-3" placeholder="Enter text")
//- ===========================

