section(id='partner').partner.rel._p60
  .imgs
    img(src='./../../../../assets/img/partner.png' alt='img')
  .container
    .partner__title.title2._sm-568 
      h2 Кто может стать нашим партнером?
      a.partner__button.btn.btn--empty.but-wave.popups-init-js(rel='#popup1' href='#!')
        p Оставить заявку
    .partner__body._sm-568
      include ../items/items.pug







