section(id='partner').partner.rel
  .imgs
    img(src='./../../../../assets/img/partner.png' alt='img')
  .container
    .partner__title
      include ../title/title.pug
      include ../buttons/bunner-button.pug
    .partner__body
      include ../items/items.pug



