.partner {
  min-height: 593px;
  width: 100%;
  padding: 60px 0 0 0;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__body {
    display: grid;
    grid-template-columns: 40% 48%;
    gap: 47px 160px;
    margin: 30px 0 0 0;
  }
}

#partner {
  .partner__button {
    border: solid 1px $white;
    margin: 0 0 0 0;
    p {
      color: $white;
    }
  }
  .title2 {
    h2 {
      color: $white;
    }
  }
  .card {
    display: grid;
    grid-template-areas: "a b" "a c";
    grid-template-columns: 62px 1fr;
    gap: 14px 20px;
    grid-auto-rows: max-content;
    ._a {
      grid-area: a;
    }
    ._b {
      grid-area: b;
    }
    ._c {
      grid-area: c;
    }
    &:nth-child(1) > .card__title {
      padding: 0 40px 0 0;
    }

    &:nth-child(3) {
      .card__text li:nth-child(1) {
        padding: 0 63px 0 0;
      }
    }
    &:nth-child(2) > .card__title {
      padding: 0 80px 0 0;
    }
    &:nth-child(4) {
      .card__text li:nth-child(3) {
        padding: 0 63px 0 0;
      }
    }
    &__img {
      width: 62px;
      height: 62px;
    }
    &__title {
      h4 {
        font-family: "Roboto";
        
        font-weight: bold;
        color: $white;
        line-height: 28px;
      }
    }
  }
  .card__text {
    li {
      font-size: 15px;
      color: $white;
      margin: 0 0 0 30px;
      position: relative;
      list-style-type: disc;
      line-height: 18px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
        
  }
  @media (max-width: 1199px) {
    .card__title h4{
      line-height: 1;
    }
  }
}

