
.wrapper.rel
  //- .imgs
  //-   picture
  //-     source(srcset='../src/assets/img/paralax.jpg' type='imagejpg' media='(min-width: 901px) ')
  //-     source(srcset='../src/assets/img/paralax.jpg' type='imagejpg' media='(max-width: 900px)')
  //-     img(src='../src/assets/img/paralax.jpg' alt='')

  include .././components/header/header.pug
  main.inner
    include .././vue-components/shild/shild.pug
    include .././vue-components/book/book.pug
    include .././components/popup/popup.pug



//- include .././entries/faq.pug