.wrapper.rel
  include .././components/header/header.pug
  main.inner
    include .././vue-components/shild/shild.pug
    include .././vue-components/book/book.pug
    include .././components/popup/popup.pug


