.wrapper.rel
  //- include .././components/header/header.pug
  include .././components/header/header-blog.pug
  main.inner
    //- include .././components/bunner/bunner.pug
    //- include .././components/bunner/bunner-slider.pug
    include .././components/bunner/banner-cat.pug
    //- include .././components/projects/projects.pug
    //- include .././components/blog/blog.pug
    //- include .././components/look/look.pug
    //- include .././components/serv/serv.pug
    //- include .././components/form/form.pug
    //- include .././components/pac/pac.pug
    //- include .././components/articles/articles.pug
    //- include .././components/feed/feed.pug
    include .././components/cat-slider/cat-slider.pug
    include .././components/cat-offers/cat-offers.pug
    //- include .././components/faq/faq.pug
    //- include .././components/contacts/contacts.pug

  include .././components/footer/footer.pug
    //- include .././components/title/title.pug 
    //- include .././components/buttons/buttons.pug 
    //- include .././components/do/do.pug

    //- include .././components/tab/tab.pug
    //- include .././components/side-menu/side-menu.pug


    //- include .././components/accord/accord.pug
    //- include .././components/galery/galery.pug
    //- include .././components/galSlider/galSlider.pug
    //- include .././components/galeryPop/galeryPop.pug


    //- include .././components/galCases/galCases.pug



    //- include .././components/slider-full/slider-full.pug
    //- include .././components/slider-double/sdouble.pug
    //- include .././components/slider-scroll/slider-scroll.pug

    //- include .././components/range/range.pug
    //- include .././components/select/select.pug
    //- include .././components/inputs/inputs.pug


    //- include .././components/typed/typedHover.pug
    //- include .././components/typed/typedScroll.pug
    //- include .././marque.pug 
    //- include .././vue-components/book/book.pug

include .././components/popup/popup.pug

//- include .././entries/faq.pug