.wrapper.rel
  //- .imgs
  //-   picture
  //-     source(srcset='../src/assets/img/paralax.jpg' type='imagejpg' media='(min-width: 901px) ')
  //-     source(srcset='../src/assets/img/paralax.jpg' type='imagejpg' media='(max-width: 900px)')
  //-     img(src='../src/assets/img/paralax.jpg' alt='')

  include .././components/header/header.pug
  main.inner

    //- include .././components/bunner/bunner.pug
    include .././components/bunner/bunner-slider.pug

    //- include .././components/title/title.pug 
    //- include .././components/buttons/buttons.pug 
    //- include .././components/do/do.pug

    //- include .././components/tab/tab.pug
    //- include .././components/side-menu/side-menu.pug


    include .././components/accord/accord.pug
    //- include .././components/galery/galery.pug
    //- include .././components/projects/projects.pug

    //- include .././components/galCases/galCases.pug

    //- include .././components/look/look.pug
    //- include .././components/swiper-1/swiper-1.pug
    //- include .././components/slider-full/slider-full.pug
    //- include .././components/slider-double/sdouble.pug
    //- include .././components/slider-scroll/slider-scroll.pug

    //- include .././components/range/range.pug
    //- include .././components/select/select.pug
    //- include .././components/inputs/inputs.pug
    //- include .././components/form/form.pug
    //- include .././components/faq/faq.pug

    //- include .././components/typed/typedHover.pug
    //- include .././components/typed/typedScroll.pug
    //- include .././marque.pug 
    //- include .././vue-components/book/book.pug
  include .././components/footer/footer.pug
include .././components/popup/popup.pug

//- include .././entries/faq.pug