section.accord#accord
  .container
    .accord__body.accord-js
      nav.accord-header-js.accord__header
        button.accord-header-item  
          span 11111111

        button.accord-header-item 
          span 2222222222
        button.accord-header-item 
          span 3333333333333333
      ul.accord-hidden-js.accord__hidden
        li.accord-hidden-item.accord-hidden-item--pictchered
          .accord__img.rel
            .imgs
              img(src='./assets/img/paralax.jpg' alt='img')
          p Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, consequuntur.
        
        li.accord-hidden-item
          p 2222222222
          p 2222222222
        li.accord-hidden-item
          p 3333333333333333
          p 33333333333333333
          p 3333333333333333