.accord {
  /* padding: 50px 0; */
}

.accord__header {
  display: grid;
  background: rgb(230, 237, 243);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.accord-header-item {
  display: block;
  padding: 5px 10px;
  text-align: center;
  border-bottom-color: transparent;
  border-right: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.accord-header-item._is-active {
  background: #bef5aa;
}

.accord-hidden-item {
  height: 0;
  width: 100%;
  background: #bef5aa;
  transition: all 0.2s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
  /* opacity: 0; */
}

.accord-hidden-item._is-active {
  background: #bef5aa;
  transform: scaleY(1);
  border-top: none;
  /* opacity: 1; */
  /* display: table; */
}

.accord-tabs {
  padding: 100px;
}

.accord-hidden-item * {
  background: #8a73fa;
}

.accord-hidden-item--pictchered {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 20px;
}

.accord__img {
  width: 100px;
  height: 100px;
  grid-row: 1/3;
}
