.accord {
  border: 1px solid #7ab764;
  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.accord-item {
  background: rgb(230, 237, 243);
  transition: all .2s ease-in-out;
  cursor: pointer;
  outline: 1px solid rgb(51, 120, 180);
  &:hover {
    background: rgb(51, 120, 180);
  }
  &._is-active {
    background: rgb(134, 231, 125);
  }
}

.accord-hidden {
  transition: all .2s ease-in-out;
  grid-column: 1/4;
  background: rgb(134, 231, 125);
  overflow: hidden;

}
.accord__content{
  //  transition: all 1s ease-in-out;
   height: 0;
   overflow: hidden;
  &._is-active {
     height: auto;
    background: rgb(146, 17, 71);
  }
}
