section.accord.accord--paint#accord-paint
    .accord__body.accord__body--paint.accord-js
      nav.accord-header-js.accord__header.accord__header--paint
        button.accord-header-item.accord-header-item--paint._is-active   
          span Оплата поэтапная по факту выполненных работ;
        button.accord-header-item.accord-header-item--paint  
          span 
            |Все работы прописываем в 
            br
            | смете;
        button.accord-header-item.accord-header-item--paint 
          span Помощь в подборе строительных материалов.
      ul.accord-hidden-js.accord__hidden
        li.accord-hidden-item.accord-hidden-item--paint._is-active
          p 111 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, consequuntur.
        li.accord-hidden-item.accord-hidden-item--paint
          p 222 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, consequuntur.
        li.accord-hidden-item.accord-hidden-item--paint
          p 333 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, consequuntur.
