section(id="best").articles.rel
  .container
    .container-small
      .articles__header
        .articles__title.title-small
          h2 Useful articles
        a.btn-empty.btn(href="#!").articles__link View all articles
          svg
            use(xlink: href = "#chevron-right")
      ul.articles__body
        li
          .imgs
            img(src = "assets/img/articles/i-1.png" alt = "img")
          .column__title
            h3 Discover Architecture
          .column__body
            p.column__data Jule 03, 2022
            .column__title--body
              h3 Discover Architecture
            p.column__text--body Projects for many large domestic and foreign corporations, enterprises in many elds such
            a.btn-empty.btn.column__link(href="#!") Learn more
              svg
                use(xlink: href = "#chevron-right")
        li
          .imgs
            img(src = "assets/img/articles/i-2.png" alt = "img")
          .column__title
            h3 Discover Architecture
          .column__body
            p.column__data Jule 03, 2022
            .column__title--body
              h3 Discover Architecture
            p.column__text--body Projects for many large domestic and foreign corporations, enterprises in many elds such
            a.btn-empty.btn.column__link(href="#!") Learn more
              svg
                use(xlink: href = "#chevron-right")
        li
          .imgs
            img(src = "assets/img/articles/i-3.png" alt = "img")
          .column__title
            h3 Discover Architecture
          .column__body
            p.column__data Jule 03, 2022
            .column__title--body
              h3 Discover Architecture
            p.column__text--body Projects for many large domestic and foreign corporations, enterprises in many elds such
            a.btn-empty.btn.column__link(href="#!") Learn more
              svg
                use(xlink: href = "#chevron-right")
