-
        var blocks = [
        {title: 'Я хотел бы знать, какие рестораны вы бы порекомендовали в городе.',text: 'ich möchte gerne wissen, welche Restaurants du in der Stadt empfehlen würdest.'},
        {title: 'не могли бы вы сказать мне, когда приедет следующий автобус?',text: 'kannst du mir sagen, wann der nächste Bus kommt?'},
        {title: 'Я хотел бы знать, какие книги в последнее время ты читал .',text: 'ich möchte gerne wissen, welhe Bücher du in letzter Zeit gelesen hast.'},
        {title: 'не мог бы ты сказать мне, где я могу выпить хорошего кофе?',text: 'kannst du mir sagen, wo ich einen geten Kaffe trinken kann?'},
        {title: 'ты можешь сказать мне, который час',text: 'kannst du mir sagen, wie spät es ist?'},
        {title: 'Я хотел бы знать, какие ингредиенты мне нужны для этого рецепта.',text: 'ich würde gerne wissen, welche zutaten ich für diese Rezept benötige.'},
        {title: 'Можете ли вы сказать мне, на каких языках ты говоришь?',text: 'Kannst du mir sagen, welche Sprachen du sprichst?'},
        {title: 'Не могли бы вы сообщить мне, когда я смогу записаться на прием?',text: 'Können Sie mir mitteilen, Wann ich einen Termin bekomme.'},
        {title: 'Ты знаешь, где находится вокзал?',text: 'Wissen Sie, wo der Bahnhof ist.'},
        {title: 'пожалуйста, скажи мне, когда ты приедешь',text: 'Sag mir bitte, wann du ankommst.'},
        {title: 'ни собака, ни кошка не ели корм.',text: 'weder der Hund noch die Katze haben das Essen aufgegessen.'},
        {title: 'Я не умею ни плавать, ни торговать.',text: 'ich kann weder schwimmen noch tauschen.'},
        {title: 'ни красные, ни синие туфли мне не подходят.',text: 'weder die roten noch die blauen Schuhe passen mir.'},
        {title: 'у меня нет ни времени, ни желания выходить  сегодня вечером.',text: 'ich habe weder Zeit noch Lust, heute Abend auszugehen.'},
        {title: 'фильм не был ни забавным, ни захватывающим.',text: 'der film war weder lustig noch spannend.'},
        {title: 'у нас в доме больше нет ни хлеба, ни молока.',text: 'wir haben weder Brot noch Milch mehr im Haus.'},
        {title: 'Она не ответила ни на звонок, ни на электронное письмо.',text: 'Sie hat weder den Anruf noch die E-Mail beantwortet.'},
        {title: 'Ни мой начальник, ни мои коллеги не были довольны моей работой.',text: 'Weder mein Chef noch meine Kollegen waren mit meiner Arbeit zufrieden.'},
        {title: 'Я не могу вспомнить ни его имени, ни его лица.',text: 'Ich kann mich weder an seinen Namen noch an sein Gesicht erinnern.'},
        {title: 'ни поезд, ни самолет не подходят для моего путешествия.',text: 'weder der Zug noch das Flugzeug sind eine Option für meine Reise.'},
 

        ];