-
  var blocks = [
    {title: 'Я работаю с удовольствием, но это иногда не просто.',text: 'Ich arbeite gerne, aber manchmal ist es nicht leicht.'},
    {title: 'Мы испечем пирог, а моя сестра приготовит торт.',text: 'Wir backen einen Kuchen und meine Schwester macht eine Torte.'},
    {title: 'Моя сестра много рассказывала мне об этом фильме, поэтому я хочу его посмотреть.',text: 'Meine Schwester erzählte mir sehr viel von diesem Film, deshalb  möchte ich mir ihn ansehen.'},
    {title: 'У меня температура, поэтому я пойду спать раньше.',text: 'Ich habe Fieber, darum gehe ich früher ins Bett.'},
    {title: 'Ей уже 80 лет, но она по сей день работает в театре.',text: 'Sie  ist schon 80 Jahre alt, doch arbeitet  sie bis heute im Theater.'},
  ];