-
  var blocks = [
    {title: 'Родители уезжают в Италию, а тётя будет присматривать за детьми',text: 'Die Eltern	fahren	nach Italien	und	die Tante	sorgt	für die Kinder'},
    {title: 'Родители уезжают в Италию, и за детьми будет присматривать тётя',text: 'Die Eltern	fahren	nach Italien	und	für die Kinder	sorgt	die Tante'},
    {title: 'Он только это послушал, как был тотчас же против.',text: 'Er	hörte	nur kurz zu	und	 	war	sofort dagegen'},
    {title: 'Он только это послушал, как  тотчас же был он против.',text: 'Er	hörte	nur kurz zu	und	sofort	war	er	dagegen'},
    {title: 'Сначала я собирался лететь, но рейс отменили.',text: 'Zuerst wollte ich fliegen, aber der Flug ist ausgefallen.'},
    {title: 'Я устал, так как весь день работал',text: 'Ich bin müde, denn ich habe den ganzen Tag gearbeitet'},
    {title: 'Я иду в кафе  или  я  завтракаю  дома.',text: 'Ich gehe ins Cafe oder ich frühstücke zu Hause.'},
    {title: 'Франц очень торопился, но всё равно  пришёл слишком поздно',text: 'Franz	hatte	sich sehr beeilt,	trotzdem	kam	er	zu spät'},

    {title: 'Разрушения были так велики, что страна попросила помощи других стран',text: 'Die Zerstörungen	waren	so groß,	so dass	das Land	andrere Nationen um Hilfe	gebeten hat'},
    {title: 'Он написал своей тёте, когда ему потребовались деньги',text: 'Er	schrieb	seiner Tante,	als	er	Geld	brauchte'},
    {title: 'Когда ему потребовались деньги, он написал своей тёте.',text: 'Als	er	Geld	brauchte,	schrieb	er	seiner Tante'},
    {title: 'Если квартира тебе не нравиться, то тебе незачем соглашаться снимать её',text: 'Wenn	dir	die Wohnung	nicht	gefällt,	brauchst	du	sie nicht zu nehmen'},
    {title: 'Он разозлился, потому что она с ним не поздоровалась, когда он вошел',text: 'Er ärgerte sich,	weil sie ihn nicht begrüßtte,	als er ankam'},
    {title: 'Гость боится, что обидит хозяина, если откажется от блюда из баранины',text: 'Der Besucher fürchtet,	die Gastgäber zu kränken,	wenn er das Hammelfleisch zurückweist'},
    {title: 'Я еду в Мюнхен, чтобы там учиться',text: 'Ich fahre nach München, um dort zu studieren'},
    {title: 'Он ушел с вечеринки не попрощавшись.',text: 'Er verließ die Party, ohne sich zu verabschieden'},
    {title: 'Он уехал за границу вместо того, чтобы принять дело своего отца',text: 'Er ging ins Ausland, anstatt das Geschäaft seines Vaters zu übernehmen'},
    {title: 'Он покинул свою родину, чтобы учиться за границей',text: 'Er verließ seine Heimat, um im Ausland zu studieren'},
    {title: 'Чтобы учиться за границей он покинул свою родину',text: 'Um im Ausland zu studieren verließ er seine Heimat'},
    {title: 'Я работаю с удовольствием, но это иногда не просто.',text: 'Ich arbeite gerne, aber manchmal ist es nicht leicht.'},
    {title: 'Мы испечем пирог, а моя сестра приготовит торт.',text: 'Wir backen einen Kuchen und meine Schwester macht eine Torte.'},
    {title: 'Моя сестра много рассказывала мне об этом фильме, поэтому я хочу его посмотреть.',text: 'Meine Schwester erzählte mir sehr viel von diesem Film, deshalb  möchte ich mir ihn ansehen.'},
    {title: 'У меня температура, поэтому я пойду спать раньше.',text: 'Ich habe Fieber, darum gehe ich früher ins Bett.'},
    {title: 'Ей уже 80 лет, но она по сей день работает в театре.',text: 'Sie  ist schon 80 Jahre alt, doch arbeitet  sie bis heute im Theater.'},
    {title: 'Я выучил новый язык, когда работал за границей.',text: 'Ich habe eine neue Sprache gelernt, als ich im Ausland gearbeitet habe.'},
    {title: 'Я уже смотрел этот фильм, когда он вышел в кинотеатрах.',text: 'Ich habe den Film schon gesehen, als er im Kino erschienen ist.'},
    {title: 'Когда я был молод, я всегда задавался вопросом, чем я буду заниматься позже.',text: 'als ich jung war, habe ich mich immer gefragt, was ich später machen würde.'},
    {title: 'Я не чувствовал себя хорошо, когда услышал эту новость.',text: 'Ich habe mich nicht wohlgefült, als ich die Nachricht gehört habe.'},
    {title: 'Вчера, когда я гулял, я встретил своего друга.',text: 'Als ich gestern spazieren gegangen bin, habe ich meinen Freund getroffen.'},
    {title: 'Я уехал из города, когда закончил учебу.',text: 'Ich habe die Stadt verlassen, als ich mein Studium abgeschlossen habe.'},
    {title: 'Я не мог уснуть, когда вечером пил кофе.',text: 'Ich konnte nicht schlafen, als ich Kaffee am Abend getrunken habe.'},
    {title: 'Я был очень взволнован, когда получил свой диплом.',text: 'Ich war sehr aufgeregt, als ich mein Diplom erhalten habe.'},
    {title: 'Когда я был ребенком, я часто играл со своей собакой.',text: 'Als ich ein Kind war, habe ich oft mit meinem Hund gespielt.'},
  ];