section(id='komplexe').phrasen.rel
    .phrasen__comment 
      p  https://ya-znau.ru/znaniya/zn/23
      p(style='margin-top: 20px;') und (и,а), aber (но, однако), denn (так как, потому что), oder (или, либо), sondern (а, но), sowie (а также, как и)
      p(style='margin-top: 10px;') dann, danach (затем, потом, после того), doch (всё-таки, всё же), jedoch (однако, тем не менее), deshalb (потому), deswegen (поэтому, по этой причине), darum (поэтому), also (итак, следовательно, стало быть), sonst (иначе, а то), dabei (к тому же, вместе с тем), dazu (сверх этого, сверх  того), zwar (правда, хотя), und zwar (а именно), űbrigens (впрочем), auβerdem (кроме того), trotzdem (несмотря на это).
      p(style='margin-top: 10px;') Союзы, не влияющие на порядок слов------ und (и,а), aber (но, однако), denn (так как, потому что), oder (или, либо), sondern (а, но), sowie (а также, как и), nicht nur … sondern auch ( не только … но и), sowohl … als auch (как … так и)
      p(style='margin-top: 10px;') Союзы, союзы- наречия, влияющие на порядок слов---- deshalb (потому), deswegen (поэтому, по этой причине), darum (поэтому), auβerdem (кроме того), trotzdem (несмотря на это), zwar (правда, хотя), und zwar (а именно), halb … halb, teils … teils ( то… то).
      p(style='margin-top: 10px;') Союзы, допускающие колебания в порядке слов--------- doch (всё-таки, всё же), jedoch (однако, тем не менее), also (итак, следовательно, стало быть), entweder … oder ( или … или),  weder … noch ( ни … ни)
    ul.uber__links.uber-blocks.uber-blocks(style='margin-top: 20px;')
      include data.pug
      each block in blocks
        li.uber-block.js-cell
          .versteckt=block.text
          .uber-block__card.js-card(draggable='true')
            h4=block.title