.galSlider {
  h2 {
    text-align: center;
  }
 

  .s2 {
    position: relative;
    overflow: hidden;
    .slide {
      min-height: 500px;
      background: bisque;
      h2 {
        position: relative;
        z-index: 5;
      }
    }
 
    .slider-arrow {
      top: 25px;
    }
    .slider-arrow-next {
      right: 27%;
    }
    .slider-arrow-prev {
      left: 27%;
    }
  }
}

.swiper-pagination-s2 {
  position: relative;
  height: 50px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px !important;
  .swiper-pagination-bullet {
    width: 50px;
    height: 50px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0.4;
    transition: all 0.3s;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}
