-
      var blocks = [
        //- =============Vorgangspassiv===================
        {thema: 'Präsens Passivn( Vorgangspassiv)'},
        {title:'Книга читается студентом.',text:'Das Buch wird vom Schüler  gelesen.'},
        {title:'Цветы поливаются бабушкой.',text:'Die Blumen werden von der Oma gegossen.'},
        {title:'Проводником проверяются билеты',text:'Die Fahrkarten werden vom Schaffner geprüft.'},
        {title:'А ну-ка спать!',text:'Jetzt wird aber geschlafen! '},
        {title:'Здесь не курят.',text:'Hier wird nicht geraucht. '}, 
        {title:'Нужно остаться здесь!',text:'Es wird hier geblieben!'},

        //- =============Zustandpassiv===================
        {thema: 'Präsens Passivn( Zustandpassiv)'},
        {title:' Аптека снова открыта.',text:'Die Apotheke ist wieder geöffnet.'},
        {title:'Машина стала дешевле.',text:'Der Wagen ist billiger geworden.'},
        {title:'Цветы политы.',text:'Die Blumen sind gegossen.'},
        //- =============Präteritum Passiv===================
        {thema: 'Präteritum Passiv'},
        {title:'Вчера меня осмотрел врач.',text:'Ich wurde gestern vom Artzt untersucht.'},
        
        {title:'Танцевали(дословно: танцевалось)…',text:'Es wurde getanzt'},
        {title:' Мне ничего не подарили.',text:'Mir wurde nichts geschenkt.'},
        {title:'Вы были созданы очень красивыми.',text:'Ihr wurdet sehr schön gemacht.'},
        {title:'Альпинисты были застигнуты врасплох грозой.',text:'Die Bergsteiger wurden von einem Gewitter überrascht.'},
          //- =============Perfekt Passiv==============
        {thema: 'Perfekt Passiv'},
        {title:'Я уже дважды был прооперирован.',text:'Ich bin schon zweimal operiert worden. '},
        {title:'Был ли построен мост?',text:'Ist die Brücke gebaut worden? '},
        {title:'Телевизор был отремонтирован мастером',text:'Die Fernseher ist vom Meister repariert worden. '},
        {title:'Окна разбиты ветром.',text:'Die Fenster sind durch den Wind gebrochen worden. '},
        //- ===========Plusguamperfekt Passiv=====================
        {thema: 'Plusguamperfekt Passiv'},
        {title:'Вчера меня осмотрел врач.',text:'Ich war gestern vom Arzt untersucht worden. '},
        {title:'Текст был переведен двести лет назад.',text:'Der Text war vor zweihundert Jahren übersetzt worden. '},
        {title:'Вы были очень красиво нарисованы.',text:'Ihr wart sehr schön gemalt worden. '},
        {title:'Эти вазы были изготовлены в Китае.',text:'Diese Vasen waren in China hergestellt worden. '},
        {title:'Эта церковь была построена в шестнадцатом столетии.',text:'Diese Kirche war im 16. (sechzehnten) Jahrhundert gebaut worden. '},
        //- ============Futurum Passiv====================
        {thema: 'Futurum Passiv'},
        {title:'Завтра меня осмотрит врач.',text:'Ich werde morgen vom Arzt untersucht werden. '},
        {title:'Тебя хорошо подготовят учителя.',text:'Du wirst von Lehrern gut vorbereitet werden. '},
        {title:'Габи тоже будет приглашена на вечеринку.',text:'Gabi wird auch zur Party eingeladen werden. '},
        {title:'Вы будете очень красиво раскрашены.',text:'Ihr werdet sehr schön gemalt werden. '},
        {title:'Герр Майер, вы тоже будете приглашены.',text:'Herr Mayer, Sie werden auch eingeladen werden. '},
        {title:'Эти окна должны быть снова помыты ',text:'Die Fenster müssen mal wieder geputzt werden.'},
        {title:'Машина должна быть починена.',text:'Der Wagen muss repariert werden.'},

      ];