h3 das Vorgangspassiv 
p Mit dem Vorgangspasiv wird eine Handlung oder ein Vorgang, also eine dynamische Bewegung , betont.
p Pr채sens ( Vorgangspassiv)
  span(style='color: red; ') werden + pt2 (werde/wirst/wird/werden/werdet/werden)
p Pr채teritum ( Vorgangspassiv)
  span(style='color: red; ') wurden + pt2 (wurde/wurdest/wurde/wurden/wurdet/wurden)
p Perfekt ( Vorgangspassiv)
  span(style='color: red; ') sein + pt2 + worden (bin,bist,ist,sind,seid,sind)
p Plusguamperfekt ( Vorgangspassiv)
  span(style='color: red; ') waren + pt2 + worden (war,warst,war,waren,wart,waren)
p Futur ( Vorgangspassiv)
  span(style='color: red; ') werden + pt2 + 'werden' (werde/wirst/wird/werden/werdet/werden)
h3 das Zustandspassiv
p Mit dem Zustandspassiv wid das Ergebnis einer Handlund, also ein bewegungsloser Yustand, betont.
p Pr채sens ( Zustandspassiv)
  span(style='color: red; ') sein + pt2 (bin,bist,ist,sind,seid,sind)
p Pr채teritum ( Zustandspassiv)
  span(style='color: red; ') waren + pt2  (war,warst,war,waren,wart,waren)
p Perfekt ( Zustandspassiv)
  span(style='color: red; ') sein + pt2 + gewesen (bin,bist,ist,sind,seid,sind)
p Plusguamperfekt ( Zustandspassiv)
  span(style='color: red; ') waren + pt2 + gewesen (war,warst,war,waren,wart,waren)
p Futur ( Zustandspassiv)
  span(style='color: red; ') werden + pt2 + sein (werde/wirst/wird/werden/werdet/werden)
section(id='passive').phrasen.rel
  ul.uber__links.uber-blocks.uber-blocks
    include data.pug
    each block in blocks
      if block.thema
        li.uber-block.uber-block--thema
          h3=block.thema 
      else 
        li.uber-block.js-cell
          .versteckt=block.text
          .uber-block__card.js-card(draggable='true')
            h4=block.title

section(id='passimg').passimg.rel
  .passimg__body
    img(src="../assets/img/passiv/i1.png" alt="alt")
    img(src="../assets/img/passiv/i2.png" alt="alt")
    img(src="../assets/img/passiv/i3.png" alt="alt")
    img(src="../assets/img/passiv/i4.png" alt="alt")