section(id='tabkurz').tabkurz.rel
  .container
    .tabkurz__title
      h2 tabkurz
    .tabkurz__body.tabkurz-body-js
      .kab.kab-js
        .kab__title.kab-title-js
          h4 kab title
          svg
            use(xlink:href='#chevron-down')
        .kab__hidden.kab-hidden-js 
          .kab-wrap-js
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .kab.kab-js
        .kab__title.kab-title-js
          h4 kab title
          svg
            use(xlink:href='#chevron-down')
        .kab__hidden.kab-hidden-js 
          .kab-wrap-js
            .tabkurz__body.tabkurz-body-js
              .kab.kab-js(style='width: 50%')
                .kab__title.kab-title-js
                  h4 kab title
                  svg
                    use(xlink:href='#chevron-down')
                .kab__hidden.kab-hidden-js 
                  .kab-wrap-js
                    p Lorem ipsum dolor sit amet.
              .kab.kab-js(style='width: 50%')
                .kab__title.kab-title-js
                  h4 kab title
                  svg
                    use(xlink:href='#chevron-down')
                .kab__hidden.kab-hidden-js 
                  .kab-wrap-js 
                    p Lorem ipsum dolor sit amet.