.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

// ===============

.swiper-1__body {
  height: 100%;
  position: relative;
}
.swiper-1 .swiper-slide {
  min-height: 250px;
}
.arrow-next-1 {
  left: 40px;
  right: auto;
}
.arrow-prev-1 {
  left: auto;
  right: 40px;
}
