footer#footer.footer
  .container
    .footer__body
      .footer__logo.logo
        a(href='#!')
          svg
            use(xlink:href='#logo')
        p lorem
      .footer__col
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, error.
      .footer__col
        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, error.

      .footer__col.footer__col--info.info
        a.info__phone(href='#!') +7(000) 123 45 65 67 
        form.info__search.info__search--footer
          input(placeholder='Поиск')
          input(type='submit')
          svg
            use(xlink:href='#search')
      svg.footer__cheap
        use(xlink:href='#footer-cheap')
    .footer__low
      a.footer__pol(href='#!') @Lorem ipsum dolor sit amet.
