.footer {
  margin: 120px 0 0 0;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  margin: 70px 0 0 0;
  justify-content: space-between;
}
.footer__logo {
  grid-column: 1/6;
  margin: 0 auto 50px auto;
}
.footer__col {
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 40px 0 0 0;
  }
  li a {
    color: rgb(232, 232, 232);
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    &:hover {
      color: $act-hover;
      text-shadow: 0 0 14px white;
    }
  }
}
.email-button {
  color: rgb(232, 232, 232);
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.footer__low {
  text-align: center;
  margin: 20px 0 0 0;
}

@media (min-width: 901px) and (max-width: 1024px) {
  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 999px) {
  .footer {
    padding: 20px 0;
  }

  .footer__body {
    grid-template-columns: 1fr;
    column-gap: 0px;
    align-items: center;
    justify-items: center;
  }

  .footer__cheap {
    justify-self: center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
  }

  .footer__col--info {
    display: flex !important;
    margin: 20px 0 0 0;
  }

  .info__search--footer {
    margin: 0;
  }
}
