footer#footer.footer
  .container
    .footer__body
      .footer__logo.logo
        p DubaiRealty
        span Real Estate
      .footer__col
        h3 Buy
        ul 
          li 
            a(href="#!") link Apartment in Dubai
          li 
            a(href="#!") House in Dubai
          li 
            a(href="#!") Apartments in Dubai
          li 
            a(href="#!") Loft in Dubai
          li 
            a(href="#!") Penthouse in Dubai
          li 
            a(href="#!") Villa in Dubai
      .footer__col
        h3 Services
        ul 
          li 
            a(href="#!") Property management in Dubai, UAE
          li 
            a(href="#!") Sell ​​property in Dubai, UAE
          li 
            a(href="#!") Rent property in Dubai, UAE
          li 
            a(href="#!") Investments in Dubai, UAE
          li 
            a(href="#!") Real estate for cryptocurrency in Dubai
          li 
            a(href="#!") Moving to Dubai, UAE
      .footer__col
        h3 Information
        ul 
          li 
            a(href="#!") Video
          li 
            a(href="#!") Podcasts
          li 
            a(href="#!") Laws
          li 
            a(href="#!") Questions and answers
          li 
            a(href="#!") Books
          li 
            a(href="#!") Articles
      .footer__col
        h3 About company
        ul 
          li 
            a(href="#!") Jobs 
          li 
            a(href="#!") Story
          li 
            a(href="#!") Licenses
          li 
            a(href="#!") Why are we
          li 
            a(href="#!") Real estate agency
      .footer__col
        h3 Contact
        ul 
          li 964 Worthington Drive<br>Dubai, UAE 
          li 
            a.email-button(href='#!') dubairealty@mail.com
          li
            button.book-button.btn.btn-success.but-wave.popups-init-js(rel='#popup1' href='javascript:void(0);') Book a consultation



    .footer__low
      a.footer__pol(href='javascript:void(0);') @Lorem ipsum dolor sit amet.
