-
        var blocks = [
        {title: 'Красная машина принадлежит богатому человеку.',text: 'Das rote Auto gehört dem reichen Mann.'},
        {title: 'Ганс сидит на старом диване.',text: 'Hans sitzt auf dem alten Sofa.'},
        {title: 'Дом стоит рядом с большим парком.',text: 'Das Haus steht neben dem großen Park.'},
        {title: 'Маленький домик серый.',text: 'Das kleine Haus ist grau.'},
        {title: 'Моя новая машина стоит в гараже.',text: 'Mein neues Auto steht in der Garage.'},
        {title: 'Ганс сидит на старом ящике.',text: 'Hans sitzt auf einer alten Kiste.'},
        {title: 'Дом не в хорошем состоянии.',text: 'Das Haus ist in keinem guten Zustand.'},
        {title: 'Это узкая кровать.',text: 'Das ist ein schmales Bett.'},
        {title: 'Молодые женщины часто очень красивы.',text: 'Junge Frauen sind oft sehr hübsch.'},
        {title: 'Немец выпивает 130 литров холодного пива каждый год.',text: 'Ein Deutscher trinkt jedes Jahr 130 Liter kaltes Bier.'},
        {title: 'Кольцо изготовлено из чистого золота.',text: 'Der Ring ist aus purem Gold.'},
        {title: 'Есть красные машины.',text: 'Dort stehen rote Autos.'},
        {title: 'Это высокая башня.',text: 'Das ist ein hoher Turm.'},
        {title: 'Это розовое платье.',text: 'Das ist ein rosa Kleid.'},
        {title: 'Фиолетовая блузка некрасива.',text: 'Die lila Bluse ist hässlich.'},
        {title: 'Франкфуртский аэропорт огромен.',text: 'Der Frankfurter Flughafen ist riesig.'},
        {title: 'Лучший друг нашел новую работу.',text: 'Der beste Freund hat einen neuen Job gefunden.'},
        {title: 'Он любит играть с милыми собачками.',text: 'Er spielt gerne mit den süßen Hunden.'},
        {title: 'У коллеги зеленые глаза, маленький нос и длинная борода.',text: 'Der Kollege hat grüne Augen, eine kleine Nase und einen langen Bart.'},
        {title: 'Хенрих находит старые фильмы очень интересными.',text: 'Alte Filme findet Henrich sehr interessant.'},
        {title: 'Генрих в настоящее время живет в огромном доме, принадлежащем его богатой семье.',text: 'Henrich wohnt zurzeit in einem riesigen Haus seiner wohlhabenden Familie.'},
        {title: 'Сабрина скоро выходит замуж и хочет отпраздновать в этом неизвестном месте.',text: 'Sabrina heiratet bald und will in diesem unbekannten Lokal feiern.'},
        {title: 'Это место гордится своим великим прошлым.',text: 'Dieser Platz ist stolz auf seine große Vergangenheit. '},
        {title: 'Ребекка полностью забыла всю итальянскую лексику.',text: 'Rebekka hat alle italienischen Vokabeln total vergessen. '},
        {title: 'Как вы планируете предстоящее выздоровление?',text: 'Wonach plant ihr eure baldige Erholung? '},
        {title: 'После окончания он ремонтировал неисправные стиральные машины.',text: 'Nach dem Studium repariert er defekte Waschmaschinen.'},
        {title: 'На выходных она совершила деловую поездку в Берлин.',text: 'Am Wochenende hat sie eine dienstliche Reise nach Berlin gemacht.'},
        {title: 'У вас есть номер телефона надежной няни?',text: 'Habt ihr die Telefonnummer eines zuverlässigen Babysitters?'},
        {title: 'Он купил дорогие билеты на самолет.',text: 'Er hat teure Flugtickets gekauft.'},
        {title: 'Кто хозяин опасной собаки?',text: 'Wer ist der Besitzer des gefährlichen Hundes?'},
        {title: 'Он дарит красивую игрушку',text: 'Er schenkt ein schönes Spielzeug.'},
        {title: 'Она делает интересную развлекательную программу.',text: 'Sie macht ein interessantes Freizeitprogramm.'},
        {title: 'Школьница носит модный рюкзак.',text: 'Die Schülerin trägt einen modischen Rucksack.'},
        {title: 'Они посещают большой блошиный рынок.',text: 'Sie besuchen einen großen Flohmarkt.'},
        {title: 'Он поливает большое растение.',text: 'Er gießt eine große Pflanze.'},
        {title: 'Мы приносим чистое белье.',text: 'Wir bringen saubere Wäsche.'},
        {title: 'Он помогает больной собаке.',text: 'Er hilft einem kranken Hund.'},
        {title: 'Она отвечает новому другу.',text: 'Sie antwortet einem neuen Freund.'},
        {title: 'Они пишут про старый дом.',text: 'Sie schreiben über ein altes Haus.'},
        {title: 'Он рекомендует знакомой покупательнице.',text: 'Er empfiehlt einer bekannten Käuferin.'},
        {title: 'Она обещает маленькому ребенку.',text: 'Sie verspricht einem kleinen Kind.'},
        {title: 'Это сумка рассеянного пассажира.',text: 'Das ist eine Tasche von einem zerstreuten Passagier.'},
        {title: 'Это книга умного школьника.',text: 'Das ist ein Buch von einem klugen Schüler.'},
        {title: 'Это компьютер молодой сотрудницы.',text: 'Das ist der Computer von einer jungen Mitarbeiterin.'},
        {title: 'Это платок старой женщины.',text: 'Das ist ein Tuch von einer alten Frau.'},
        {title: 'Это вывеска нового магазина.',text: 'Das ist das Schild von einem neuen Geschäft.'},
        {title: 'Это название популярного кафе.',text: 'Das ist der Name von einem populären Cafe.'},
        {title: 'Это мои маленькие дети.',text: 'Das sind meine kleinen Kinder. '},
        {title: 'Вы (формально) видите часто его старого дедушку.',text: 'Sie sehen oft seinen alten Opa.'},
        {title: 'Я помогаю моей лучшей подруге.',text: 'Ich helfe meiner besten Freundin.'},
        {title: 'Ты даришь игрушку ее маленькому сыну.',text: 'Du schenkst ihrem kleinen Sohn ein Spielzeug.'},
        {title: 'Это ее старый автомобиль.',text: 'Das ist ihr altes Auto. '},
        {title: 'Я посещаю ее новый магазин.',text: 'Ich besuche ihr neues Geschäft. '},
        {title: 'Он ищет его теплую обувь.',text: 'Er sucht seine warmen Schuhe.'},
        {title: 'Она решает свою сложную задачу.',text: 'Sie löst ihre komplizierte Aufgabe.'},
        {title: 'Как выглядит твой старый стол?',text: 'Wie sieht dein alter Tisch aus?'},
        {title: 'Ее чистая чашка стоит здесь.',text: 'Ihre saubere Tasse steht hier.'},
        {title: 'Он следует своим определенным правилам.',text: 'Sie folgt ihren bestimmten Regeln.'},
        {title: 'Он помогает моей старой соседке.',text: 'Er hilft meiner alten Nachbarin.'},
        {title: 'Он берет вещи моей старой бабушки.',text: 'Er nimmt die Sachen von meiner alten Oma.'},
        {title: 'Она приносит рюкзак ее маленького брата.',text: 'Sie bringt den Rucksack von ihrem kleinen Bruder.'},
        {title: 'Они видят сумку моей новой соседки.',text: 'Sie sehen die Tasche von meiner neuen Nachbarin.'},
        {title: 'Она находит мяч своего маленького ребенка.',text: 'Sie findet den Ball von ihrem kleinen Kind.'},
        {title: 'Новое сообщение слишком длинное.',text: 'Die neue Nachricht ist zu lang.'},
        {title: 'Высокая девушка сидит здесь.',text: 'Das große Mädchen sitzt hier.'},
        {title: 'У тебя есть замечательная идея.',text: 'Du hast eine wunderbare Idee.'},
        {title: 'Он находит это тихое место красивым.',text: 'Er findet diesen ruhigen Ort schön.'},
        {title: 'Он ест кислый лимон.',text: 'Er isst eine saure Zitrone.'},
        {title: 'Она ищет правильные ответы.',text: 'Sie sucht die richtigen Antworten.'},
        {title: 'Сегодня состоится великолепный концерт.',text: 'Heute findet ein tolles Konzert statt.'},
        {title: 'Широкие ботинки неудобные.',text: 'Die weiten Schuhe sind nicht bequem.'},
        {title: 'Она хвалит старательного школьника.',text: 'Sie lobt den fleißigen Schüler.'},
        {title: 'Он показывает активным участникам фотографии.',text: 'Er zeigt den aktiven Teilnehmern die Fotos.'},
        {title: 'Он рассказывает любопытным зрителям забавную историю.',text: 'Er erzählt den neugierigen Zuschauern eine lustige Geschichte.'},
        {title: 'Пациент описывает внимательному врачу свою проблему.',text: 'Der Patient beschreibt dem aufmerksamen Arzt sein Problem.'},
        {title: 'Старая женщина жалуется мужчине на своих недовольных соседей.',text: 'Die alte Frau beschwert sich bei dem Mann über ihre sauren Nachbarn.'},
        {title: 'Она дает урок слабому ученику.',text: 'Sie gibt den Unterricht einem schwachen Schüler.'},
        {title: 'Это одежда красивой девушки.',text: 'Das ist die Kleidung von einem hübschen Mädchen.'},
        {title: 'Это документ новой сотрудницы.',text: 'Das ist das Dokument von der neuen Mitarbeiterin.'},
        {title: 'Это договоры других коллег.',text: 'Das sind die Verträge von den anderen Kollegen.'},
        {title: 'Это покупка постоянного покупателя.',text: 'Das ist der Einkauf von einem ständigen Käufer.'},
        ];