-
        var blocks = [
        {title: 'Красная машина принадлежит богатому человеку.',text: 'Das rote Auto gehört dem reichen Mann.'},
        {title: 'Ганс сидит на старом диване.',text: 'Hans sitzt auf dem alten Sofa.'},
        {title: 'Дом стоит рядом с большим парком.',text: 'Das Haus steht neben dem großen Park.'},
        {title: 'Маленький домик серый.',text: 'Das kleine Haus ist grau.'},
        {title: 'Моя новая машина стоит в гараже.',text: 'Mein neues Auto steht in der Garage.'},
        {title: 'Ганс сидит на старом ящике.',text: 'Hans sitzt auf einer alten Kiste.'},
        {title: 'Дом не в хорошем состоянии.',text: 'Das Haus ist in keinem guten Zustand.'},
        {title: 'Это узкая кровать.',text: 'Das ist ein schmales Bett.'},
        {title: 'Молодые женщины часто очень красивы.',text: 'Junge Frauen sind oft sehr hübsch.'},
        {title: 'Немец выпивает 130 литров холодного пива каждый год.',text: 'Ein Deutscher trinkt jedes Jahr 130 Liter kaltes Bier.'},
        {title: 'Кольцо изготовлено из чистого золота.',text: 'Der Ring ist aus purem Gold.'},
        {title: 'Есть красные машины.',text: 'Dort stehen rote Autos.'},
        {title: 'Это высокая башня.',text: 'Das ist ein hoher Turm.'},
        {title: 'Это розовое платье.',text: 'Das ist ein rosa Kleid.'},
        {title: 'Фиолетовая блузка некрасива.',text: 'Die lila Bluse ist hässlich.'},
        {title: 'Франкфуртский аэропорт огромен.',text: 'Der Frankfurter Flughafen ist riesig.'},
        {title: 'Лучший друг нашел новую работу.',text: 'Der beste Freund hat einen neuen Job gefunden.'},
        {title: 'Он любит играть с милыми собачками.',text: 'Er spielt gerne mit den süßen Hunden.'},
        {title: 'У коллеги зеленые глаза, маленький нос и длинная борода.',text: 'Der Kollege hat grüne Augen, eine kleine Nase und einen langen Bart.'},
        {title: 'Хенрих находит старые фильмы очень интересными.',text: 'Alte Filme findet Henrich sehr interessant.'},
        {title: 'Генрих в настоящее время живет в огромном доме, принадлежащем его богатой семье.',text: 'Henrich wohnt zurzeit in einem riesigem Haus seiner wohlhabenden Familie.'},
        {title: 'Сабрина скоро выходит замуж и хочет отпраздновать в этом неизвестном месте.',text: 'Sabrina heiratet bald und will in diesem unbekannten Lokal feiern.'},
        {title: 'Это место гордится своим великим прошлым.',text: 'Dieser Platz ist stolz auf seine große Vergangenheit. '},
        {title: 'Ребекка полностью забыла всю итальянскую лексику.',text: 'Rebekka hat alle italienischen Vokabeln total vergessen. '},
        {title: 'Как вы планируете предстоящее выздоровление?',text: 'Wonach plant ihr eure baldige Erholung? '},
        {title: 'После окончания он ремонтировал неисправные стиральные машины.',text: 'Nach dem Studium repariert er defekte Waschmaschinen.'},
        {title: 'На выходных она совершила деловую поездку в Берлин.',text: 'Am Wochenende hat sie eine dienstliche Reise nach Berlin gemacht.'},
        {title: 'У вас есть номер телефона надежной няни?',text: 'Habt ihr die Telefonnummer eines zuverlässigen Babysitters?'},
        {title: 'Он купил дорогие билеты на самолет.',text: 'Er hat teure Flugtickets gekauft.'},
        {title: 'Кто хозяин опасной собаки?',text: 'Wer ist der Besitzer des gefährlichen Hundes?'},
     
        ];