section(id='deklination').phrasen.rel
    section.passimg.rel
      .passimg__body
            img(src="../assets/img/deklination/i-1.webp" alt="alt").passimg__img.rel
            img(src="../assets/img/deklination/i-2.webp" alt="alt").passimg__img.rel
            img(src="../assets/img/deklination/i-3.webp" alt="alt").passimg__img.rel
            img(src="../assets/img/deklination/i-4.webp" alt="alt").passimg__img.rel
            img(src="../assets/img/deklination/i-5.webp" alt="alt").passimg__img.rel
            img(src="../assets/img/deklination/i-6.png" alt="alt").passimg__img.rel
    ul.uber__links.uber-blocks.uber-blocks
      include data.pug
      each block in blocks
        li.uber-block.js-cell
          .versteckt=block.text
          .uber-block__card.js-card(draggable='true')
            h4=block.title









