-
            var blocks = [
            {title: 'У меня есть два друга по переписке из Германии, с которыми я переписываюсь уже несколько лет.',text: 'Ich habe zwei Brieffreunde aus Deutschland, mit denen ich seit einigen Jahren im Briefwechsel stehe.'},
            {title: 'Соседние страны, граничащие с Германией на востоке, называются Польшей и Чехией.',text: 'Die Nachbarstaaten, an die Deutschland im Osten grenzt, heißen Polen und Tschechien.'},
            {title: 'Поэт, о произведениях которого мы узнаем на уроках литературы, писал романтические стихи.',text: 'Der Dichter, dessen Schaffen wir im Literaturunterricht lernen, schrieb romantische Gedichte.'},
            {title: 'Работники, результаты которых были хороши, получили похвалу.',text: 'Die Mitarbeiter, deren Leistungen gut waren, bekamen ein Lob.'},
            {title: 'Начальник отдела, сотрудники которого не идут на сотрудничество, беспокоится о своем проекте.',text: 'Der Abteilungsleiter, dessen Mitarbeiter nicht kooperativ sind, macht sich Sorgen um sein Projekt. '},
            {title: 'Оратор посмотрел на группу людей, которые слушали.',text: 'Der Redner blickte auf die Gruppe derer, die gerade zuhörten.'},
            {title: 'Он вспомнил тех, кто опоздал.',text: 'Er erinnerte sich derer, die zu spät gekommen waren. '},
            {title: 'Он брал на себя тех, кто не до конца понимал его концепцию.',text: 'Er nahm sich derer an, die sein Konzept nicht ganz verstanden haben. '},
            {title: 'На встречу пришло много сотрудников, и начальник их запомнил.',text: 'Viele Mitarbeiter sind zur Sitzung gekommen und die Chefin erinnerte sich deren.'},
            {title: 'Для некоторых цель встречи была не ясна, поэтому об этом позаботился начальник.',text: 'Manchen war das Ziel der Sitzung nicht klar, da nahm sich die Chefin deren an.'},
            {title: 'Он не помнил, кто это был.',text: 'Er erinnerte sich dessen nicht mehr, wer das war. '},
            {title: 'Герхард Шредер приветствовал министров и их сотрудников',text: 'Gerhard Schröder begrüßte die Minister und deren Mitarbeiter '},
            {title: 'Он попрощался со своим министром финансов и своим секретариатом.',text: 'Er verabschiedete sich von seinem Finanzminister und dessen Sekretariat.'},
            {title: 'Он попрощался со своим министром здравоохранения и ее секретарем.',text: 'Er verabschiedete seine Gesundheitsministerin und deren Sekretär.'},
            {title: 'Коллега, который заставляет меня работать сверхурочно, сегодня снова заставил меня погрустнеть.',text: 'Die Kollegin, derentwegen ich Überstunden mache muß, hat heute wieder blau gemacht. '},
            {title: 'Секретарша, которой я недоволен, просто некомпетентна.',text: 'Der Sekretär, dessentwegen ich unzufrieden bin, ist schlichtweg unfähig. '},
            {title: 'Сотрудники, ради которых устроили прощальную вечеринку, отправились в Microsoft.',text: 'Die Angestellten, derenthalben eine Abschiedsfeier gegeben wurde, gingen zu Microsoft.'},
            {title: 'Успеваемость тех, кто регулярно выполняет домашнее задание, быстро улучшится.',text: 'Die Leistung derjenigen, die ihre Hausaufgaben regelmäßig erledigen, wird sich schnell verbessern.'},
            {title: 'Я никогда не забуду каникулы, которые я провел за границей этим летом.',text: 'Ich vergesse nie die Ferien, die ich diesen Sommer im Ausland verbracht habe.'},
            {title: 'Тебе понравился криминальный роман, который я тебе дал?',text: 'Hat dir der Krimi gefallen, den ich dir geschenkt habe?'},
            {title: 'Девушка, с которой я переписываюсь, живет в Бонне.',text: 'Das Mädchen, mit dem ich im Briefwechsel stehe, wohnt in Bonn.'},
            {title: 'Как называется федеральная земля со столицей в Мюнхене?',text: 'Wie heißt das Bundesland, dessen Hauptstadt München ist?'},
            {title: 'Октоберфест, ежегодно проходящий в Мюнхене, имеет давнюю традицию.',text: 'Das Oktoberfest, das jährlich in München stattfindet, hat eine lange Tradition.'},
            {title: 'Мне нравятся книги, в которых рассказывают о молодежи.',text: 'Mir gefallen die Bücher, in denen man über Jugendliche erzählt.'},
            {title: 'Все наши школьные экскурсии были очень интересными.',text: 'Alle Klassenfahrten, die wir unternahmen, waren sehr interessant.'},
            {title: 'Поездка класса, которую мы совершили в Польшу, была великолепной!',text: 'Die Klassenfahrt, die wir nach Polen machten, war super!'},
            {title: 'Как называются федеральные земли, в которых находится Боденское озеро? — Бавария и Баден-Вюртемберг.',text: 'Wie heißen die Bundesländer, in denen der Bodensee liegt? — Bayern und Baden-Württemberg.'},
            {title: 'Настоящий друг — это человек, которому можно доверять.',text: 'Ein echter Freund ist der Mensch, dem du vertrauen kannst.'},
            {title: 'Как вам чтение, которое подготовили наши библиотекари?',text: 'Wie hat dir die Lesung gefallen, die unsere Bibliothekare vorbereitet haben?'},
            {title: 'Пожалуйста, принеси мне книгу, о которой ты говорил.',text: 'Bring mir bitte das Buch, über das du erzählt hast.'},
            {title: 'Я ненавижу дни, когда у нас есть два часа на математику.',text: 'Ich hasse die Tage, an denen wir zwei Stunden Mathe haben.'},
            {title: 'Мне нравится слушать немецкие группы, которые поют на немецком языке.',text: 'Ich höre gern deutsche Bands, die auf Deutsch singen.'},
            {title: 'В течение часа мы читали сказку, которую потом нужно было кратко пересказать.',text: 'In der Stunde haben wir ein Märchen gelesen, das wir dann kurz nacherzählen mussten.'},
            {title: 'У Андреаса есть хороший друг, с которым он может поговорить о чем угодно.',text: 'Andreas hat einen guten Freund, mit dem er über alles reden kann.'},
            {title: 'От кого это письмо , которое вы получили ?',text: 'Von wem ist der Brief, den du bekommen hast?'},
            {title: 'Мне нравятся все новые предметы, которые у нас есть в этом учебном году.',text: 'Mir gefallen alle neuen Fächer, die wir in diesem Schuljahr haben.'},
            {title: 'Кевин пригласил на вечеринку своих друзей, с которыми ходит на тренировки.',text: 'Kevin hat zur Party seine Freunde eingeladen, mit denen er zum Training geht.'},
            {title: 'Можете ли вы назвать реки, протекающие через Германию?',text: 'Kannst du die Flüsse nennen, die durch Deutschland fließen?'},
            {title: 'Концертный зал, где проходят все важные концерты, рассчитан на 200 мест.',text: 'Die Konzerthalle, in dem alle wichtigen Konzerte stattfinden, bietet 200 Plätze.'},
            {title: 'Кэтрин сфотографировала множество красивых пейзажей, по которым мы гуляем.',text: 'Kathrin hat viele schöne Landschaften fotografiert, durch denen wir gehen.'},
            {title: 'О чем криминальный триллер, который вы читали?',text: 'Worum geht es im Krimi, die du gelesen hast?'},
            {title: 'Как называется газета, для которой Биргит пишет статьи?',text: 'Wie heißt die Zeitung, für der Birgit ihre Artikel schreibt?'},
            {title: 'Автором написано множество произведений, к которым принадлежат три крупных романа.',text: 'Der Autor hat viele Werke geschrieben, zu denen auch drei große Romane gehören.'},

          ];