.tab__title--relativ-pronomen {
  background: rgb(226, 157, 66);
  &._is-active {
    background: rgb(168, 117, 5);
  }
}
#relativ-pronomen {
  p {
    margin: 5px 0 8px;
    font-size: larger;
    color: rgb(250, 205, 81);
  }
  .uber-blocks {
    grid-template-columns: repeat(3, 1fr);
  }
  .uber-block {
    outline: 2px solid rgb(206, 153, 8);
    &__card {
      background: rgb(124, 86, 4);
    }
  }
  .versteckt {
    width: calc(100%);
    font-size: 16px;
  }
  .demo-pronomen {
    img {
      position: relative;
    }
  }
  .phrasen__spans{
    display: flex;
    column-gap: 10px;
    margin: 0 0 10px 0;
    span{
      border: 1px solid red;
      border-radius: 2px;
      padding: 0 5px 0;
    }

  }
}
