
.Double
  .swiper.swiperDoubleTop#swiperDoubleTop.swiper-container
    .swiper-wrapper
      .swiper-slide
          include ../serv/top-1.pug
      .swiper-slide
          include ../serv/top-2.pug
      .swiper-slide
          include ../serv/top-3.pug
      .swiper-slide
          include ../serv/top-4.pug
      .swiper-slide
          include ../serv/top-5.pug
      .swiper-slide
          include ../serv/top-6.pug
      .swiper-slide
          include ../serv/top-7.pug
  .inner
    .Low-next.slider-arrow.swiper-button-prev
      svg
        use(xlink:href='#chevron-left') 
    .Low-prev.slider-arrow.swiper-button-next
      svg
        use(xlink:href='#chevron-right')

    .swiper.swiperDoubleLow(thumbsslider='')#swiperDoubleLow
      .swiper-wrapper
          .swiper-slide.rel
            .imgs
                img(src='./assets/img/serv/i-1.jpg' alt='img')
            p Покраска стен в квартире
          .swiper-slide
            .imgs
                img(src='./assets/img/serv/i-2.jpg' alt='img')
            p Покраска стен в доме
          .swiper-slide
            .imgs
                img(src='./assets/img/serv/i-3.jpg' alt='img')
            p Покраска стен в офисе
          .swiper-slide
            .imgs
                img(src='./assets/img/serv/i-4.jpg' alt='img')
            p Покраска обоев
          .swiper-slide
            .imgs
                img(src='./assets/img/serv/i-5.jpg' alt='img')
            p Покраска потолка
          .swiper-slide
            .imgs
                img(src='./assets/img/serv/i-6.jpg' alt='img')
            p Покраска фасадов
          .swiper-slide
            .imgs
                img(src='./assets/img/serv/i-7.jpg' alt='img')
            p Покраска деревянного фасада
