section#bunner-slider.bunner-slider
  .swiper-pagination
  .bunner__nav
    .bunner-next NEXT
    span |
    .bunner-prev PREV
  ul.soc.bunner__soc 
    li 
      a(href="#!") 
        svg
          use(xlink:href='#fb')
    li 
      a(href="#!") 
        svg
          use(xlink:href='#teleg')
    li 
      a(href="#!") 
        svg
          use(xlink:href='#youtube')
    li 
      a(href="#!") 
        svg
          use(xlink:href='#instagram')
    li 
      a(href="#!") 
        svg
          use(xlink:href='#lind')
  .slider-bunner.slider-bunner-js.swiper-container
    ul.bunner-slider__body.swiper-wrapper
      -
        var bunerFaq = [
          {
            src: 'assets/img/slider1.png',
            title1: "Welcome Home",
            title2: "To ",
            title3: " Luxury",
          },

          {
            src: 'assets/img/slider1.png',
            title1: "Welcome Home",
            title2: "To ",
            title3: " Luxury",
          },
          {
            src: 'assets/img/slider1.png',
            title1: "Welcome Home",
            title2: "To ",
            title3: " Luxury",
          },

        ];

      each entry in bunerFaq
        li.slider__item.slider-card.swiper-slide
          .slider-card__img.imgs
            img(src=entry.src alt='img')
          .slider-card__body
            .slider-card__title
              h1=entry.title1
              span=entry.title2
              p &nbsp;
              p=entry.title3
            button.slider-card__button.btn.btn-empty.popups-init-js(rel='#popup1' href='#!') Book a consultation
              svg
                use(xlink:href='#Arrow')
