.bunner__nav {
  position: absolute;
  z-index: 5;
  bottom: 30px;
  left: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 10%;
  .bunner-next,
  .bunner-prev {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 20%;
    font-family: "Gilroy-Bold", sans-serif;
    cursor: pointer;
    color: #ababa8;
    transition: all 0.2s;
    &:hover {
      color: $white;
    }
  }
  span {
    margin: 0 20px 4px 20px;
    font-size: 20px;
    color: $white;
    line-height: 1;
  }
}
.bunner__soc {
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 10;
}
.bunner-slider {
  height: calc(100vh - 77px);
  min-height: 811px;
  overflow: hidden;
  position: relative;
}

.bunner-slider .slider,
.bunner-slider .slider__body,
.bunner-slider .slider__item {
  min-height: 100vh;
}

.bunner-slider .slider {
  position: relative;
}

.bunner-slider .slider__body {
  width: 100%;
  height: 100%;
}

.bunner-slider .slider__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.bunner-slider .slider-card {
  position: relative;
}

.bunner-slider .slider-card__img {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
}

.bunner-slider .slider-card__body {
  display: flex;
  flex-direction: column;
  position: relative;
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 82px 0 50px 28px;
  z-index: 5;
  width: max-content;
  &::after {
    content: "";
    position: absolute;
    border: 2px solid $act;
    border-right: 0px;
    transform: translate(0%, -50%);
    top: 50%;
    width: 124px;
    height: 100%;
    left: 0;
  }
}
.slider-card__button {
  margin: 37px 0 0 0;
}

.bunner-slider .slider-card__title {
  max-width: 714px;
  * {
    font-family: "Space Grotesk", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0px;

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  }
  span {
    color: $act;
    display: inline-block;
  }
  p {
    display: inline-block;
  }
}
.bunner-slider .swiper-pagination {
  position: absolute;
  width: auto;
  left: auto;
  z-index: 40;
  display: flex;
  column-gap: 170px;
  bottom: 0;
  right: 0;
  padding: 58px 38px 40px 80px;
  background-color: $bg;
  &-bullet {
    display: flex;
    width: auto;
    align-items: center;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    opacity: 1;
    min-height: 54px;
    column-gap: 15px;
    p {
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 1;
    }
    &-active {
      p {
        color: $act;
      }
    }
  }
}
.slider-bunner {
  height: 100%;
}
@media (min-width: 1035px) and (max-width: 1253px) {
  .bunner-slider .slider-card__title * {
    font-size: 50px;
    line-height: 64px;
  }
  .bunner-slider .slider-card__body {
    padding: 34px 0 34px 25px;
    top: 9%;
  }

  .bunner__nav {
    padding: 0 0 0 30px;
  }

  .bunner-slider {
    height: calc(100vh - 77px);
    min-height: 372px;
  }

  .bunner-slider .swiper-pagination-bullet {
    font-size: 12px;
  }
  .bunner-slider .swiper-pagination-bullet p {
    font-size: 40px;
  }
  .bunner-slider .swiper-pagination {
    padding: 22px 40px 22px 40px;
  }
}
@media (max-width: 1034px) {
  .bunner-slider .slider-card__title * {
    font-size: 30px;
    line-height: 38px;
  }
  .bunner-slider {
    height: calc(100vh - 65px);
    min-height: 322px;
  }
  .bunner-slider .slider-card__body {
    padding: 34px 0 34px 15px;
    top: 9%;
    left: 9%;
  }
  .bunner__soc {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 33%;
    z-index: 10;
    flex-direction: row;
    column-gap: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .bunner-slider .swiper-pagination-bullet {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70px;
    column-gap: 0px;
  }
  .bunner-slider .swiper-pagination {
    padding: 22px 40px 22px 40px;
    column-gap: 30px;
    width: 100%;
    justify-content: center;
  }

  .bunner-slider .swiper-pagination-bullet p {
    font-size: 40px;
  }
  .bunner__nav {
    padding: 0 0 0 0;
    bottom: 120px;
    justify-content: center;
  }
}
