.bunner__nav {
  position: absolute;
  z-index: 5;
  bottom: 30px;
  left: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 470px;
  .bunner-next,
  .bunner-prev {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 20%;
    font-family: "Gilroy-Bold", sans-serif;
    cursor: pointer;
    color: #ababa8;
    transition: all 0.2s;
    &:hover {
      color: $white;
    }
  }
  span {
    margin: 0 20px 4px 20px;
    font-size: 20px;
    color: $white;
    line-height: 1;
  }
  .bunner-prev {
  }
}
.bunner__soc {
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 10;
}
.bunner-slider {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.bunner-slider .slider,
.bunner-slider .slider__body,
.bunner-slider .slider__item {
  min-height: 100vh;
}

.bunner-slider .slider {
  position: relative;
}

.bunner-slider .slider__body {
  width: 100%;
  height: 100%;
}

.bunner-slider .slider__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.bunner-slider .slider-card {
  position: relative;
}

.bunner-slider .slider-card__img {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
}

.bunner-slider .slider-card__body {
  display: flex;
  flex-direction: column;
  position: relative;
  position: absolute;
  top: 30%;
  left: 20%;
  padding: 82px 0 50px 28px;
  z-index: 5;
  width: max-content;
  &::after {
    content: "";
    position: absolute;
    border: 2px solid $act;
    border-right: 0px;
    transform: translate(0%, -50%);
    top: 50%;
    width: 124px;
    height: 100%;
    left: 0;
  }
}
.slider-card__button {
  margin: 37px 0 0 0;
}

.bunner-slider .slider-card__title {
  max-width: 714px;
  * {
    font-family: "Space Grotesk", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0px;

    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  }
  span {
    color: $act;
    display: inline-block;
  }
  p {
    display: inline-block;
  }
}
.bunner-slider .swiper-pagination {
  position: absolute;
  width: auto;
  left: auto;
  z-index: 40;
  display: flex;
  column-gap: 170px;
  bottom: 0;
  right: 0;
  padding: 58px 38px 40px 80px;
  background-color: $bg;
  &-bullet {
    display: flex;
    width: auto;
    align-items: center;
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    opacity: 1;
    min-height: 54px;
    column-gap: 15px;
    p {
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 1;
    }
    &-active {
      p {
        color: $act;
      }
    }
  }
}

// .bunner-slider .swiper-pagination span {
//   width: 20px;
//   height: 20px;
//   border: 1px solid white;
//   background: transparent;
//   opacity: 1;
//   transition: all 0.2s ease-in-out;
//   display: block;
//   border-radius: 50%;
//   cursor: pointer;
// }

// .bunner-slider .swiper-pagination span.swiper-pagination-bullet-active {
//   background: rgb(28, 25, 194);
// }

// ==================================

// .bunner-search {
//   position: relative;
//   width: 527px;
//   position: absolute;
//   left: 50%;
//   bottom: 50px;
//   transform: translate(-50%, 0);
//   z-index: 100;
// }

// .bunner-search input {
//   border-bottom: 1px solid white;
//   height: 48px;
//   padding: 0 0 0 10px;
// }

// .bunner-search input::placeholder {
// }

// .bunner-search button {
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   right: -17px;
//   top: 53%;
//   transform: translate(-20px, -50%);
//   background: transparent;
// }

// .bunner-search button svg {
//   fill: white;
//   width: 100%;
//   height: 100%;
// }

// .slider--1 {
//   position: relative;
// }

// .slider--1 .content-slider-arrow {
//   left: 100px;
//   top: 115%;
//   width: 61px;
//   height: 61px;
//   box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
//   border: none;
// }

// .slider--1 .content-slider-arrow svg {
//   stroke: red;
// }

// .slider--1 .content-slider-next {
//   left: 177px;
//   transform: rotate(180deg) translateY(50%);
// }
