.wrapper.rel
  //- .imgs
  //-   picture
  //-     source(srcset='../src/assets/img/paralax.jpg' type='imagejpg' media='(min-width: 901px) ')
  //-     source(srcset='../src/assets/img/paralax.jpg' type='imagejpg' media='(max-width: 900px)')
  //-     img(src='../src/assets/img/paralax.jpg' alt='')
  - var section = { header: 'true'}
  include ./src/pug/components/header/header.pug
  main.inner
    include ./src/pug/components/bunner/bunner.pug
    //- include ./src/pug/components/bunner/bunner-slider.pug
    //- include ./src/pug/marque.pug 
    //- include ./src/pug/components/title/title.pug 
    //- - var section = { tabs: 'true'}
    //- include ./src/pug/components/tabs/tabs.pug
    - var section = { nark: 'true'}
    include ./src/pug/components/nark/nark.pug
    - var section = { kons: 'true'}
    include ./src/pug/components/kons/kons.pug

    //- include ./src/pug/components/do/do.pug
    //- include ./src/pug/components/accord/accord.pug
    //- include ./src/pug/components/swiper-1/swiper-1.pug
    //- include ./src/pug/components/slider-full/slider-full.pug
    //- include ./src/pug/components/slider-double/sdouble.pug
    //- include ./src/pug/components/galery/galery.pug
    //- include ./src/pug/components/slider-scroll/slider-scroll.pug
    //- include ./src/pug/components/galSlider/galSlider.pug
    //- include ./src/pug/components/range/range.pug
    //- include ./src/pug/components/select/select.pug
    //- include ./src/pug/components/form/popup-form.pug
    //- include ./src/pug/components/look/look.pug
    //- include ./src/pug/components/typed/typedHover.pug
    //- include ./src/pug/components/typed/typedScroll.pug
    //- include ./src/pug/components/tabs/tabs.pug
  - var section = { footer: 'true'}
  include ./src/pug/components/footer/footer.pug

include ./src/pug/components/popup/popup.pug
include ./assets/img/sprite.svg

//- include ./src/pug/entries/faq.pug