.send {
  padding: 20px;
  background: $white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__linia {
    margin: 0 0 20px 0;
    max-width: 100%;
  }
  .send__linia._check_invalid {
    border: 1px solid red;
    color: red;
  }
  .input-field {
    border: 1px solid #b4b4b4;
    position: relative;
    span {
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      height: auto;
      color: red;
      display: none;
    }
  }

  p.but-wave {
    button {
      width: 100%;
      height: 100%;
      min-width: 200px;
      min-height: 40px;
      border-radius: 5px;
    }
  }
  .input-field input[type="text"],
  .input-field input[type="email"],
  .input-field input[type="tel"] {
    border: none;
  }

  .text-field input[type="text"],
  .text-field input[type="tel"],
  .text-field input[type="email"] {
    padding: 15px 15px 0px 15px;
  }

  .input-field._check_invalid {
    border: 1px solid red;
    input[type="text"] + label,
    input[type="email"] + label,
    input[type="tel"] + label,
    textarea + label {
      color: red;
    }
    span {
      display: block;
    }
  }
  .text-field label {
    left: 10px;
  }
  .textarea-field {
    border: 1px solid #b4b4b4;
  }
  .fildset-checkbox {
    margin: 10px 0;
  }
  .textarea-field textarea + label {
    padding: 0px;
  }
  .textarea-field._check_invalid {
    border: 1px solid red;
    textarea + label {
      color: red;
    }
  }
}
