._hover-typed._hover-typed--1
  p._hover-typed__text.ttu 111111 typed strings hovertyped strings hover
  .typed-strings.typed-strings-1
    p.ttu 111111 typed strings hovertyped strings hover
  span.typed-1.ttu
._hover-typed._hover-typed--2
  p._hover-typed__text.ttu 222222 typed strings hovertyped strings hover
  .typed-strings.typed-strings-2
    p.ttu 222222 typed strings hovertyped strings hover
  span.typed-2.ttu