section.accord#accord--cases1
  .container
    .accord__body._accord-js._accord-galery-js._accord-cases-js
      nav.accord__nav._accord-nav-js
        button(type='button')  s
        button(type='button')  l
        button(type='button')  i
        button(type='button')  d
        button(type='button')  all

      .accord__hidden._accord-hidden-js
        .accord-hidden__wrap._accord-hidden-wrap-js
          ul.accord__content._accord-content-js._accord-default-js
            -
              var blocks = [
                {src: 'assets/img/img-3.png',data: 'red',},
                {src: 'assets/img/img-1.png',data: 'red',},
                {src: 'assets/img/img-2.png',data: 'red',},
                {src: 'assets/img/paralax.jpg',data: 'blue',},
                {src: 'assets/img/paralax.jpg',data: 'blue',},

              ];
            each block in blocks
              li
                img(src=block.src alt='img')
          ul.accord__content._accord-content-js
            -
              var blocks = [
                {src: 'assets/img/paralax.jpg',data: 'blue',},
                {src: 'assets/img/paralax.jpg',data: 'blue',},
                {src: 'assets/img/img-2.png',data: 'blue',},
                {src: 'assets/img/img-2.png',data: 'blue',},
              ];
            each block in blocks
              li
                img(src=block.src alt='img')
          ul.accord__content._accord-content-js
            -
              var blocks = [
                {src: 'assets/img/img-1.png',data: 'green',},
                {src: 'assets/img/img-2.png',data: 'green',},
                {src: 'assets/img/img-3.png',data: 'green',},
              ];
            each block in blocks
              li
                img(src=block.src alt='img')
          ul.accord__content._accord-content-js
            -
              var blocks = [
                {src: 'assets/img/img-2.png',data: 'coral',},
                {src: 'assets/img/img-2.png',data: 'coral',},
              ];
            each block in blocks
              li
                img(src=block.src alt='img')
          ul.accord__content._accord-content-js
          .slider-cases.swiper-container
            button.slider-arrow.cases-prev.js-cases-prev(type='button')
              svg
                use(xlink:href='#chevron-left')
            button.slider-arrow.cases-next.js-cases-next(type='button')
              svg
                use(xlink:href='#chevron-right')
            ul.swiper-wrapper
            .swiper-pagination-cases


