#feed.swiper-1.feed
  #feedSwip.swiper.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        svg
          use(xlink:href='#c')
        .feed__title
          h3 Paul
        p.feed__info Owner in 
          span Paul.com
        p.feed__text Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing
        .feed__bage
          .imgs
            img(src = "assets/img/feed/i-1.png" alt = "img")
      li.swiper-slide
        svg
          use(xlink:href='#c')
        .feed__title
          h3 Robert
        p.feed__info Founder in 
          span Apple inc.
        p.feed__text Projects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.
        .feed__bage
          .imgs
            img(src = "assets/img/feed/i-2.png" alt = "img")
      li.swiper-slide
        svg
          use(xlink:href='#c')
        .feed__title
          h3 Paul
        p.feed__info Owner in 
          span Paul.com
        p.feed__text Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing
        .feed__bage
          .imgs
            img(src = "assets/img/feed/i-1.png" alt = "img")
      li.swiper-slide
        svg
          use(xlink:href='#c')
        .feed__title
          h3 Robert
        p.feed__info Founder in 
          span Apple inc.
        p.feed__text Projects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.
        .feed__bage
          .imgs
            img(src = "assets/img/feed/i-2.png" alt = "img")
      li.swiper-slide
        svg
          use(xlink:href='#c')
        .feed__title
          h3 Paul
        p.feed__info Owner in 
          span Paul.com
        p.feed__text Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing
        .feed__bage
          .imgs
            img(src = "assets/img/feed/i-1.png" alt = "img")
      li.swiper-slide
        svg
          use(xlink:href='#c')
        .feed__title
          h3 Robert
        p.feed__info Founder in 
          span Apple inc.
        p.feed__text Projects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.
        .feed__bage
          .imgs
            img(src = "assets/img/feed/i-2.png" alt = "img")

  .swiper-pagination-feed
