.book {
  padding: 11px 0;


  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 33px;
  }

  h2 {
    color: rgb(0, 107, 54);
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__section {
    min-width: 240px;
    min-height: 42px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column;

    .calendar {
      position: absolute;
      top: 100%;
      z-index: 200;
    }


    .input-field {
      height: 100%;

      label {
        color: rgb(87, 87, 87);
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        padding: 0;
        left: 12px !important;
      }

      input {
        color: rgb(111, 111, 111);
        font-family: Arial;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        height: 100%;
        min-height: 42px;
        border: none;
        padding: 0 12px 0;
        margin: 5px 0 0 0;
      }
    }
  }

  button.form-button {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    background: rgb(0, 107, 54);
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
    height: 42px;
    line-height: 16px;
  }

  // button {
  //   background-color: rgb(112, 146, 61);

  //   &:disabled {
  //     opacity: .5;

  //     &:hover {
  //       cursor: not-allowed;

  //       &:hover {
  //         box-shadow: none;
  //       }
  //     }
  //   }
  // }
}

.errors {
  color: red;
  margin: 0 0 20px 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);

}