.swiper#Swiper-worter.sell.lernen--worter
    .swiper-wrapper
        -
          var blocks = [
                        {
              title: 'крышка',
              text: 'Deckel'
            },
            {
              title: 'выходить',
              text: 'ausgehen'
            },
            {title: 'приятный',text: 'angenehm'},
            {title: 'тенистый',text: 'schattige'},
            {title: 'то же самое',text: 'genauso'},
            {title: 'наблюдать',text: 'beobachten'},
            {title: 'исцелить',text: 'heilen'},
            {title: 'пересечь',text: 'überquert'},
            {title: 'Мика ничего не может поделать',text: 'Mika kann nicht anders'},
            {title: 'Встреча',text: 'Begegnung'},
            {title: 'наконец',text: 'schließlich'},
            {title: 'что-то',text: 'irgendetwas'},
            {title: 'беззаботный',text: 'unbeschwert'},
            {title: 'между тем',text: 'mittlerweile'},
            {title: 'Куча',text: 'Haufen'},
            {title: 'только',text: 'lediglich'},
            {title: 'утилизировать',text: 'entsorgen'},
            {title: 'затруднительный',text: 'umständlich'},
            {title: 'Странно',text: 'seltsam'},
            {title: 'Большое количество',text: 'Menge'},
            {title: 'подмигивать',text: 'zwinkern'},
            {title: 'оборачиваться',text: 'umdrehen'},
            {title: 'Табурет',text: 'Hocker'},
            {title: 'конченый',text: 'erledigt'},
            {title: 'позволять',text: 'erlauben'},
            {title: 'взволнованный',text: 'aufgeregt'},
            {title: 'махать',text: 'winken'},
            {title: 'оживленный',text: 'lebhaft'},
            {title: 'вчерашний',text: 'gestrige'},
            {title: 'брать на себя',text: 'übernehmen'},
            {title: 'отправляйтесь в путь',text: 'machen sie sich auf den Weg'},
            {title: 'Документы',text: 'Unterlagen'},
            {title: 'запасный',text: 'vorrätig'},
            {title: 'однако',text: 'allerdings, jedoch'},
            {title: 'зарплата',text: 'Gehalt'},
            {title: 'по меньшей мере',text: 'wenigstens'},
            {title: 'суетливый',text: 'hektisch'},
            {title: 'Урожай',text: 'Ernte'},
            {title: 'при случае',text: 'gelegentlich'},
            {title: 'друг от друга',text: 'voneinander'},
            {title: 'дополнительный',text: 'zusätzlich'},
            {title: 'кусать',text: 'beißen'},
            {title: 'Выражение',text: 'Redewendung'},
            {title: 'Правда',text: 'Wahrheit'},
            {title: 'ревнивый',text: 'neidisch'},
            {title: 'восхищенное',text: 'bewundert'},
            {title: 'Закат',text: 'Sonnenuntergang'},
            {title: 'бесконечно',text: 'unendlich'},
            {title: 'Зависть',text: 'Neid'},
            {title: 'След',text: 'Spur'},
            {title: 'вот что я подумал',text: 'das dachte ich mir'},
            {title: 'но теперь с тобой',text: 'jetzt aber ab mit dir'},
            {title: 'глядя в глаза',text: 'in die Augen gestarrt'},
            {title: 'Холм',text: 'Hügel'},
            {title: 'зевать',text: 'gähnen'},
            {title: 'Адвокат',text: 'Rechtsanwalt'},
            {title: 'прерывать',text: 'unterbrechen'},
            {title: 'тем самым',text: 'hiermit'},
            {title: 'моргать',text: 'blinzeln'},
            {title: 'выстукивать',text: 'tippen'},
            {title: 'поспешно',text: 'eilig'},
            {title: 'а именно',text: 'nämlich'},
            {title: 'высаживаться из',text: 'aussteigen aus'},
            {title: 'Торможение',text: 'Bremsung'},
            {title: 'дрожащий',text: 'zitternd'},
            {title: 'лаять',text: 'bellen'},
            {title: 'преувеличивать',text: 'übertreiben'},
            {title: 'тревожить',text: 'stören'},
            {title: 'прекрати это делать',text: 'hör damit auf'},
            {title: 'трясти',text: 'schütteln'},
            {title: 'Усилие',text: 'Mühe'},
            {title: 'ласкать гладить',text: 'streicheln'},
            {title: 'зло',text: 'übel'},
            {title: 'Коридор',text: 'Gang'},
            {title: 'нащупывает тайком',text: 'tasten heimlich'},
            {title: 'чужие',text: 'fremden'},
            {title: 'Я немного боюсь садиться в машину с незнакомыми людьми',text: 'ich habe etwas Angst mich zu fremden Menschen ins Auto zu setzen'},
            {title: 'кстати',text: 'übrigens'},
            {title: 'Также',text: 'ebenfalls'},
            {title: 'больше не',text: 'nicht mehr'},
            {title: 'что происходит, то происходит',text: 'was ab ist ist ab'},
            {title: 'медлить',text: 'zögern'},
            {title: 'удивленный',text: 'erstaunten'},
            {title: 'скрытый от',text: 'versteckt vor'},
            {title: 'тихо',text: 'leise'},
            {title: 'не любой ценой',text: 'nicht um jeden Preis'},
            {title: 'возможность',text: 'gelegenheit'},
            {title: 'билет на поезд для вас слишком дорогой',text: 'die Zugfahrkarte ist ihnen zu teuer'},
            {title: 'маршрут',text: 'Strecke'},
            {title: 'занимать',text: 'ausleihen'},
            {title: 'доверчивый',text: 'zutraulich'},
            {title: 'решенный',text: 'abgemacht'},
            {title: 'упрекать',text: 'vorwerfen'},
            {title: 'неподходящий',text: 'unpassend'},
            {title: 'удобный',text: 'bequem'},
            {title: 'Миска',text: 'Schüssel'},
            {title: 'Лаура и Марко смотрят друг на друга',text: 'Laura und Marco sehen sich an'},
            {title: 'очень вкусный',text: 'köstlich'},
            {title: 'серьезный',text: 'ernsthaft'},
            {title: 'обиженный',text: 'beleidigt'},
            {title: 'отклонять',text: 'abweisen'},
            {title: 'поддерживать ,вести',text: 'unterhalten'},
            {title: 'сбитый с толку',text: 'verwirrt'},
            {title: 'доверять',text: 'trauen'},
            {title: 'обдуманный',text: 'überlegt'},
            {title: 'полностью',text: 'völlig'},
            {title: 'в беспорядке',text: 'durcheinander'},
            {title: 'Полезное',text: 'Sinnvolles'},
            {title: 'спешить',text: 'eilen'},
          ];
        each block in blocks
          .swiper-slide
            .container
              .swiper-slide__body
                .swiper-slide__title 
                  h3=block.title
                .schattig=block.text
                a.swiper-slide__text.but-wave.popups-init-js(rel='#popup2' href='#!') überzetzung