li.patern__card.patern-card
  .patern-card__img.rel
    .imgs
      img(src='../../../../assets/img/paralax.jpg' alt='img')
  .patern-card__title
    h3=block.title
  p.patern-card__text=block.text
  a.btn.btn--success.patern-card__button.but-wave( href='#!') button