@import "./utils/null.scss";
@import "./utils/fonts.scss";
@import "./utils/colors.scss";
@import "./utils/mixins.scss";
@import "./utils/common.scss";
@import "./utils/sliders-swiper.scss";
@import "./utils/marque.scss";
@import "./utils/typography.scss";

@import "./../pug/components/buttons/btn.scss";
@import "./../pug/components/buttons/btn-success.scss";
@import "./../pug/components/buttons/btn-blue.scss";
@import "./../pug/components/buttons/btn-empty.scss";
@import "./../pug/components/buttons/btn-wave.scss";

@import "./../pug/components/inputs/input-field.scss";
@import "./../pug/components/inputs/search-field.scss";
@import "./../pug/components/inputs/fildset-checkbox.scss";
@import "./../pug/components/inputs/fildset-radio.scss";
@import "./../pug/components/inputs/fildset-rating.scss";
@import "./../pug/components/inputs/textarea-fild.scss";
@import "./../pug/components/tab/tab.scss";



@import "./../pug/components/header/header.scss";
// @import "./../pug/components/bunner/bunner.scss";
// @import "./../pug/components/bunner/bunner-slider.scss";
@import "./../pug/components/baza/baza.scss";
// @import "./../pug/components/swiper-1/swiper-1.scss";
// @import "./../pug/components/slider-full/slider-full.scss";
// @import "./../pug/components/slider-double/sdouble.scss";
// @import "./../pug/components/slider-scroll/slider-scroll.scss";

// @import "./../pug/components/popup/popup.scss";

// @import "./../pug/components/accord/accord.scss";
// @import "./../pug/components/galSlider/galSlider.scss";
// @import "./../pug/components/galery/galery.scss";
// @import "./../pug/components/galeryPop/galeryPop.scss";

// @import "./../pug/components/look/look.scss";
@import "./../pug/components/select/select.scss";
// @import "./../pug/components/range/range.scss";
// @import "./../pug/components/footer/footer.scss";

// @import "./../pug/components/typed/typedHover.scss";
// @import "./../pug/components/title/title.scss";
// 
// @import "./../pug/components/side-menu/side-menu.scss";
// // @import "./../pug/components/cases/cases.scss";
// @import "./../pug/components/galCases/galCases.scss";
@import "./../pug/components/form/form.scss";
// @import "./../pug/components/form/header-form.scss";
// @import "./../pug/vue-components/book/book-section.scss";



.logo {
  width: 319px;
  height: 60px;
}

.info-unit {
  display: flex;
  gap: 3px;
  align-items: center;

  svg {
    width: 18px;
    height: 18px;
  }

  span {
    /* Десктоп/H6 */
    color: rgb(51, 51, 51);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
  }
}

.card {
  width: 236px;
  min-height: 205px;
  box-sizing: border-box;
  border: 1px solid rgb(230, 232, 236);
  border-radius: 8px;
  padding: 16px 24px;
  background: rgb(255, 255, 255);

  svg {
    width: 80px;
    height: 64px;
  }

  h3 {
    color: rgb(0, 128, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin: 24px 0 0 0;
  }

  p {
    color: rgb(10, 12, 19);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}