.bunner__title {
  h1 {
  font-family: 'Stolzl';
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $white;
  }
}



// .patern {
//   &__title {
//     h2 {
//       font-size: larger;
//       text-transform: uppercase;
//       color: var(--txt-gray);
//       text-align: center;
//       padding: 10px 0;
//     }
//   }
// }
// .title-do h2 {
//   font-size: 50px;
//   font-weight: bold;
//   color: var(--white);
// }

// .title-Second {
//   h2 {
//     font-size: 20px;
//     text-transform: uppercase;
//     color: coral;
//     font-weight: 700;
//   }
// }
