if patern.one
  .title2
    h2 Франшиза №1 в недвижимости
if patern.get
  .title2
    h2 Что вы получите по франшизе?
if patern.lider
  .title2
    h2 Лидеры рынка риэлторских услуг
if patern.vor
  .title2
    h2 Преимущества франшизы от VALION
if patern.partner
  .title2
    h2 Кто может стать нашим партнером?
if patern.contact
  .title2
    h2 Узнайте сколько вы сможете зарабатывать с нами!
if patern.faq
  .title2
    h2 Ответы на частые вопросы о франшизе

