if patern.bunner
  .bunner__title
    h1 Lorem ipsum dolor sit amet.
if patern.bunnerSlider
  .slider-card__title
    h1=entry.title
    h1=entry.title1
if patern.index1 || patern.index2
  .patern__title
    h2=patern.name
if patern.do
  .title-do._enter-top.ttu
    h2 enter top
if patern.tabs
  .title-Second._enter-top
    h2 tabs ==_enter-top
  .title-Second._enter-left
    h2 tabs ==_enter-left
  .title-Second._enter-right
    h2 tabs ==_enter-right
if patern.look 
  .title-Second 
      h2 look
