._scroll-typed._scroll-typed--1
  p._scroll-typed__text.ttu 11111 scroll strings hovertyped strings hover
  .typed-strings.scrolledTyped-strings--1
    p.ttu 11111 scroll strings hovertyped strings hover
  span.scrolledTyped-1.ttu
._scroll-typed._scroll-typed--2
  p._scroll-typed__text.ttu 222222 scroll strings hovertyped strings hover
  .typed-strings.scrolledTyped-strings--2
    p.ttu 222222 scroll strings hovertyped strings hover
  span.scrolledTyped-2.ttu