section(id='one').one.rel
  .container
    .one__body
      .one__img.rel._a._enter-left
        .imgs
          img(src='../../../../assets/img/one.svg' alt='img')
      .one__title._b.title2._enter-right
        h2 Франшиза №1 в недвижимости
      ul.one__blocks._c
        include ../items/items.pug
      .one__button._d
        a.btn.btn--empty.but-wave.popups-init-js(rel='#popup1' href='#!')
          p Оставить заявку
  .marque
    ul.one__tauns
        li БРОВАРЫ
        li Киев
        li Ирпень
        li Одесса
        li Харьков
        li Борисполь
        li Николаев
        li БРОВАРЫ
        li Киев
        li ПОЛТАВА
    



