section(id='one').one.rel
  .container
    .one__body
      .one__img.rel._a
        .imgs
          img(src='../../../../assets/img/one.svg' alt='img')
      .one__title._b
        include ../title/title.pug
      ul.one__blocks._c
        include ../items/items.pug
      .one__button._d
        include ../buttons/bunner-button.pug
  .marque
    ul.one__tauns
        li БРОВАРЫ
        li Киев
        li Ирпень
        li Одесса
        li Харьков
        li Борисполь
        li Николаев
        li БРОВАРЫ
        li Киев
        li ПОЛТАВА
    



