.one {
  display: flex;
  flex-direction: column;
  &__body {
    padding: 60px 0 0 0;
    display: grid;
    grid-template-areas: "a b" "a c" "a d";
    grid-template-columns: 695px 1fr;
    column-gap: 60px;
    ._a {
      grid-area: a;
    }
    ._b {
      grid-area: b;
    }
    ._c {
      grid-area: c;
    }
    ._d {
      grid-area: d;
    }
  }
  &__img {
    min-height: 393px;
  }
  &__blocks {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 40px 0 0 0;
  }
  &__button {
    margin: 40px 0 0 0;
  }
  &__tauns {
    margin: 67px 0 0 0;
    display: flex;
    column-gap: 70px;
      padding: 0 35px;
    li {
      font-family: "Stolzl_medium";
      font-size: 30px;
      line-height: 36px;
      color: $white-two;
      text-transform: uppercase;
    }
  }
}

#one {
 .addDiv{
  background-color: lighten($blood-orange , 20%);
 }
}

