section(id='one').one.rel
  .container
    .one__body
      .one__img.rel
        .imgs
          img(src='../../../../assets/img/one.svg' alt='img')
      .one__title
        include ../title/title.pug
      ul.one__blocks
        include ../items/items.pug
      .one__button
        include ../buttons/bunner-button.pug
  .one__tauns 
    span БРОВАРЫ
    span Киев
    span Ирпень
    span Одесса
    span Харьков
    span Борисполь
    span Николаев
    span БРОВАРЫ
    span Киев
    span ПОЛТАВА



