section(id="pac").pac.rel
  .container
    ul.pac__body.look__container--small
      li.pac__block
        p.pac__item Included in the package
        p.pac__item Complete management
        p.pac__item Partial control
      li.pac__block
        p.pac__item Real estate advertising
        p.pac__item ✓
        p.pac__item ✓

      li.pac__block
        p.pac__item Search for tenants
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item Conclusion of a lease agreement
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item Getting paid
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item Key handover
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item Payment processing
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item Dealing with repair requests
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item DEWA connection (electricity/water)
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item Registration of the rental agreement Ejari
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item Separate administrator
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item Detailed inspection of the object
        p.pac__item ✓
        p.pac__item ✓
      li.pac__block
        p.pac__item Property preparation before arrival
        p.pac__item 
        p.pac__item ✓
      li.pac__block
        p.pac__item Reporting
        p.pac__item 
        p.pac__item ✓
      li.pac__block
        p.pac__item Repair Request Management
        p.pac__item 
        p.pac__item ✓
      li.pac__block
        p.pac__item Repair management
        p.pac__item 
        p.pac__item ✓
