section(id='licens').licens.rel
  .container
    .licens__body
      .licens__title.title
        h2 Наши лицензии  
          span и сертификаты
      .licens__slider
        include ../swiper-1/swiper-1.pug








