.licens {
  &__slider {
    margin: 57px 0 0 0;
  }
  #swiper-1licens {
    padding: 0 0 20px 0;
    .swiper-slide {
      box-shadow: 0 4px 24px 0 rgba(27, 49, 95, 0.15);
      border: solid 12px $white;
      position: relative;

      &::after {
        content: "";
        background-color: rgba(21, 47, 96, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.3s;
        opacity: 1;
      }

    }
    .swiper-slide:hover {
      &::after {
        opacity: 0;
      }
      & > a.common__link {
        opacity: 1;
        box-shadow: 0 4px 24px 0 rgba(27, 49, 95, 0.15);
      }
    }
  }
}
