section(id="blog").blog.rel
  .container
    .look__pan
      a(href="#!") Main
      svg
        use(xlink: href = "#chevron-right")
      a(href="#!") Services
      svg
        use(xlink: href = "#chevron-right")
      a(href="#!") Rent
      svg
        use(xlink: href = "#chevron-right")
      a(href="#!") Furnished Apartments in Dubai
    .blog__head
      .blog__title
        h1 Blog
      form.blog__search.search.header__search.search-field(method='GET' action='/search' onsubmit='return false;')
        input#search1(type='text' placeholder='search' name='query' )
        label(for='search1') search...
        .search-field__submit
          input(type='submit')
          svg
            use(xlink:href='#search')
    ul.blog__body.look__container
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-1.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-2.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-3.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-4.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-5.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-6.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-7.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-8.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-9.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-10.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-11.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
      li.blog__card.blog-card
        .blog-card__img.rel
          .imgs
            img(src='assets/img/blog-12.png' alt='img')
        .blog-card__low
          h3 Commercial property in Abu Dhabi
          p.blog-card__text In Dubai, the final statistics of all transactions related to real estate for the first quarter has been confirmed ...
          a.btn-empty.btn(href="#!") Learn more
            svg
              use(xlink:href='#chevron-right')
    .blog__pan
      svg
        use(xlink:href='#chevron-left')
      a(href="#!")._is-active 1
      a(href="#!") 2
      a(href="#!") 3
      a(href="#!") ...
      a(href="#!") 94
      a(href="#!") 95
      a(href="#!") 96
      svg
        use(xlink:href='#chevron-right')