.header {
  z-index: 50;
  transition: all 0.2s ease-in-out;
  position: fixed;
  width: 100%;
  min-height: 63px;
  padding: 20px 0 26px;
  display: flex;
  align-items: center;
  top: 0;
  // background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;

  input[type="radio"]:checked + label {
    color: $light-gold;
    transition: all 0.2s;
    padding: 0 0 0 0;
  }
  input[type="radio"]:not(:checked) + label {
    color: $warm-grey-two;
    transition: all 0.2s;
    padding: 0 0 0 0;
  }
  input[type="radio"]:checked + label:after,
  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label:after,
  input[type="radio"]:not(:checked) + label::before {
    display: none;
  }
  .container {
    height: 100%;
  }

  &__body {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 184px 1fr 450px;
    width: 100%;
    gap: 0 150px;
    justify-content: space-between;
  }

  &__burger {
    display: none;
  }
  &__close {
    display: none;
  }
}

/*=====================*/
.logo {
  display: flex;
  align-items: center;
}

.logo__link img {
  height: 63px;
  width: 184px;
}

/*=====================*/
.header__menu {
  position: relative;
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  display: flex;
  align-items: center;
  height: 100%;

  &:nth-child(1) {
    margin: 0 37px 0 0;
  }
  &:nth-child(2) {
    margin: 0 50px 0 0;
  }
  &:nth-child(3) {
    margin: 0 50px 0 0;
  }
}

.menu__link {
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  color: $white;
  position: relative;
  cursor: pointer;
  svg {
    margin: 0 0 0 10px;
    width: 15px;
    height: 15px;
    fill: $white;
    transition: all 0.2s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
  }
  &._is-active {
    & ~ .menu-tab {
      max-height: 108px;
      border: solid 1px $warm-grey;
      background-color: $black;
    }
    svg {
      fill: $light-gold;
      transform: rotate(180deg);
    }
  }
}

.menu__link--active {
  color: $light-gold;

  &::after {
    background-color: $light-gold;
  }
  &:hover {
    color: $light-gold;
    text-shadow: none !important;
  }
}

.menu__tab {
  transition: all 0.3s;
  overflow: hidden;
  position: absolute;
  width: 247px;
  height: 108px;
  bottom: 0px;
  top: 64px;
  max-height: 0;
  border: solid 1px transparent;
}
.menu-tab {
  &__item {
    font-size: 14px;
    font-weight: 600;
    color: $white;
    min-height: 36px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background-color: $light-gold;
      color: $black;
    }
  }
}
/*=====================*/
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__phone {
  white-space: nowrap;
  font-weight: 600;
  color: $white;
}
// ==========================================
.responciveHeader {
  position: fixed;
  width: 100%;
  height: 69px;
  background: rgba(15, 18, 22, 0.65);
  border: 1px solid #1e2329;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
  padding: 0 0 0 0;
  z-index: 10000;
}
.header__button {
  width: 165px;
}
.header__button {
  height: 40px;
}
.header__lang {
}
.header-lang {
  display: flex;
  column-gap: 5px;
}
.header-lang__item {
  &:hover {
    color: $light-gold-hover;
    text-shadow: 0px 0px 20px white;
  }
}
/*=========@media==============*/

@media (min-width: 1000px) and (max-width: 1199px) {
  .header {
    height: 60px;
  }

  .header__body {
    grid-template-columns: 100px 1fr minmax(260px, auto);
  }

  .info__phone {
    margin: 0 0 10px 0;
  }

  .header__menu {
    margin: 0 20px 0 0;
  }

  .info__search {
    margin: 0;
  }

  .info {
    padding: 0 0 0 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

// input#boxen(type="radio"  name='boxlang')~label

/*===========*/

@media (max-width: 999px) {
  .header {
    height: 60px;
  }

  .info__phone {
  }

  .header__body {
    grid-template-columns: 100px 1fr;
  }

  .header .header__menu {
    margin: 0;
  }

  .icon {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
    stroke: transparent;
    fill: white;
    position: absolute;
    cursor: pointer;
    &:hover {
      fill: rgb(199, 199, 199);
    }
  }

  .header__burger {
    top: 50%;
    right: 0;
    transform: translate(0%, -50%) rotate(0);
    display: inline-block;
  }

  .header__close {
    top: 10px;
    right: 20px;
    display: block;
  }

  .responciveHeader {
    .icon {
    }
  }

  .info-active a.info__phone {
  }

  .logo__link img {
    height: 30px;
    width: 30px;
  }
  .logo__description {
  }

  .header__menu {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-100vw);
    left: 0;
    padding: 100px 20px 0 20px;
    overflow: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    z-index: 1000;
    transition: all 0.2s ease-in-out;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-active {
    transform: translateX(0);
  }

  .info {
    display: none !important;
  }

  .info.info-active {
    display: block !important;
    transition: all 0.2s ease-in-out;
  }

  .info__search {
    margin: 50px 0 0;
  }

  .info__search input[type="text"] {
    width: 100%;
  }

  .menu-active .menu__link {
    border-radius: 10px;
    padding: 5px;
    background: transparent;
  }

  .menu__link--active {
    outline: 1px solid #f73030;
    background: #df8383 !important;
  }
  .menu__item {
    margin: 0 0 20px 0;
    width: 100%;
    justify-content: flex-end;
  }

  .menu__item:last-child {
    margin: 0 0 30px 0;
  }
}
