header.header
  .container
    .header__body 
      .header__logo.logo
        a(href='#!').logo__link
          img(src='./assets/img/logo.svg' alt='img') 
      nav.header__menu.menu
        svg.icon.header__close
          use(xlink:href='#x')
        ul.menu__list
          li.menu__item
            .menu__link.menu-link-js.menu__link--active.t-14 buy
              svg
                use(xlink:href='#chevron-down')
            .menu__tab.menu-tab
                a(href="#!").menu-tab__item Category number one
                a(href="#!").menu-tab__item Apartments in Dubai
                a(href="#!").menu-tab__item Category number twenty five
          li.menu__item
            a.menu__link.t-14(href='#!' rel='#posts') Blog
          li.menu__item
            a.menu__link.t-14(href='#!' rel='#galery') About
          li.menu__item
            a.menu__link.t-14(href='#!' rel='#galery') Contact
      .header__info.info
        a.header__button.btn.btn--success.but-wave.popups-init-js(rel='#popup1' href='#!')
            p.t-14
              | Book a consultation
        
        .header__lang.header-lang
          input(type="radio" id="boxen" name='boxlang'  val='en' checked)
          label(for="boxen")._hover.ttu.t-16  en
          input(type="radio" id="boxru" name='boxlang' val='ru')
          label(for="boxru")._hover.ttu.t-16  ru
          
        a.info__phone(href='#!').t-16 +7(000) 123 45 65 67 
      
      svg.header__burger.icon
          use(xlink:href='#list')

