.header {
  z-index: 50;
  transition: all 0.2s ease-in-out;
  position: fixed;
  width: 100%;
  height: 146px;
  display: flex;
  align-items: center;
  top: 0;
  border: 1px solid transparent;
  // background-image: url("/dist/img/img-1.png")
}

.header .container {
  height: 100%;
}

.header__body {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 194px 1fr 666px;
  grid-template-rows: 1fr 60px;
  width: 100%;
  gap: 0 20px;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__close {
  display: none;
}

.header__low {
  height: 60px;
  grid-column: 1/4;
}
/*=====================*/
.logo {
  gap: 0 10px;
  display: flex;
  align-items: center;
  width: 194px;
  height: 64px;
}

.logo__link img {
  width: 100%;
  height: 100%;
}

/*=====================*/


/*=====================*/
.menu {
  &__list {
  }
  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    /* border: 1px solid transparent; */
    margin: 0 10px 0 0;
  }
  &__link {
    // display: flex;
    // align-items: center;
    // height: 100%;
    // padding: 0 10px;
    // transition: all 0.2s ease-in-out;
    // color: $dark-slate-blue-two;
    // font-family: "Montserrat";
    // font-size: 18px;
    // font-weight: 500;
    // &:hover {
    //   color: $hover !important;
    // }
  }
  &__link--active {
    // color: white !important;
    text-shadow: 0px 0px 10px $azul !important;
  }
}

/*=====================*/
.info {
  display: grid;
  grid-template-areas: "a c d" "b c d";
  grid-template-columns: 1fr 56px 246px;
  gap: 0 32px;
  ._a {
    grid-area: a;
  }
  ._b {
    grid-area: b;
  }
  ._c {
    grid-area: c;
  }
  ._d {
    grid-area: d;
  }
  &__search {
    width: 56px;
    height: 56px;
    border-radius: 4px;
    background-color: $ice-blue;
    position: relative;
    svg {
      fill: $azul;
      width: 28px;
      height: 28px;
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      transition: all 0.3s;
    }
    &:hover {
      background-color: $azul;
      svg {
        fill: $hover;
      }
    }
  }
  &__phone {
    white-space: nowrap;
    text-align: end;
  }
  &__adress {
    white-space: nowrap;
    text-align: end;
  }
  &__button {
    width: 246px;
    height: 56px;
  }
}

// ==========================================
.responciveHeader {
  position: fixed;
  width: 100%;
  height: 125px;
  background: rgba(15, 18, 22, 0.65);
  border: 1px solid #1e2329;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
  .tab__title{
    padding: 6px;
  }
  .header__low {
  height: 33px;
}
}



/*=========@media==============*/

@media (min-width: 1000px) and (max-width: 1199px) {
  .header {
    height: 60px;
  }

  .header__body {
    grid-template-columns: 100px 1fr minmax(260px, auto);
  }

  .info__phone {
    margin: 0 0 10px 0;
  }

  .header__menu {
    margin: 0 20px 0 0;
  }

  .info__search {
    margin: 0;
  }

  .info {
    padding: 0 0 0 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

/*===========*/

@media (max-width: 999px) {
  .header {
    height: 60px;
  }

  .info__phone {
  }

  .header__body {
    grid-template-columns: 100px 1fr;
  }

  .header .header__menu {
    margin: 0;
  }

  .icon {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
    stroke: transparent;
    fill: white;
    position: absolute;
    cursor: pointer;
    &:hover {
      fill: rgb(199, 199, 199);
    }
  }

  .header__burger {
    top: 50%;
    right: 0;
    transform: translate(0%, -50%) rotate(0);
    display: inline-block;
  }

  .header__close {
    top: 10px;
    right: 20px;
    display: block;
  }

  .responciveHeader {
    .icon {
    }
  }

  .info-active a.info__phone {
  }

  .logo__link img {
    height: 30px;
    width: 30px;
  }
  .logo__description {
  }

  .header__menu {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-100vw);
    left: 0;
    padding: 100px 20px 0 20px;
    overflow: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    z-index: 1000;
    transition: all 0.2s ease-in-out;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-active {
    transform: translateX(0);
  }

  .info {
    display: none !important;
  }

  .info.info-active {
    display: block !important;
    transition: all 0.2s ease-in-out;
  }

  .info__search {
    margin: 50px 0 0;
  }

  .info__search input[type="text"] {
    width: 100%;
  }

  .menu-active .menu__link {
    border-radius: 10px;
    padding: 5px;
    background: transparent;
  }

  .menu__link--active {
    outline: 1px solid #f73030;
    background: #df8383 !important;
  }
  .menu__item {
    margin: 0 0 20px 0;
    width: 100%;
    justify-content: flex-end;
  }

  .menu__item:last-child {
    margin: 0 0 30px 0;
  }
}
