header.header
  .container
    .header__body 
      .header__logo.logo
        a(href='#!').logo__link
          img(src='./assets/img/logo.svg' alt='img') 
      ul.header__soc
        include  ../common/soc.pug
      .header__info.info
        a.info__phone._s-24._a(href='#!') 8 (800) 123-45-67
        .info__adress._b г. Богучар, ул. Мжд Киевское 17-й км
        a(href="!#").info__search._c.center
          svg
            use(xlink:href='#search')
        ._d
          include  ../buttons/button.pug
      nav.header__menu.menu.rel.header__low
        svg.icon.header__close
          use(xlink:href='#x')
        .menu__list
          include ../tabs/tabs.pug
      svg.header__burger.icon
          use(xlink:href='#list')

